{% extends "base_layout.html" %}
{% block content %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{ title }}</div>
        <div class="table-responsive">
            <ul class="list-group">
                <i class="list-group-item"><a href="{% url "payment" %}">Demo Thanh toán</a></i>
                <i class="list-group-item"><a href="{% url "query" %}">Demo Query (Kiểm tra kết quả Giao dịch tại
                    VNPAY)</a></i>
                <i class="list-group-item"><a href="{% url "refund" %}">Demo Refund (Gửi yêu cầu hoàn tiền cho giao
                    dịch)</a></i>
            </ul>
        </div>
    </div>

    <script>
        // Hàm kiểm tra access token
        function checkAccessToken() {
            const accessToken = localStorage.getItem('access_token');
            if (!accessToken) {
                // Nếu không có token, chuyển hướng về trang đăng nhập
                window.location.href = '/login/';
            } else {
                const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
                const currentTime = Math.floor(Date.now() / 1000);

                // Kiểm tra xem token đã hết hạn chưa
                if (tokenPayload.exp < currentTime) {
                    // Nếu token hết hạn, chuyển hướng về trang đăng nhập
                    alert('token het han vui long login');
                    localStorage.removeItem('access_token');
                    window.location.href = '/login/';
                } 
            }
        }

        checkAccessToken();
    </script>
{% endblock %}
