{% extends 'base.html' %} 
{% load static %}

{% block area %} 
<style>
  .container-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box-area-list-area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    background-color: #fdfcf0;
    border-bottom: 1px solid #cdc197;


  }
  .area-list-area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .area-item{
    padding: 4px 14px;
    margin: 0px 5px;
    font-weight: bold;
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 2px #cdc197;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000;
    transition: all 0.2s linear;
    
  }
  .area-item:hover{
    border-color: #cdc197;
    box-shadow: 0px 0px 0px 2px #d5a12c;
    color: #cdc197;

  }
  .area-name{

  }


  .box-place-list-area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfcf0;
    

  }
  .place-list-area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .place-item{
    padding: 4px 14px;
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 2px #cdc197;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 5px;
    transition: all 0.2s linear;

  }

  .place-item:hover{
    border-color: #cdc197;
    box-shadow: 0px 0px 0px 2px #d5a12c;
    color: #cdc197;

  }
  .place-name{
    
  }


  .box-place-detail-area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .place-detail-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .box-place-image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .place-image{
    width: 100%;
  }

  .box-place-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

  }
  .box-place-info .place-name{
    font-size: 28px;
    font-weight: bold;

  }
  .place-address{
    font-size: 14px;

  }
  .box-place-map{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    

  }
  .place-map{
    width: 100%;
    height: 400px;
    border: 1px solid #cdc197;
    box-shadow: 0px 0px 0px 1px #cdc197;

  }


  .box-day-show-list-area{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed #cdc197;
    text-shadow: 1px 1px 1px #000;
    padding: 10px 0px;
    display: none;
    

  }
  .day-show-list-area{
    
    
  }


  .btn-nav-bar-dayshow{
    font-size: 30px;
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.2s linear;
    margin: 0px 10px;
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    
  }

  .btn-nav-bar-dayshow:hover{
      color: #cdc197;
      border-color: #cdc197;
      box-shadow: 0px 0px 0px 3px #d5a12c;

  }


  #day-show-list{
    width: 82%;
    z-index: 1000;
    
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
    padding: 0px 5px;

  }

  .day-show-item{
    font-size: 14px;
    min-width: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0px;
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 2px #cdc197;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    text-shadow: 1px 1px 1px #000;
    transition: all 0.2s linear;

  }

  .day-show-item:hover{
    border-color: #cdc197;
    box-shadow: 0px 0px 0px 2px #d5a12c;
    color: #cdc197;

  }
  .day-show-day{

  }

  .box-film-list-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .film-list-area{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .film-day-show-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #cdc197;
    padding: 10px 10px 30px 10px;
    
  }

  .box-info-film-day-show{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;

  }
  .film-day-show-age{
    width: 24px;
    height: 24px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border: 1px solid #d5a12c;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 2px #d5a12c;
    


  }
  .film-day-show-name{
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: bold;

  }
  .box-list-film-day-show-schedule{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
  }

  .schedule-item{
    cursor: pointer;
    margin: 10px 0px;
    border: 1px solid #cdc197;
    transition: all 0.2s linear;

  }

  .schedule-item:hover {
      box-shadow: 0px 0px 3px 2px #d5a12c;
      color: #cdc197;
      border-color: #d5a12c;
  }
  
  .box-schedule-room{
    font-size: 13px;
    border-bottom: 1px dashed #cdc197;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;

  }
  .schedule-room-name{

  }
  .box-schedule-time{
    font-size: 15px;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;


  }
  .schedule-start-time{
    margin-right: 3px;
  }
  .schedule-end-time{
    margin-left: 3px;
  }

  .box-shadow{
    border-color: #cdc197;
    box-shadow: 0px 0px 0px 2px #d5a12c;
    color: #cdc197;
    
  }

</style>

<div class="container-area">

    <div class="box-area-list-area">
      <div class="area-list-area"  id="area-list">

      </div>
    </div>
    
    <div class="box-place-list-area">
      <div class="place-list-area" id="place-list">
        
      </div>

    </div>
    
    <div class="box-place-detail-area">
      <div class="place-detail-area" id="place-detail">

      </div>
    </div>
    

    <div class="box-day-show-list-area">

      <span id="btn-left" class="btn-nav-bar-dayshow"><i class="fa-solid fa-chevron-left"></i></span>
      <div class="day-show-list-area" id="day-show-list">

      </div>
      <span id="btn-right" class="btn-nav-bar-dayshow"><i class="fa-solid fa-chevron-right"></i></span>
      
    </div>

    <div class="box-film-list-area">
      <div class="film-list-area"  id="film-list">
      
      </div>
    </div>
   
    


</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<script>
// Lấy danh sách phim từ API
fetch('/api/areas/')
.then(response => response.json())
.then(data => {
const areaList = document.getElementById('area-list');
let activeAreaItem = null; 

// Tạo các phần tử phim
data.results.forEach(area => {
    const areaItem = document.createElement('div');
    areaItem.classList.add('area-item');
    areaItem.innerHTML = `
        
        <span class="area-name">${area.name}</span>
           
    `;
    areaItem.addEventListener('click', () => {
        getAreaDetails(area.id);

        // Nếu có một areaItem đang được chọn, xóa class khỏi nó
        if (activeAreaItem && activeAreaItem !== areaItem) {
            activeAreaItem.classList.remove('box-shadow');
        }

        // Thêm class vào areaItem được click
        areaItem.classList.add('box-shadow');

        // Cập nhật activeAreaItem
        activeAreaItem = areaItem;

    });
    areaList.appendChild(areaItem);
});
})
.catch(error => {
console.error('Error fetching area data:', error);
});

function getAreaDetails(areaId) {
    fetch(`/api/places/?area=${areaId}`)
      .then(response => response.json())
      .then(data => {
        
        const placeList = document.getElementById('place-list');
        placeList.innerHTML = ''; // Xóa nội dung cũ
        let activePlaceItem = null; 
  
        data.results.forEach(place => {
          const placeItem = document.createElement('div');
          placeItem.classList.add('place-item');
          placeItem.innerHTML = `
                <span class="place-name">${place.name}</span>
          `;
          placeItem.addEventListener('click', () => {
            getPlaceDetails(place.id);
            getDayShows(place.id);
            document.querySelector('.box-day-show-list-area').style.display = 'flex';

            
            if (activePlaceItem && activePlaceItem !== placeItem) {
                activePlaceItem.classList.remove('box-shadow');
            }

            // Thêm class vào placeItem được click
            placeItem.classList.add('box-shadow');

            // Cập nhật activePlaceItem
            activePlaceItem = placeItem;


          });
          placeList.appendChild(placeItem);
        });
      })
      .catch(error => {
        console.error('Error fetching area details:', error);
      });
}
      function getPlaceDetails(placeId) {
        fetch(`/api/places/${placeId}/`)
        .then(response => response.json())
        .then(data => {
            const placeDetailContainer = document.getElementById('place-detail');
            placeDetailContainer.innerHTML = `

                    <div class="box-place-image">
                      <img id="place-image" class="place-image" src="${data.image}" alt="${data.name}">

                    </div>

                    <div class="box-place-info">
                      <span id="place-name" class="place-name" >${data.name}</span>
                      <span id="place-address" class="place-address" >${data.address}</span>

                    </div>

                    <div class="box-place-map">
                      <div id="map" class="place-map" ></div>
                      
                    </div>
                
            `;
        
            // Create the map
            const map = L.map('map').setView([data.latitude, data.longitude], 16);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        
            // Add a marker for the place
            const marker = L.marker([data.latitude, data.longitude])
            marker.addTo(map);
        
            marker.bindPopup(data.name)
            .on('mouseover', function() {
                this.openPopup();
            })
            .on('mouseout', function() {
                this.closePopup();
            })
            .closePopup();

        })
        .catch(error => {
            console.error('Error fetching place details:', error);
        });
      }


      let currentDayShowPage = 0;
      const dayShowsPerPage = 4;
      let dayShowsData = [];
      
      function getDayShows(placeDetailId) {
          fetch(`/api/dayshows/?place=${placeDetailId}&ordering=day`)
          .then(response => response.json())
          .then(data => {
              dayShowsData = data.results; 
              renderDayShows(placeDetailId); 
      
              // Thêm sự kiện cho nút Left
              document.getElementById('btn-left').addEventListener('click', () => {
                  if (currentDayShowPage > 0) {
                      currentDayShowPage--;
                      renderDayShows(placeDetailId);
                  }
              });
      
              // Thêm sự kiện cho nút Right
              document.getElementById('btn-right').addEventListener('click', () => {
                  if ((currentDayShowPage + 1) * dayShowsPerPage < dayShowsData.length) {
                      currentDayShowPage++;
                      renderDayShows(placeDetailId);
                  }
              });
          })
          .catch(error => {
              console.error('Error fetching dayshow film list:', error);
          });
      }
      
      function renderDayShows(placeDetailId) {
          const dayShowList = document.getElementById('day-show-list');
          dayShowList.innerHTML = '';
          let activeDayShowItem = null;
      
          const start = currentDayShowPage * dayShowsPerPage;
          const end = start + dayShowsPerPage;
          const dayShowsToShow = dayShowsData.slice(start, end);
      
          dayShowsToShow.forEach(dayshow => {
              const dayShowItem = document.createElement('div');
              dayShowItem.classList.add('day-show-item');
      
              const date = new Date(dayshow.day);
              const options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' };
              const formattedDate = date.toLocaleDateString('vi-VN', options);
      
              dayShowItem.innerHTML = `
              
                  <span class="day-show-day">${formattedDate}</span>
                 
              `;
              dayShowItem.addEventListener('click', () => {
                  getFilms(dayshow.id, placeDetailId);
      
                  if (activeDayShowItem && activeDayShowItem !== dayShowItem) {
                      activeDayShowItem.classList.remove('box-shadow');
                  }
                 
                  dayShowItem.classList.add('box-shadow');
      
                  activeDayShowItem = dayShowItem;
      
      
      
              });
              dayShowList.appendChild(dayShowItem);
          });
      }



        


        
          function getFilms(dayShowId, placeDetailId){
            fetch(`/api/films/?dayshow=${dayShowId}&place=${placeDetailId}`)
            .then(response => response.json())
            .then(data => {
              const filmList = document.getElementById('film-list');
              filmList.innerHTML = ''; // Xóa nội dung cũ
        
              data.results.forEach(film => {
                const filmItem = document.createElement('div');
                filmItem.classList.add('film-day-show-item');
                filmItem.innerHTML = `
                  
                    <div id="box-info-film-day-show" class="box-info-film-day-show" >
                        <span class="film-day-show-age">${film.age}</span>
                        <span class="film-day-show-name">${film.name}</span>
                    </div>

                    <div class="box-list-film-day-show-schedule" id="schedule-${film.id}">
                        <!-- Danh sách lịch chiếu của phim này sẽ được hiển thị ở đây -->
                    </div>
                  
                `;

                filmItem.querySelector('#box-info-film-day-show').addEventListener('click', function() {
                  window.location.href = `/film/${film.id}/`;
                });

                getSchedules(film.id, dayShowId, placeDetailId, `schedule-${film.id}`);
                filmList.appendChild(filmItem);
        
              });
            })
            .catch(error => {
              console.error('Error fetching film details:', error);
            });
          }
            function getSchedules(filmId, dayShowId, placeDetailId, scheduleListId) {
              fetch(`/api/schedules/?film=${filmId}&dayshow=${dayShowId}&place=${placeDetailId}&status__iexact=Có hiệu lực`)
                .then(response => response.json())
                .then(data => {
                  const scheduleList = document.getElementById(scheduleListId);
                  
                  scheduleList.innerHTML = '';
            
                  data.results.forEach(schedule => {
                    const scheduleItem = document.createElement('div');
                    scheduleItem.classList.add('schedule-item');

                    const startTime = new Date(schedule.start_time);
                    const endTime = new Date(schedule.end_time);
                    
                    const formattedStartTime = startTime.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });
                    const formattedEndTime = endTime.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });
                    
                    
                    scheduleItem.innerHTML = `
                      <div class="box-schedule-room">
                        <span class="schedule-room-name">${schedule.room.name}</span>
                      </div>
                      <div class="box-schedule-time">
                          
                          <span class="schedule-start-time">${formattedStartTime}</span>
                          ~
                          <span class="schedule-end-time">${formattedEndTime}</span>
                      </div>
                    `;
                    scheduleItem.addEventListener('click', () => {
                      window.location.href = `/room/${schedule.id}/`;
                    });
                    scheduleList.appendChild(scheduleItem);
                  });
                })
                .catch(error => {
                  console.error('Error fetching schedule details:', error);
                });

                
            }
                
        

</script>
{% endblock area %}



