{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>


<body>
  <div id="base" class="background-base">

    <a href="#" class="icon-back-base" ><i class="fa-solid fa-arrow-turn-up"></i></a>
    
    <div class="header-base" id="header-base">
        
        <div class="header-base-top">
            <span id="toggle-button" class="button-toggle">Dark</span>
            <span id="logout-btn" class="btn-logout" style="display: none;">Đăng Xuất</span>
            <span id="login-btn" class="btn-login" style="display: none;">Đăng Nhập</span>
        </div>

        <div class="header-base-bottom">

            <div class="header-box-logo" id="logo-cinema">
                
            </div>

            <div class="header-box-info">
                <div class="box-session-info" id="box-session-info">
                    <div class="box-content-user" id="box-content-user">
                        <ul class="box-content-useritem">
                            <li class="content-user-item-info" id="content-user-item-info">Thông tin của tôi</li>
                            <li class="content-user-item-ticket" id="content-user-item-ticket">Vé của tôi</li>
                        </ul>
                    </div>
                    <div id="session-info" class="header-content-info"></div>
                    <div id="session-id-user" class="header-content-id-user" hidden></div>
                    

                </div>
            </div>
            
        </div>
    </div>

    <div class="container-base">
        <div class="header-box-navbar" id="header-box-navbar">
            <ul class="box-navbar">
                <li id="navbar-film" class="content-navbar" style="border-left: 0px ;">PHIM</li>
                <li id="navbar-area" class="content-navbar">RẠP CHIẾU PHIM</li>
                <li id="navbar-promotion" class="content-navbar">KHUYẾN MÃI</li>
                <li id="navbar-contact" class="content-navbar">LIÊN HỆ</li>
            </ul>
        </div>
        
        <div class="container-box">
    
            {% block logIn %} 
            {% endblock logIn %}

            {% block register %}
            {% endblock register %}


            {% block sliderHome %} 
            {% endblock sliderHome %}

            {% block contentHome %} 
            {% endblock contentHome %}

            {% block topFilm %}
            {% endblock topFilm %}

            {% block promotionHome %}
            {% endblock promotionHome %}


            {% block slider %} 
            {% endblock slider %}

            {% block content %} 
            {% endblock content %}
            
            {% block filmDetail %}
            {% endblock filmDetail %}

            {% block bookFilm %}
            {% endblock bookFilm %}

            {% block bookCombo %} 
            {% endblock bookCombo %} 

            {% block promotionList %}
            {% endblock promotionList %}

            {% block promotionDetail %}
            {% endblock promotionDetail %}

            {% block area %} 
            {% endblock area %}

            {% block roomDetail %}
            {% endblock roomDetail %}
            
            {% block contact %} 
            {% endblock contact %} 

            {% block booking %} 
            {% endblock booking %} 


            {% block listTicket %} 
            {% endblock listTicket %} 

            {% block ticketIssued %}
            {% endblock ticketIssued %} 

            {% block infoUser %} 
            {% endblock infoUser %} 






            <div class="box-promotion">
                <div class="list-promotion" id="promotion-banner">
                <!-- Nội dung các phim sẽ được tạo động bằng JavaScript -->
                </div>
            </div>
        </div>
    </div>

    

    <div id="chatbox" class="chat-box">
        <div id="messages"></div>
        <div id="input-chat" class="box-input-chat">
            <input type="text" id="userInput" class="input-user-chat" placeholder="Nhập câu hỏi..."/>
            <button id="btn-sent-chat" class="btn-sent-chat"><i class="fa-solid fa-paper-plane"></i></button>
        </div>
    </div>

    <div class="box-icon-chat-box" id="box-icon-chat-box"><i class="fa-brands fa-rocketchat"></i></div>

        

    
    


    <div class="footer-base">
        <div class="box-footer-base">
            
            <div class="footer-box-logo" id="footer-logo-cinema"></div>
            
            <span class="text-footer">CÔNG TY TNHH CINEPLEX ODEON VIỆT NAM</span>
            <span class="text-footer">Địa chỉ: Tầng 3, Hà Nội, Việt Nam</span>
            <span class="text-footer">Hotline: (028) 3775 2524</span>
            <span class="text-footer">COPYRIGHT © CINEPLEXODEONVN.COM - ALL RIGHTS RESERVED.</span>
        </div>
    </div>
        

  

  </div>

  


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="{% static 'js/base.js' %}"></script>
</body>



</html>