{% extends 'base.html' %} 
{% load static %}

{% block bill %} 

<style>
    .container-bill{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;

    }
    .box-pay-detail{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .pay-detail{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .box-pay-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .pay-title{
        font-size: 24px;
        font-weight: 1000;
        padding-bottom: 20px;
        border-bottom: 1px solid #d5a12c;
        text-transform: uppercase;
    }
    .pay-name-film{
        font-size: 24px;
        font-weight: 1000;
        text-transform: uppercase;
        padding: 20px 0px 7px 0px;

    }
    .box-pay-title{
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 30px;

    }
    .pay-age-film{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #cdc197;
        box-shadow: 0px 0px 3px 2px #d5a12c;
        font-size: 20px;
        font-weight: 1000;

    }
    .pay-imdb-film{
        font-weight: 1000;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;

    }
    .pay-imdb-built{
        background-color: #f5c518;
        font-weight: 1000;
        color: #000;
        padding: 0px 5px 3px 5px;
        border-radius: 3px;
        text-shadow: none;
        letter-spacing: -1px;
        font-size: 17px;

    }
    .pay-duration-film{
        font-weight: bold;
        font-size: 18px;
        margin-left: 10px;

    }
    .box-pay-info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .box-pay-day{
        display: flex;
        flex-direction: column;
        justify-content: center;


    }
    .pay-label{
        margin-bottom: 5px;

    }
    .pay-day-dayshow{
        font-weight: 1000;
        font-size: 18px;

    }
    .box-pay-hour{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .pay-start{
        font-weight: 1000;
        font-size: 18px;

    }
    .box-pay-room{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .pay-name-room{
        font-weight: 1000;
        font-size: 18px;

    }
    .box-pay-seat-combo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;

    }
    .box-pay-seat{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .box-list-seat{
        display: flex;
        align-items: center;
        font-weight: 1000;
        font-size: 18px;

    }

    .seat-item{

    }

    .seat-item-name{

    }

    .box-pay-combo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .box-list-combo{
        display: flex;
        align-items: center;
        font-weight: 1000;
        font-size: 18px;

    }
    .combo-item-name-unique{

    }
    .combo-name-unique{

    }

    .box-pay-adress{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;

    }
    .pay-label-place{

    }
    .pay-label-address{
        font-weight: 1000;
        font-size: 18px;
        margin: 0px;

    }
    .box-pay-total-amount{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px;
        border-top: 1px solid #d5a12c;

    }
    .pay-label-total{
        font-size: 20px;

    }
    .pay-total-amount{
        font-size: 24px;
        font-weight: 1000;
    }

    .box-extract-ticket{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        border-top: 1px solid #d5a12c;
        

    }
    .btn-extract-ticket{
        padding: 5px 10px; 
        min-width: 300px;
        font-weight: bold;
        font-size: 18px;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 3px #cdc197;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
   

</style>

<div class="container-bill">
   
    <div class="box-pay-detail">
        <div id="pay-detail" class="pay-detail">

        </div>
        <div class="box-extract-ticket">
            <span id="btn-extract-ticket" class="btn-extract-ticket">Xuất vé</span>
        </div>
    </div>

    
    
</div>

<script>
    
    // Hàm kiểm tra access token
    function checkAccessToken() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            // Nếu không có token, chuyển hướng về trang đăng nhập
            window.location.href = '/login/';
        } else {
            const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
            const currentTime = Math.floor(Date.now() / 1000);

            // Kiểm tra xem token đã hết hạn chưa
            if (tokenPayload.exp < currentTime) {
                // Nếu token hết hạn, chuyển hướng về trang đăng nhập
                alert('token het han vui long login');
                localStorage.removeItem('access_token');
                
                window.location.href = '/login/';
            } 
        }
    }

    checkAccessToken();

    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }


    const url = new URL(window.location.href);
    const payId = url.pathname.split('/')[2];

    const params = new URLSearchParams(url.search); // Lấy các tham số trong query string
    

    console.log('pay ID:', payId);


    fetch(`/api/pays/${payId}/`)
    .then(response => response.json())
    .then(data => {
        const payDetailContainer = document.getElementById('pay-detail');
        
        const date = new Date(data.schedule.dayshow.day);
        const day = String(date.getDate()).padStart(2, '0'); // Lấy ngày và thêm số 0 nếu cần
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Lấy tháng (tháng bắt đầu từ 0)
        const year = date.getFullYear(); // Lấy năm
        const formattedDate = `${day}/${month}/${year}`; // Định dạng ngày

        const startTime = new Date(data.schedule.start_time);
        
        
        const formattedStartTime = startTime.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });
       
        function formatCurrency(value) {
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
        } 


        payDetailContainer.innerHTML = `
            
            

            <div class="box-pay-content">
                <span class="pay-title">Chi tiết vé</span>

                <span class="pay-name-film">${data.schedule.film.name}</span>
                <div class="box-pay-title">
                    <span class="pay-age-film">${data.schedule.film.age}</span>
                    <span class="pay-imdb-film"> <span class="pay-imdb-built">IMDb</span> ${data.schedule.film.imdb}</span>
                    <span class="">-</span>
                    <span class="pay-duration-film">${data.schedule.film.duration} phút</span>
                    
                </div>
                

                

                
                
                
                <div class="box-pay-info">
                    <div class="box-pay-day">
                        <span class="pay-label">Ngày</span>
                        <span class="pay-day-dayshow">${formattedDate}</span>
                    </div>

                    <div class="box-pay-hour">
                        <span class="pay-label">Giờ</span>
                        <span class="pay-start">${formattedStartTime}</span>

                    </div>

                    <div class="box-pay-room">
                        <span class="pay-label">Rạp</span>
                        <span class="pay-name-room">${data.schedule.room.name}</span>
                    </div>

                </div>

                <div class="box-pay-seat-combo">
                    <div class="box-pay-seat">
                        <span class="pay-label">Vị trí ghế</span>
                        <div id="pay-list-seat" class="box-list-seat">
    
                        </div>
                    </div>

                    <div class="box-pay-combo">
                        <span class="pay-label">Combo</span>
                        <div id="pay-list-combo" class="box-list-combo">
    
                        </div>
                    </div>


                </div>

                <div class="box-pay-adress">
                    <span class="pay-label">Rạp ${data.schedule.place.name}</span>
                    <p class="pay-label-address">${data.schedule.place.address}</p>
                
                </div>


                <div class="box-pay-total-amount">
                    <span class="pay-label-total">Tổng tiền thanh toán</span>
                    <span class="pay-total-amount">${formatCurrency(data.total_amount)}đ</span>
                </div>

            </div>
        `;

        getComboNameUnique(data.booking.id);
        getSeatList(data.booking.id);
        

    })
    .catch(error => {
        console.error('Error fetching pay details:', error);
    });


    function getComboNameUnique(bookingId) {
        fetch(`/api/combodetails/?booking=${bookingId}`)
        .then(response => response.json())
        .then(data => {
            const comboNameUniqueList = document.getElementById('pay-list-combo');
            comboNameUniqueList.innerHTML = ''; 
    
            // Tập hợp để lưu các tên combo đã gặp
            const comboNames = new Set();
    
            data.results.forEach(comboNameUnique => {
                const comboName = comboNameUnique.combo.name;
    
                // Kiểm tra xem tên combo đã xuất hiện chưa
                if (!comboNames.has(comboName)) {
                    comboNames.add(comboName); // Thêm tên combo vào tập hợp
    
                    const comboNameUniqueItem = document.createElement('div');
                    comboNameUniqueItem.classList.add('combo-item-name-unique');
    
                    comboNameUniqueItem.innerHTML = `
                        <span class="combo-name-unique">${comboName}, </span>
                    `;
                    
                    comboNameUniqueList.appendChild(comboNameUniqueItem);
                    
                }
            });
    
           
        })
        .catch(error => {
            console.error('Error fetching combo name unique:', error);
        });
    }
    




    function getSeatList(bookingId) {
        fetch(`/api/bookingdetails/?booking=${bookingId}`)
        .then(response => response.json())
        .then(data => {
            const bookingDetailList = document.getElementById('pay-list-seat');
            bookingDetailList.innerHTML = ''; 

            data.results.forEach(bookingDetail => {
                const bookingDetailItem = document.createElement('div');
                bookingDetailItem.classList.add('seat-item');

                bookingDetailItem.innerHTML = `
                    
                        <span class="seat-item-name">${bookingDetail.seat.name}, </span>
            
                `;
                 
                
                
                bookingDetailList.appendChild(bookingDetailItem);
            });

            
        })
        .catch(error => {
            console.error('Error fetching area details:', error);
        });
    }


    


</script>

<script>
    document.getElementById('btn-extract-ticket').addEventListener('click', () => {
        
        const accessToken = localStorage.getItem('access_token');
    
        if (!isAccessTokenValid()) {
            alert('Token đã hết hạn. Vui lòng đăng nhập.');
            localStorage.removeItem('access_token');
            window.location.href = '/login/';
            return; // Dừng hàm nếu token không hợp lệ
        }


        const data = {
            pay: payId,
        };

        // Gọi API POST để thêm pay
        fetch('/api/bills/', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (response.ok) {
                alert("xuat ve thanh cong !")
            } else {
                alert('Lỗi khi xuat ve . Vui lòng thử lại.');
            }
        })

        .catch(error => {
            alert('Lỗi khi xuat ve: ' + error);
        });




    });    
</script>

{% endblock bill %} 
