{% extends 'base.html' %}
{% load static %}

{% block bookFilm %}

<style>
    .container-booking-film {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;

    }

    .box-booking-film {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .box-position-booking-film {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .box-day-show-booking-film {
        width: 100%;
        height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;

        border-top: 1px dashed #cdc197;
        border-bottom: 1px dashed #cdc197;
        display: none;

    }

    .btn-nav-bar-dayshow {
        font-size: 30px;
        cursor: pointer;
        transition: all 0.2s linear;

    }

    .btn-nav-bar-dayshow:hover {
        color: #cdc197;
    }



    #day-show-list {

        width: 100%;
        z-index: 1000;

        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        padding: 0px 3px 3px;
        transition: all 0.2s linear;


    }

    #day-show-list:hover {
        overflow-x: auto;
    }

    #day-show-list::-webkit-scrollbar {
        height: 7px;
        /* Set the width of the scrollbar */
    }

    #day-show-list::-webkit-scrollbar-track {
        background-color: #cdc197;
        /* Set the color of the scrollbar track */
        border-radius: 3px;

    }

    #day-show-list::-webkit-scrollbar-thumb {
        background-color: #d5a12c;
        /* Set the color of the scrollbar thumb */
        border-radius: 3px;
    }

    #day-show-list::-webkit-scrollbar-thumb:hover {
        background-color: #f0aa08;
        /* Set the color of the scrollbar thumb on hover */
    }

    .day-show-item {
        font-size: 14px;
        min-width: 205px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 0px;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 2px #cdc197;
        cursor: pointer;
        font-weight: bold;
        margin: 5px;
        text-shadow: 1px 1px 1px #000;
        transition: all 0.15s ease-in;

    }

    .day-show-item:hover {
        border-color: #cdc197;
        box-shadow: 0px 0px 0px 2px #d5a12c;
        color: #cdc197;
        transform: scale(1.05);
    }


    .day-show-day {
        margin: 0px;
    }


    .cinema-title {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 15px;
        text-transform: uppercase;
        border-bottom: 1px dashed #cdc197;
        margin: 20px;


    }

    .box-area-place-booking-film {
        width: 100%;
        display: flex;
        align-items: start;
        padding: 10px 0px;
        box-shadow: 0px 0px 3px 2px #cdc197;

    }

    .box-area-booking-film {
        display: flex;
        width: 20%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #cdc197;

    }

    .area-booking-film-title {
        display: flex;
        width: 100%;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;

    }

    .box-area-list-booking-film {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        border-top: 1px dashed #cdc197;



    }

    .area-item-booking-film {
        display: flex;
        font-weight: bold;
        min-width: 140px;
        align-items: center;
        justify-content: center;
        padding: 4px 0px;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 2px #cdc197;
        cursor: pointer;
        margin: 5px;
        transition: all 0.15s ease-in;


    }

    .area-item-booking-film:hover {
        border-color: #cdc197;
        box-shadow: 0px 0px 0px 2px #d5a12c;
        color: #cdc197;
        transform: scale(1.05);


    }

    .area-booking-film-name {}

    .box-place-booking-film {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        padding: 0px 20px;

    }

    .place-booking-film-title {
        display: flex;
        width: 100%;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;

    }

    .box-place-list-booking-film {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 0px;
        border-top: 1px dashed #cdc197;



    }

    .place-item-booking-film {
        display: flex;
        font-size: 14px;
        min-width: 140px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        padding: 4px 0px;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 2px #cdc197;
        cursor: pointer;
        margin: 5px;
        transition: all 0.15s ease-in;


    }

    .place-item-booking-film:hover {
        border-color: #cdc197;
        box-shadow: 0px 0px 0px 2px #d5a12c;
        color: #cdc197;
        transform: scale(1.05);
    }

    .place-booking-film-name {}

    .box-film-list-booking-film {
        padding: 20px 0px;

    }


    .film-day-show-item {
        display: flex;
        align-items: start;
        border-top: 1px dashed #cdc197;
        padding: 10px 10px 30px 10px;

    }

    .box-info-film-day-show {
        display: flex;
        width: 16%;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;

    }

    .box-info-film-in-dayshow {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    .film-day-show-age {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 3px 2px #cdc197;
        font-weight: bold;

    }

    .film-day-show-name {
        margin-left: 7px;
        width: 125px;
        text-transform: uppercase;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .film-detail-content-poster-area {
        width: 100%;
        box-shadow: 0px 0px 3px 2px #cdc197;
    }

    .box-list-film-day-show-schedule {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 29px;

    }

    .schedule-item {
        cursor: pointer;
        margin: 5px;
        border: 1px solid #cdc197;
        transition: all 0.15s ease-in;

    }

    .schedule-item:hover {
        box-shadow: 0px 0px 3px 2px #cdc197;
        transform: scale(1.05);

    }



    .box-schedule-room {
        font-size: 13px;
        border-bottom: 1px dashed #cdc197;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;

    }

    .schedule-room-name {}

    .box-schedule-time {
        font-size: 15px;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 15px;


    }

    .schedule-start-time {
        margin-right: 3px;
    }

    .schedule-end-time {
        margin-left: 3px;
    }

    .box-shadow {
        box-shadow: 0px 0px 0px 2px #d5a12c;
        border-color: #cdc197;
        color: #cdc197;
        transform: scale(1.05);

    }
</style>

<div class="container-booking-film">
    <div class="box-booking-film">
        <div class="box-position-booking-film">


            <span class="cinema-title">Rạp</span>

            <div class="box-area-place-booking-film">

                <div class="box-area-booking-film">
                    <span class="area-booking-film-title">Khu vực</span>
                    <div id="area-list" class="box-area-list-booking-film">

                    </div>
                </div>

                <div class="box-place-booking-film">
                    <span class="place-booking-film-title">Địa điểm</span>
                    <div id="place-list" class="box-place-list-booking-film">

                    </div>
                </div>

            </div>
        </div>

        <div class="box-day-show-booking-film">


            <div id="day-show-list" class="box-day-show-list-booking-film">

            </div>


        </div>


        <div id="film-list" class="box-film-list-booking-film">

        </div>

    </div>


</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<script>
    // Lấy danh sách phim từ API
    const url = new URL(window.location.href);
    var filmIdTrans = url.pathname.split('/')[2];

    fetch('/api/areas/')
        .then(response => response.json())
        .then(data => {
            const areaList = document.getElementById('area-list');
            let activeAreaItem = null;


            // Tạo các phần tử phim
            data.results.forEach(area => {
                const areaItem = document.createElement('div');
                areaItem.classList.add('area-item-booking-film');
                areaItem.innerHTML = `
        
        <span class="area-booking-film-name">${area.name}</span>
            
    `;
                areaItem.addEventListener('click', () => {
                    getAreaDetails(area.id);
                    // Nếu có một areaItem đang được chọn, xóa class khỏi nó
                    if (activeAreaItem && activeAreaItem !== areaItem) {
                        activeAreaItem.classList.remove('box-shadow');
                    }

                    // Thêm class vào areaItem được click
                    areaItem.classList.add('box-shadow');

                    // Cập nhật activeAreaItem
                    activeAreaItem = areaItem;
                });
                areaList.appendChild(areaItem);
            });
        })
        .catch(error => {
            console.error('Error fetching area data:', error);
        });

    function getAreaDetails(areaId) {
        fetch(`/api/places/?area=${areaId}`)
            .then(response => response.json())
            .then(data => {
                const placeList = document.getElementById('place-list');
                let activePlaceItem = null;
                placeList.innerHTML = ''; // Xóa nội dung cũ

                data.results.forEach(place => {
                    const placeItem = document.createElement('div');
                    placeItem.classList.add('place-item-booking-film');
                    placeItem.innerHTML = `
           
                <span class="place-booking-film-name">${place.name}</span>
               
          `;
                    placeItem.addEventListener('click', () => {
                        getDayShows(place.id);
                        document.querySelector('.box-day-show-booking-film').style.display = 'flex';

                        if (activePlaceItem && activePlaceItem !== placeItem) {
                            activePlaceItem.classList.remove('box-shadow');
                        }

                        // Thêm class vào placeItem được click
                        placeItem.classList.add('box-shadow');

                        // Cập nhật activePlaceItem
                        activePlaceItem = placeItem;

                    });
                    placeList.appendChild(placeItem);
                });
            })
            .catch(error => {
                console.error('Error fetching area details:', error);
            });
    }




    let dayShowsData = [];

    function getDayShows(placeDetailId) {
        fetch(`/api/dayshows/?place=${placeDetailId}&ordering=day`)
            .then(response => response.json())
            .then(data => {
                dayShowsData = data.results;
                renderDayShows(placeDetailId);


            })
            .catch(error => {
                console.error('Error fetching dayshow film list:', error);
            });
    }

    function renderDayShows(placeDetailId) {
        const dayShowList = document.getElementById('day-show-list');
        dayShowList.innerHTML = '';
        let activeDayShowItem = null;

        const idDayShowsAutoDelete = [];

        const dayShowsToShow = dayShowsData;

        dayShowsToShow.forEach(dayshow => {
            const dayShowItem = document.createElement('div');
            dayShowItem.classList.add('day-show-item');

            const date = new Date(dayshow.day);
            const options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' };
            const formattedDate = date.toLocaleDateString('vi-VN', options);

            const currentDate = new Date();
            const timeDifference = currentDate - date;
            const daysRemaining = Math.ceil(timeDifference / (1000 * 3600 * 24));

            dayShowItem.innerHTML = `
        
            <p class="day-show-day">${formattedDate}</p>
           
        `;



            dayShowItem.addEventListener('click', () => {
                getFilms(dayshow.id, filmIdTrans, placeDetailId);

                if (activeDayShowItem && activeDayShowItem !== dayShowItem) {
                    activeDayShowItem.classList.remove('box-shadow');
                }

                dayShowItem.classList.add('box-shadow');

                activeDayShowItem = dayShowItem;



            });
            dayShowList.appendChild(dayShowItem);

            if (daysRemaining > 0) {
                idDayShowsAutoDelete.push(dayshow.id);
            }
        });

        // Kiểm tra chiều rộng của dayShowList
        //const totalWidth = [...dayShowList.children].reduce((acc, item) => acc + item.offsetWidth, 0);
        //const dayShowListWidth = dayShowList.clientWidth;

        //if (totalWidth > dayShowListWidth) {
        //    dayShowList.style.overflowX = 'scroll';
        //} else {
        //    dayShowList.style.overflowX = 'hidden'; // Hoặc không cần dòng này
        //}
        
        if (idDayShowsAutoDelete.length > 0) {
            deleteMultipleDayShows(idDayShowsAutoDelete, placeDetailId);
        }
    }

    function deleteMultipleDayShows(idDayShowsAutoDelete, placeDetailId) {
        const accessToken = localStorage.getItem('access_token');
        const body = {
            objects: idDayShowsAutoDelete, // Sử dụng mảng ID đã lấy từ API
            object_type: "dayshows",
            operation: "delete"
        };

        fetch('/api/bulk_edit_objects/', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(body)
        })
            .then(response => {
                if (response.ok) {
                    console.log(`Đã xóa các dayshow thành công!`);
                    
                    getDayShows(placeDetailId); // Tải lại danh sách
                } else {
                    alert('Có lỗi xảy ra!');
                }
            })
            .catch(error => {
                console.error('Error deleting dayshows:', error);
            });
    }














    function getFilms(dayShowId, filmIdTrans, placeDetailId) {
        fetch(`/api/films/?dayshow=${dayShowId}&id=${filmIdTrans}&place=${placeDetailId}&ordering=day`)
            .then(response => response.json())
            .then(data => {
                const filmList = document.getElementById('film-list');
                filmList.innerHTML = ''; // Xóa nội dung cũ

                data.results.forEach(film => {
                    const filmItem = document.createElement('div');
                    filmItem.classList.add('film-day-show-item');
                    filmItem.innerHTML = `
        
                <div id="box-info-film-day-show" class="box-info-film-day-show" >
                    <div class="box-info-film-in-dayshow" >
                        <span class="film-day-show-age">T${film.age}</span>
                        <span class="film-day-show-name">${film.name}</span>
                    </div>
                    <img  class="film-detail-content-poster-area" src="${film.poster}" alt="${film.name}">
                </div>

                <div class="box-list-film-day-show-schedule" id="schedule-${film.id}">
                    <!-- Danh sách lịch chiếu của phim này sẽ được hiển thị ở đây -->
                </div>
    `;

                    filmItem.querySelector('#box-info-film-day-show').addEventListener('click', function () {
                        window.location.href = `/film/${film.id}/`;
                    });

                    getSchedules(film.id, dayShowId, placeDetailId, `schedule-${film.id}`);
                    filmList.appendChild(filmItem);

                });
            })
            .catch(error => {
                console.error('Error fetching film details:', error);
            });
    }
    function getSchedules(filmId, dayShowId, placeDetailId, scheduleListId) {
        fetch(`/api/schedules/?film=${filmId}&dayshow=${dayShowId}&place=${placeDetailId}&status__iexact=Có hiệu lực`)
            .then(response => response.json())
            .then(data => {
                const scheduleList = document.getElementById(scheduleListId);
                scheduleList.innerHTML = '';

                data.results.forEach(schedule => {
                    const scheduleItem = document.createElement('div');
                    scheduleItem.classList.add('schedule-item');

                    const startTime = new Date(schedule.start_time);
                    const endTime = new Date(schedule.end_time);

                    const formattedStartTime = startTime.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });
                    const formattedEndTime = endTime.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });


                    scheduleItem.innerHTML = `
            <div class="box-schedule-room">
            <span class="schedule-room-name">${schedule.room.name}</span>
            </div>
            <div class="box-schedule-time">
                
                <span class="schedule-start-time">${formattedStartTime}</span>
                ~
                <span class="schedule-end-time">${formattedEndTime}</span>
            </div>
        `;
                    scheduleItem.addEventListener('click', () => {
                        window.location.href = `/room/${schedule.id}/`;

                    });
                    scheduleList.appendChild(scheduleItem);
                });
            })
            .catch(error => {
                console.error('Error fetching area details:', error);
            });
    }




</script>
{% endblock bookFilm %}