{% extends 'base.html' %} 
{% load static %}

{% block contact %} 
<style>
    .container-contact{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .box-contact-conten-all{
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 30px 0px;

    }
    .box-service-all{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 1.5px 1.5px 1.5px #000;
        font-size: 22px;
        font-weight: bold;

    }
    .box-service-list-auto{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service-list-auto-item{
        width: 100%;
        margin: 15px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .service-image-item{
        width: 100%;
        height: 100%;
    }
    .box-service-info{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .service-name{
        
        color: brown;

    }
    .service-title{
        color: white;

    }

    .box-contact-content-all{
        display: flex;
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .box-service-detail{
        position: relative;
        display: flex;
        width: 80%;
        align-items: center;
        text-shadow: 1px 1px 1px #000;
        

    }

    .service-image-detail{
        width: 100%;
        height: 100%;
    }
    .box-service-detail-info{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 7% 15%;
    }
    .service-detail-name{
        font-size: 22px;
        color: brown;
        font-weight: bold;
    }
    .service-detail-title{
        font-size: 22px;
        color: white;
        font-weight: bold;


    }
    .service-detail-description{
        
        width: 100%; 
        max-height: 250px;
        overflow-y: scroll;
        font-size: 14px;
        margin: 0px;
        

    }
    

    .box-contact-detail{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0px 0px 0px;
    }

    .box-input-contact-detail{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

    }

    .box-input-contact-info{
        margin: 7px 10px;
    }

    input {
        width: 100%;
        margin: 10px 0;
        padding: 5px 10px;
        outline-color: #cdc197;
        color: #d5a12c !important;
        text-shadow: 1px 1px 1px #000;
        box-shadow: 0px 0px 3px 2px #d5a12c;
        border: 1px solid #d5a12c;
        border-radius: 3px;
    }

    .btn-create{
        padding: 5px; 
        min-width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 3px #cdc197;
        border-radius: 3px;
        margin: 7px;
        cursor: pointer;
        font-weight: bold;
    }


</style>

<div class="container-contact">

    <div class="box-contact-conten-all">
        <div class="box-service-all">
            <div class="box-service-list-auto" id="service-list-auto">
                <!-- Nội dung các phim sẽ được tạo động bằng JavaScript -->
            </div>
                 
        </div>
        
        
        <div class="box-contact-content-all">
    
            <div class="box-service-detail" id="service-detail">
                <!-- Nội dung các sẽ được tạo động bằng JavaScript -->
            </div>
    
            <div id="contact-detail" class="box-contact-detail" >

                <div class="box-input-contact-detail">
                    <div class="form-group box-input-contact-info">
                        <label for="name">Tên</label>
                        <input type="text" class="form-control" id="name" placeholder="" required>
                    </div>
                    <div class="form-group box-input-contact-info">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone" placeholder="" required>
                    </div>
                </div>

                <div class="box-input-contact-detail">
                    <div class="form-group box-input-contact-info">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="" required>
                    </div>
                    <div class="form-group box-input-contact-info">
                        <label for="service">Dịch vụ</label>
                        <input type="text" class="form-control" id="service" placeholder="" readonly>
                        <input type="hidden" id="service-id" value="">
                        <div id="service-list" class="dropdown-menu"></div>
                    </div>
                </div>
                
                <div class="box-input-contact-detail">
                    <div class="form-group box-input-contact-info">
                        <label for="area">Khu vực</label>
                        <input type="text" class="form-control" id="area" placeholder="" readonly>
                        <input type="hidden" id="area-id" value="">
                        <div id="area-list" class="dropdown-menu"></div>
                    </div>
                    <div class="form-group box-input-contact-info">
                        <label for="place">Địa điểm</label>
                        <input type="text" class="form-control" id="place" placeholder="" readonly>
                        <input type="hidden" id="place-id" value="">
                        <div id="place-list" class="dropdown-menu"></div>
                    </div>
                </div>
                <div class="form-group box-input-contact-info">
                    <div class="btn-create" id="create-btn">Gửi</div>
                </div>
                
            </div>
    
        </div>
    </div>
    
    

</div>



<script>
 
    // Lấy dữ liệu từ API /api/services/
    fetch('/api/services/')
        .then(response => response.json())
        .then(data => {
            const serviceList = document.getElementById('service-list');
            data.results.forEach(service => {
                const option = document.createElement('a');
                option.classList.add('dropdown-item');
                option.href = '#';
                option.textContent = service.name;
                option.dataset.serviceId = service.id; // Lưu ID của dịch vụ vào thuộc tính data-service-id
                option.addEventListener('click', () => {
                    document.getElementById('service').value = service.name;
                    document.getElementById('service-id').value = service.id; // Gán giá trị ID vào trường ẩn
                    getServiceDisplay(service.id);
                });
                serviceList.appendChild(option);
            });
        })
        .catch(error => console.error(error));

    // Thêm sự kiện click vào ô "Dịch vụ" để hiển thị danh sách dịch vụ
    document.getElementById('service').addEventListener('click', () => {
        document.getElementById('service-list').classList.toggle('show');
    });

    // Đóng danh sách dịch vụ khi nhấn ra ngoài
    window.addEventListener('click', event => {
        if (!event.target.matches('#service, #service-list a')) {
            document.getElementById('service-list').classList.remove('show');
        }
    });

    function getServiceDisplay(serviceIdItem) {
        fetch(`/api/services/${serviceIdItem}/`)
          .then(response => response.json())
          .then(data => {
            const serviceDetailContainer = document.getElementById('service-detail');
            serviceDetailContainer.innerHTML = `

                <img id="service-image-detail" class="service-image-detail" src="${data.image}" alt="${data.name}">
                <div class="box-service-detail-info">
                    <span id="service-name-detail" class="service-detail-name" >${data.name}</span>
                    <span id="service-title-detail" class="service-detail-title">${data.title}</span>
                    <span id="service-description-detail" class="service-detail-description">${data.description}</span>
                </div>
            `;
        })
        .catch(error => {
            console.error('Error fetching service details:', error);
        });
    }



    // Lấy dữ liệu từ API /api/areas/
    fetch('/api/areas/')
        .then(response => response.json())
        .then(data => {
            const areaList = document.getElementById('area-list');
            data.results.forEach(area => {
                const option = document.createElement('a');
                option.classList.add('dropdown-item');
                option.href = '#';
                option.textContent = area.name;
                option.dataset.areaId = area.id; // Lưu ID của dịch vụ vào thuộc tính data-area-id
                option.addEventListener('click', () => {
                    document.getElementById('area').value = area.name;
                    document.getElementById('area-id').value = area.id; // Gán giá trị ID vào trường ẩn
                    
                    // Lấy dữ liệu về danh sách địa điểm theo khu vực đã chọn
                    fetch(`/api/places/?area=${area.id}`)
                        .then(response => response.json())
                        .then(placeData => {
                            const placeList = document.getElementById('place-list');
                            placeList.innerHTML = ''; // Xóa danh sách địa điểm cũ

                            if (placeData.results.length > 0) {
                                const firstPlace = placeData.results[0];
                                document.getElementById('place').value = firstPlace.name; // Điền giá trị địa điểm đầu tiên
                                document.getElementById('place-id').value = firstPlace.id; // Gán giá trị ID vào trường ẩn
                            }

                            placeData.results.forEach(place => {
                                const placeOption = document.createElement('a');
                                placeOption.classList.add('dropdown-item');
                                placeOption.href = '#';
                                placeOption.textContent = place.name;
                                placeOption.dataset.placeId = place.id; // Lưu ID của địa điểm vào thuộc tính data-place-id
                                placeOption.addEventListener('click', () => {
                                    document.getElementById('place').value = place.name;
                                    document.getElementById('place-id').value = place.id; // Gán giá trị ID vào trường ẩn
                                });
                                placeList.appendChild(placeOption);
                            });
                        })
                        .catch(error => console.error(error));
                
                });
                areaList.appendChild(option);
            });
        })
        .catch(error => console.error(error));

    // Thêm sự kiện click vào ô "area" để hiển thị danh sách area
    document.getElementById('area').addEventListener('click', () => {
        document.getElementById('area-list').classList.toggle('show');
    });

    // Thêm sự kiện click vào ô "Địa điểm" để hiển thị danh sách địa điểm
    document.getElementById('place').addEventListener('click', () => {
        document.getElementById('place-list').classList.toggle('show');
    });

    // Đóng danh sách area khi nhấn ra ngoài
    window.addEventListener('click', event => {
        if (!event.target.matches('#area, #area-list a')) {
            document.getElementById('area-list').classList.remove('show');
        }
    });

    // Đóng danh sách place khi nhấn ra ngoài
    window.addEventListener('click', event => {
        if (!event.target.matches('#place, #place-list a')) {
            document.getElementById('place-list').classList.remove('show');
        }
    });



    // Thêm sự kiện click vào nút "Tạo"
    document.getElementById('create-btn').addEventListener('click', () => {
        const name = document.getElementById('name').value;
        const phone = document.getElementById('phone').value;
        const email = document.getElementById('email').value;
        const serviceId = document.getElementById('service-id').value; // Lấy giá trị ID của dịch vụ đã chọn
        const areaId = document.getElementById('area-id').value; // Lấy giá trị ID của area đã chọn
        const placeId = document.getElementById('place-id').value;

        const accessToken = localStorage.getItem('access_token');

        // Gửi yêu cầu POST đến API /api/contacts/
        fetch('/api/contacts/', {
            method: 'POST',
            headers: {

                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json',

            },
            body: JSON.stringify({
                name,
                phone,
                email,
                service: serviceId, // Gửi ID của dịch vụ thay vì tên
                area: areaId,
                place: placeId,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Bản ghi mới đã được tạo:', data);
            alert('Lien he thanh cong');
            // Thực hiện các hành động tiếp theo sau khi tạo bản ghi thành công
            document.getElementById('name').value = '';
            document.getElementById('phone').value = '';
            document.getElementById('email').value = '';
            document.getElementById('service').value = '';
            document.getElementById('service-id').value = '';
            document.getElementById('area').value = '';
            document.getElementById('area-id').value = '';
            document.getElementById('place').value = '';
            document.getElementById('place-id').value = '';
            
        })
        .catch(error => console.error(error));
    });

</script>

<script>
    // Lấy danh sách phim từ API
    fetch('/api/services/')
    .then(response => response.json())
    .then(data => {
    const serviceList = document.getElementById('service-list-auto');
    
    // Tạo các phần tử phim
    data.results.forEach(service => {
        const serviceItem = document.createElement('div');
        serviceItem.classList.add('service-list-auto-item');
        serviceItem.innerHTML = `
            
                <img id="service-image-list" class="service-image-item" src="${service.image}" alt="${service.name}">
                <div class="box-service-info">
                    <span id="service-name-list" class="service-name">${service.name}</span>
                    <span id="service-title-list" class="service-title">${service.title}</span>
                </div>
            
        `;
        serviceItem.addEventListener('click', () => {
            getServiceDetails(service.id);
        });
        serviceList.appendChild(serviceItem);
    });
    })
    .catch(error => {
    console.error('Error fetching service data:', error);
    });
    
    function getServiceDetails(serviceId) {
        fetch(`/api/services/${serviceId}/`)
          .then(response => response.json())
          .then(data => {

            document.getElementById('service').value = data.name;
            document.getElementById('service-id').value = data.id;
            
            const serviceDetailContainer = document.getElementById('service-detail');
            serviceDetailContainer.innerHTML = `

                <img id="service-image-detail" class="service-image-detail" src="${data.image}" alt="${data.name}">
                <div class="box-service-detail-info">
                    <span id="service-name-detail" class="service-detail-name" >${data.name}</span>
                    <span id="service-title-detail" class="service-detail-title">${data.title}</span>
                    <p id="service-description-detail" class="service-detail-description">${data.description}</p>
                </div>
            `;
        })
        .catch(error => {
            console.error('Error fetching service details:', error);
        });
    }
</script>
{% endblock contact %} 
