{% extends 'base.html' %}
{% load static %}

{% block filmDetail %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<div class="swiper-container" style="width: 1500px; height: 400px;">
    <div class="swiper-wrapper" >
        <!-- Slides will be created dynamically -->
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>



<div id="film-detail">

</div>

<div id="category-film-list">

</div>

<div id="comment-post">
    <input type="text" id="comment-rate" placeholder="Nhập đánh giá" />
    <textarea id="comment-content" placeholder="Nội dung bình luận"></textarea>
    <button id="submit-comment">Gửi bình luận</button>
</div>

<div id="box-comment">
    <div id="comment-list">
    </div>
    <div class="pagination">
        <button class="btn btn-primary prev-page" disabled>Trang trước</button>
        <button class="btn btn-primary next-page">Trang sau</button>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>


    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }


    // Get the film ID from the URL
    const url = new URL(window.location.href);
    const filmId = url.pathname.split('/')[2];

    

    // Fetch the film details
    fetch(`/api/films/${filmId}/`)
    .then(response => response.json())
    .then(data => {
        const filmDetailContainer = document.getElementById('film-detail');
        filmDetailContainer.innerHTML = `
            <div class="container my-5">
                <h1 id="film-name">${data.name}</h1>
                <div class="row">
                    <div class="col-md-6">
                        <img id="film-image" class="img-fluid" src="${data.poster}" alt="Film Image">
                    </div>
                    <div class="col-md-6">
                        <p id="film-description">${data.description}</p>
                    </div>
                    <div class="row" id="category-${data.id}">
                      
                    </div>
                    <button class="btn btn-success btn-booking" data-film-id="${data.id}">Đặt vé</button>
                </div>
            </div>
        `;
        
        getCategoryByFilmId(data.id,`category-${data.id}`);
        getMultimediaData(data.id);
        filmDetailContainer.querySelector('.btn-booking').addEventListener('click', () => {
            window.location.href = `/bookfilm/${data.id}/`
        });

    })
    .catch(error => {
        console.error('Error fetching film details:', error);
    });

    function getCategoryByFilmId(filmIdCategory, categoryListId) {
        fetch(`/api/categoryfilms/?film=${filmIdCategory}`)
        .then(response => response.json())
        .then(data => {
          const categoryFilmList = document.getElementById(categoryListId);
          categoryFilmList.innerHTML = ''; // Xóa nội dung cũ
    
          data.results.forEach(categoryFilm => {
            const categoryFilmItem = document.createElement('div');
            categoryFilmItem.classList.add('category-film-title');
            categoryFilmItem.innerHTML = `
              
                
                  <span class="">${categoryFilm.category.name}</span>

             
            `;
            categoryFilmList.appendChild(categoryFilmItem);
          });
        })
        .catch(error => {
          console.error('Error fetching categoryfilm list:', error);
        });

    }

    
    document.getElementById('submit-comment').addEventListener('click', function() {

        

        const accessToken = localStorage.getItem('access_token');

        if (!accessToken) {
            window.location.href = '/login/';
        }
        
        else if (!isAccessTokenValid()) {
            alert('Token đã hết hạn. Vui lòng đăng nhập.');
            localStorage.removeItem('access_token');
            window.location.href = '/login/';
            return; // Dừng hàm nếu token không hợp lệ
        }

        const rate = document.getElementById('comment-rate').value;
        const content = document.getElementById('comment-content').value;

        if (!rate && !content) {
            alert('Vui lòng nhập thông tin đánh giá và bình luận.');
            return;
        }
        if (!rate) {
            alert('Vui lòng nhập thông tin đánh giá.');
            return;
        }
        if (!content) {
            alert('Vui lòng nhập bình luận.');
            return;
        }
        
        // Gửi bình luận lên server
        fetch(`/api/comments/`, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                film: filmId,
                rate: rate,
                content: content,
            }),
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
            // Làm sạch ô nhập liệu sau khi gửi
            document.getElementById('comment-rate').value = '';
            document.getElementById('comment-content').value = '';
            // Cập nhật danh sách bình luận
            getComments(filmId,page = 1);
        })
        .catch(error => {
            console.error('Error posting comment:', error);
        });
    });


    const commentList = document.getElementById('comment-list');
    const prevPageBtn = document.querySelector('.prev-page');
    const nextPageBtn = document.querySelector('.next-page');
    let currentPage = 1;
    let totalPages;
    

    function renderComments(comments) {
        commentList.innerHTML = '';
        comments.forEach(comment => {
            const commentItem = document.createElement('div');
            commentItem.classList.add('col-md-3', 'mb-4');

            const date = new Date(comment.created_at);
            const day = String(date.getDate()).padStart(2, '0'); // Lấy ngày và thêm số 0 nếu cần
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Lấy tháng (tháng bắt đầu từ 0)
            const year = date.getFullYear(); // Lấy năm
            const formattedDate = `${day}/${month}/${year}`; // Định dạng ngày

            commentItem.innerHTML = `
                <div class="">
                   
                    <span class="card-title">${comment.user.username}</span>
                    <span class="card-title">${comment.rate}</span>
                    <span class="card-title">${comment.content}</span>
                    <span class="card-title">${formattedDate}</span>


                  
                </div>
            `;
           
            
            commentList.appendChild(commentItem);
        });
    }


    function updatePaginationButtons() {
        prevPageBtn.disabled = currentPage === 1;
        nextPageBtn.disabled = !totalPages || currentPage === totalPages;
    }

    getComments(filmId);
    function getComments(filmId, page = 1) {
        let url = `/api/comments/?page=${page}&film=${filmId}`;
        
        fetch(url)
        .then(response => response.json())
        .then(data => {
            renderComments(data.results);
            totalPages = Math.ceil(data.count / data.results.length);
            currentPage = page;
            updatePaginationButtons();

            // Nếu không có next, ẩn nút next
            nextPageBtn.disabled = !data.next;
        })
        .catch(error => {
            console.error('Error fetching comment data:', error);
        });
    }

    
    prevPageBtn.addEventListener('click', () => {
        getComments(filmId, currentPage - 1);
    });
    
    nextPageBtn.addEventListener('click', () => {
        getComments(filmId, currentPage + 1);
    });

    getComments(filmId);


   

    let dataArray = [];

    function getMultimediaData(filmIdListImg) {
        fetch(`/api/videos/?film=${filmIdListImg}`)
            .then(response => response.json())
            .then(videoData => {
                videoData.results.forEach(video => {
                    dataArray.push({
                        type: 'video',
                        src: video.video,
                        videoType: video.video_type
                    });
                });

                fetch(`/api/images/?film=${filmIdListImg}`)
                    .then(response => response.json())
                    .then(imageData => {
                        imageData.results.forEach(image => {
                            dataArray.push({
                                type: 'image',
                                src: image.image,
                                alt: image.id
                            });
                        });
                        
                        initSwiper(dataArray);
                    })
                    .catch(error => {
                        console.error('Error fetching image data:', error);
                    });
            })
            .catch(error => {
                console.error('Error fetching video data:', error);
            });
    }

    function initSwiper(dataArray) {
        const swiperContainer = document.querySelector('.swiper-container');
        const swiperWrapper = swiperContainer.querySelector('.swiper-wrapper');
    
        dataArray.forEach(data => {
            const swiperSlide = document.createElement('div');
            swiperSlide.classList.add('swiper-slide');
    
            if (data.type === 'image') {
                swiperSlide.innerHTML = `
                    <img src="${data.src}" alt="${data.alt}" style="width: 100%; height: 400px; object-fit: cover;">
                `;
            } else if (data.type === 'video') {
                swiperSlide.innerHTML = `
                    <video controls style="width: 100%; height: 400px; object-fit: cover;">
                        <source src="${data.src}" type="${data.videoType}">
                    </video>
                `;
            }
    
            swiperWrapper.appendChild(swiperSlide);
        });
    
        new Swiper('.swiper-container', {
            loop: true,

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });


    }




    

</script>
{% endblock filmDetail %}
