{% extends 'base.html' %}
{% load static %}

{% block filmDetail %}
<style>
    .container-film-detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .box-swiper-film {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        padding: 40px 0px;
        border-bottom: 1px dashed #cdc197;

    }

    .swiper-container {
        width: 100%;
        height: 100%;

    }

    .swiper-wrapper {
        width: 100%;
        height: 100%;

    }

    .image-film-detail {
        width: 100%;
        height: 100%;
        object-fit: contain;

    }

    .video-film-detail {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .swiper-button-prev {
        color: rgb(217 217 217) !important;
        top: 500px !important;
        text-shadow: none;
        transition: all 0.2s linear;
    }

    .swiper-button-prev:hover {
        color: rgb(151, 151, 151) !important;
    }

    .swiper-button-next {
        color: rgb(217 217 217) !important;
        top: 500px !important;
        text-shadow: none;
        transition: all 0.2s linear;
    }

    .swiper-button-next:hover {
        color: rgb(151, 151, 151) !important;
    }


    .box-film-detail-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .film-detail-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 35px 0px;

    }

    .box-film-detail-content-top {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 30px 30px 20px 30px;

        border-radius: 7px;
        box-shadow: 0px 0px 0px 3px #cdc197;

    }

    .box-film-detail-content-poster {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .film-detail-content-poster {
        width: 100%;

        box-shadow: 0px 0px 3px 2px #cdc197;

    }

    .btn-booking-film-detail {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 5px 0px 7px 0px;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 3px #cdc197;
        margin: 10px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        transition: all 0.2s linear;

    }

    .btn-booking-film-detail:hover {
        color: #cdc197;
        border-color: #cdc197;
        box-shadow: 0px 0px 0px 3px #d5a12c;

    }


    .box-film-detail-content-info {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 0px 30px;



    }

    .film-detail-content-name {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;

    }

    .film-detail-content-age {
        width: 60px;
        border-radius: 3px;

        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 3px 2px #cdc197;
        margin-right: 7px;

    }

    .film-detail-content-imdb {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;

    }

    .film-detail-content-imdb-built {
        background-color: #f5c518;
        font-weight: 1000;
        color: #000;
        padding: 0px 5px 3px 5px;
        border-radius: 3px;
        text-shadow: none;
        letter-spacing: -1px;

    }


    .text-infor-film {
        font-weight: bold;
        margin-right: 7px;
    }

    .film-detail-content-producer {
        margin-bottom: 5px;


    }

    .film-detail-content-duration {
        margin-bottom: 5px;


    }

    .film-detail-content-release {
        margin-bottom: 5px;


    }

    .film-detail-content-view {
        margin-bottom: 5px;


    }

    .box-list-category {
        display: flex;
        align-items: center;
    }

    .box-list-category-film {
        margin-left: 5px;
        display: flex;
        align-items: center;

    }

    .category-film-item {}

    .category-film-name {}




    .box-film-detail-content-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 1px dashed #cdc197;
        border-bottom: 1px dashed #cdc197;
        padding: 20px 0px;
    }

    .detail-content-description-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;

    }

    .detail-content-description {
        font-size: 14px;
        padding-left: 10px;
        margin: 0px;
    }

    .list-actor-film-content-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0px;
        border-bottom: 1px dashed #cdc197;
    }

    .detail-content-actor-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .box-list-actor-btn-left-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-btn-nav-bar-film-left {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: right;
        
    }

    .box-btn-nav-bar-film-right {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: left;
    }

    .btn-nav-bar-film-left {
        width: 25px;
        height: 45px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: right;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 3px #cdc197;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        color: #d5a12c;
        transition: all 0.2s linear;

    }

    .btn-nav-bar-film-left:hover {
        color: #cdc197;
        border-color: #cdc197;
        box-shadow: 0px 0px 0px 3px #d5a12c;

    }


    .btn-nav-bar-film-right {
        width: 25px;
        height: 45px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: left;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 3px #cdc197;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        color: #d5a12c;
        transition: all 0.2s linear;

    }

    .btn-nav-bar-film-right:hover {
        color: #cdc197;
        border-color: #cdc197;
        box-shadow: 0px 0px 0px 3px #d5a12c;

    }


    .box-list-actor-film {
        width: 89%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .actor-film-item {
        min-width: 151.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 3px 2px #cdc197;
        padding-bottom: 4px;
        border-radius: 3px;
        margin: 5px;

    }

    .actor-film-item-img {
        width: 100%;
        height: 150px;
        object-fit: contain;




    }

    .actor-film-item-name {
        border-top: 1px solid #cdc197;
        width: 100%;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }


    .box-container-comment {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .box-comment-post {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        border: 1px solid #cdc197;
        box-shadow: 0px 0px 3px 2px #d5a12c;

    }

    .box-rating-star {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .rating-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;

    }

    .box-choose-star {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2px;


    }

    .box-choose-star i {
        cursor: pointer;
    }

    .color-star {
        color: yellow;

    }

    .box-input-rating {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .comment-input-rate {
        outline: none;
        border: none;
        width: 13px;
        padding: 0px;
        color: #d5a12c;
        text-shadow: 1px 1px 1px #000;
        background-color: transparent;
    }

    .comment-input-text {
        width: 65%;
        height: 100%;
        display: flex;
        border-left: 2px solid #cdc197;
        border-top: none;
        border-bottom: none;
        border-right: none;
        outline: none;
        padding: 5px 10px;

    }

    .btn-comment {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 3px #cdc197;
        font-weight: 1000;
        font-size: 25px;
        cursor: pointer;
        transition: all 0.2s linear;


    }

    .btn-comment:hover {
        color: #cdc197;
        border-color: #cdc197;
        box-shadow: 0px 0px 0px 3px #d5a12c;
    }


    .box-comment-view {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .comment-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 0px;

    }

    .comment-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 10px;
        border-bottom: 1px dashed #cdc197;

    }

    .box-comment-info-user {
        font-weight: bold;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .comment-username {
        padding: 0px 5px 2px 5px;
        border: 1px solid #cdc197;
        box-shadow: 0px 0px 2px 1px #d5a12c;
        border-radius: 3px;
        margin-right: 20px;

    }

    .box-comment-rate {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .icon-star-comment {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 27px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .comment-rate {
        position: absolute;
        font-size: 14px;
        font-weight: 400;
    }

    .comment-content {
        padding: 10px 7px;
        margin: 0px;
        font-size: 15px;

    }

    .comment-date {
        font-size: 13px;
    }

    .pagination-comment {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;

    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<div class="container-film-detail">

    <div class="box-swiper-film">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Slides will be created dynamically -->
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>



    <div class="box-film-detail-content">
        <div id="film-detail" class="film-detail-content">

        </div>

    </div>


    <div id="category-film-list">

    </div>

    <div class="box-container-comment">
        <div id="comment-post" class="box-comment-post">
            <div class="box-rating-star">
                <span class="rating-title">Xếp hạng</span>
                <div class="box-choose-star">
                    <i class="fa-solid fa-star" data-value="1"></i>
                    <i class="fa-solid fa-star" data-value="2"></i>
                    <i class="fa-solid fa-star" data-value="3"></i>
                    <i class="fa-solid fa-star" data-value="4"></i>
                    <i class="fa-solid fa-star" data-value="5"></i>
                </div>
                <div class="box-input-rating">
                    <input type="text" id="comment-rate" class="comment-input-rate" placeholder="" readonly />
                    <span>điểm</span>
                </div>

            </div>


            <textarea id="comment-content" class="comment-input-text" placeholder="Nội dung bình luận"></textarea>
            <span id="submit-comment" class="btn-comment"><i class="fa-solid fa-paper-plane"></i></span>
        </div>

        <div id="box-comment" class="box-comment-view">

            <div id="comment-list" class="comment-list">

            </div>

            <div class="pagination-comment">
                <button class="prev-page" disabled><i class="fa-solid fa-chevron-left"></i></button>
                <button class="next-page"><i class="fa-solid fa-chevron-right"></i></button>
            </div>

        </div>
    </div>


</div>





<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>



<script>
    const stars = document.querySelectorAll('.box-choose-star i');
    const commentRateInput = document.getElementById('comment-rate');

    stars.forEach(star => {
        star.addEventListener('click', () => {
            const selectedValue = star.getAttribute('data-value');

            // Xóa class color khỏi tất cả các sao
            stars.forEach(s => s.classList.remove('color-star'));

            // Thêm class color cho sao được chọn và tất cả sao ở phía trước
            stars.forEach(s => {
                if (parseInt(s.getAttribute('data-value')) <= parseInt(selectedValue)) {
                    s.classList.add('color-star');
                }
            });

            // Cập nhật giá trị vào ô nhập liệu
            commentRateInput.value = selectedValue;
        });
    });
</script>


<script>


    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }


    // Get the film ID from the URL
    const url = new URL(window.location.href);
    const filmId = url.pathname.split('/')[2];



    // Fetch the film details
    fetch(`/api/films/${filmId}/`)
        .then(response => response.json())
        .then(data => {
            const filmDetailContainer = document.getElementById('film-detail');

            function formatDate(dateString) {
                const date = new Date(dateString);
                const day = String(date.getDate()).padStart(2, '0'); // Lấy ngày và thêm số 0 nếu cần
                const month = String(date.getMonth() + 1).padStart(2, '0'); // Lấy tháng (tháng bắt đầu từ 0)
                const year = date.getFullYear(); // Lấy năm
                return `${day}/${month}/${year}`; // Định dạng ngày
            }

            filmDetailContainer.innerHTML = `
            
                
                    <div class="box-film-detail-content-top">

                        <div class="box-film-detail-content-poster">
                            <img id="film-image" class="film-detail-content-poster" src="${data.poster}" alt="${data.name}">
                            <span class="btn-booking-film-detail" data-film-id="${data.id}">Đặt vé</span>
                        </div>

                        <div class="box-film-detail-content-info">
                            <span id="film-name" class="film-detail-content-name"><span class="film-detail-content-age">T${data.age}</span> ${data.name}</span>
                            <span  class="film-detail-content-imdb"> <span class="film-detail-content-imdb-built">IMDb</span> ${data.imdb}</span>
                            <span  class="film-detail-content-producer"><span class="text-infor-film">Nhà sản xuất :</span>${data.producer}</span>
                            <span  class="film-detail-content-duration"><span class="text-infor-film">Thời gian :</span>${data.duration} phút</span>
                            <span  class="film-detail-content-release"><span class="text-infor-film">Ngày phát hành :</span>${formatDate(data.release)}</span>
                            <span  class="film-detail-content-view"><span class="text-infor-film">Vé đã bán :</span>${data.view}</span>

                            <div class="box-list-category">
                                <span class="text-infor-film">Thể loại :</span>
        
                                <div class="box-list-category-film" id="category-${data.id}">
                
                                </div>
                            </div>
                            

                        </div> 


                    </div>

                   
                    

                    <div class="box-film-detail-content-bottom">
                        <div class="detail-content-description-title">Tóm tắt</div>
                        <p id="film-description" class="detail-content-description" >${data.description}</p>
                    </div>

                    <div class="list-actor-film-content-bottom">
                        <div class="detail-content-actor-title">Diễn viên</div>

                        <div class="box-list-actor-btn-left-right">
                            <div class="box-btn-nav-bar-film-left">
                                <span id="btn-left" class="btn-nav-bar-film-left"><i class="fa-solid fa-chevron-left"></i></span>
                            </div>
                            <div class="box-list-actor-film" id="actor-${data.id}">
                                    
                            </div>
                            <div class="box-btn-nav-bar-film-right">
                                <span id="btn-right" class="btn-nav-bar-film-right"><i class="fa-solid fa-chevron-right"></i></span>
                            </div>
                        </div>

                    </div>

                    
                </div>
            </div>
        `;

            getCategoryByFilmId(data.id, `category-${data.id}`);
            getActorByFilmId(data.id, `actor-${data.id}`);


            getMultimediaData(data.id);
            filmDetailContainer.querySelector('.btn-booking-film-detail').addEventListener('click', () => {
                window.location.href = `/bookfilm/${data.id}/`
            });

        })
        .catch(error => {
            console.error('Error fetching film details:', error);
        });

    function getCategoryByFilmId(filmIdCategory, categoryListId) {
        fetch(`/api/categoryfilms/?film=${filmIdCategory}`)
            .then(response => response.json())
            .then(data => {
                const categoryFilmList = document.getElementById(categoryListId);
                categoryFilmList.innerHTML = ''; // Xóa nội dung cũ

                const categoryNames = data.results.map(categoryFilm => categoryFilm.category.name).join(', ');


                const categoryFilmItem = document.createElement('div');
                categoryFilmItem.classList.add('category-film-item');
                categoryFilmItem.innerHTML = `
                
                
                <span class="category-film-name">${categoryNames}</span>

                
          `;
                categoryFilmList.appendChild(categoryFilmItem);

            })
            .catch(error => {
                console.error('Error fetching categoryfilm list:', error);
            });

    }




    //let currentActorPage = 0;
    //const actorsPerPage = 5;
    let actorsData = [];
    let startIndex = 0;


    function renderActors(actorListId) {
        const actorFilmList = document.getElementById(actorListId);
        actorFilmList.innerHTML = ''; // Xóa nội dung cũ

        //const start = currentActorPage * actorsPerPage;
        //const end = start + actorsPerPage;
        //const actorsToShow = actorsData.slice(start, end);

        const actorsToShow = actorsData.slice(startIndex, startIndex + 5);

        actorsToShow.forEach(actorFilm => {
            const actorFilmItem = document.createElement('div');
            actorFilmItem.classList.add('actor-film-item');
            actorFilmItem.innerHTML = `
                <img id="actor-image" class="actor-film-item-img" src="${actorFilm.image}" alt="${actorFilm.name}">
                <span class="actor-film-item-name">${actorFilm.name}</span>
            `;
            actorFilmList.appendChild(actorFilmItem);
        });

        const btnLeft = document.getElementById('btn-left');
        btnLeft.style.display = 'none';

        const btnRight = document.getElementById('btn-right');


        btnLeft.style.display = startIndex > 0 ? 'flex' : 'none';

        // Kiểm tra để ẩn nút "Tiếp theo" nếu đã đến cuối dữ liệu
        if (startIndex + 5 >= actorsData.length) {
            btnRight.style.display = 'none'; // Ẩn nút "Tiếp theo"
        } else {
            btnRight.style.display = 'flex'; // Hiện nút "Tiếp theo"
        }
    }

    function getActorByFilmId(filmIdActor, actorListId) {
        fetch(`/api/actors/?film=${filmIdActor}`)
            .then(response => response.json())
            .then(data => {
                actorsData = data.results; // Lưu danh sách diễn viên
                renderActors(actorListId); // Hiển thị diễn viên đầu tiên

                // Thêm sự kiện cho nút Left
                document.getElementById('btn-left').addEventListener('click', () => {
                    if (startIndex > 0) {
                        startIndex--; // Giảm chỉ số bắt đầu
                        renderActors(actorListId);
                    }
                });

                // Thêm sự kiện cho nút Right
                document.getElementById('btn-right').addEventListener('click', () => {
                    if (startIndex + 5 < actorsData.length) {
                        startIndex++; // Tăng chỉ số bắt đầu
                        renderActors(actorListId);
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching actor film list:', error);
            });
    }





    document.getElementById('submit-comment').addEventListener('click', function () {



        const accessToken = localStorage.getItem('access_token');

        if (!accessToken) {
            window.location.href = '/login/';
        }

        else if (!isAccessTokenValid()) {
            alert('Token đã hết hạn. Vui lòng đăng nhập.');
            localStorage.removeItem('access_token');
            window.location.href = '/login/';
            return; // Dừng hàm nếu token không hợp lệ
        }

        const rate = document.getElementById('comment-rate').value;
        const content = document.getElementById('comment-content').value;

        if (!rate && !content) {
            alert('Vui lòng nhập thông tin đánh giá và bình luận.');
            return;
        }
        if (!rate) {
            alert('Vui lòng nhập thông tin đánh giá.');
            return;
        }
        if (!content) {
            alert('Vui lòng nhập bình luận.');
            return;
        }

        // Gửi bình luận lên server
        fetch(`/api/comments/`, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                film: filmId,
                rate: rate,
                content: content,
            }),
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                // Làm sạch ô nhập liệu sau khi gửi
                document.getElementById('comment-rate').value = '';
                document.getElementById('comment-content').value = '';
                // Xóa class color-star khỏi tất cả các sao
                const stars = document.querySelectorAll('.box-choose-star i');
                stars.forEach(star => star.classList.remove('color-star'));

                // Cập nhật danh sách bình luận
                getComments(filmId, page = 1);
            })
            .catch(error => {
                console.error('Error posting comment:', error);
            });
    });


    const commentList = document.getElementById('comment-list');
    const prevPageBtn = document.querySelector('.prev-page');
    const nextPageBtn = document.querySelector('.next-page');
    let currentPage = 1;
    let totalPages;


    function renderComments(comments) {
        commentList.innerHTML = '';
        comments.forEach(comment => {
            const commentItem = document.createElement('div');
            commentItem.classList.add('comment-item');

            const date = new Date(comment.created_at);
            const day = String(date.getDate()).padStart(2, '0'); // Lấy ngày và thêm số 0 nếu cần
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Lấy tháng (tháng bắt đầu từ 0)
            const year = date.getFullYear(); // Lấy năm
            const formattedDate = `${day}/${month}/${year}`; // Định dạng ngày

            commentItem.innerHTML = `
                    <div class="box-comment-info-user">
                        <span class="comment-username">${comment.user.username}</span>
                        <div class="box-comment-rate">
                            <span class="comment-rate">${comment.rate}</span>
                            <i class="fa-regular fa-star icon-star-comment"></i>
                        </div>
                    </div>
                   
                    <p class="comment-content">${comment.content}</p>
                    <span class="comment-date">${formattedDate}</span>


            `;


            commentList.appendChild(commentItem);
        });
    }


    function updatePaginationButtons() {
        prevPageBtn.disabled = currentPage === 1;
        nextPageBtn.disabled = !totalPages || currentPage === totalPages;
    }

    getComments(filmId);
    function getComments(filmId, page = 1) {
        let url = `/api/comments/?page=${page}&film=${filmId}&ordering=-created_at`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                renderComments(data.results);
                totalPages = Math.ceil(data.count / data.results.length);
                currentPage = page;
                updatePaginationButtons();

                // Nếu không có next, ẩn nút next
                nextPageBtn.disabled = !data.next;
            })
            .catch(error => {
                console.error('Error fetching comment data:', error);
            });
    }


    prevPageBtn.addEventListener('click', () => {
        getComments(filmId, currentPage - 1);
    });

    nextPageBtn.addEventListener('click', () => {
        getComments(filmId, currentPage + 1);
    });

    getComments(filmId);




    let dataArray = [];

    function getMultimediaData(filmIdListImg) {
        fetch(`/api/videos/?film=${filmIdListImg}`)
            .then(response => response.json())
            .then(videoData => {
                videoData.results.forEach(video => {
                    dataArray.push({
                        type: 'video',
                        src: video.video,
                        videoType: video.video_type
                    });
                });

                fetch(`/api/images/?film=${filmIdListImg}`)
                    .then(response => response.json())
                    .then(imageData => {
                        imageData.results.forEach(image => {
                            dataArray.push({
                                type: 'image',
                                src: image.image,
                                alt: image.id
                            });
                        });

                        initSwiper(dataArray);
                    })
                    .catch(error => {
                        console.error('Error fetching image data:', error);
                    });
            })
            .catch(error => {
                console.error('Error fetching video data:', error);
            });
    }

    function initSwiper(dataArray) {
        const swiperContainer = document.querySelector('.swiper-container');
        const swiperWrapper = swiperContainer.querySelector('.swiper-wrapper');

        dataArray.forEach(data => {
            const swiperSlide = document.createElement('div');
            swiperSlide.classList.add('swiper-slide');

            if (data.type === 'image') {
                swiperSlide.innerHTML = `
                    <img src="${data.src}" alt="${data.alt}" class="image-film-detail">
                `;
            } else if (data.type === 'video') {
                swiperSlide.innerHTML = `
                    <video controls class="video-film-detail">
                        <source src="${data.src}" type="${data.videoType}">
                    </video>
                `;
            }

            swiperWrapper.appendChild(swiperSlide);
        });

        new Swiper('.swiper-container', {
            loop: true,

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });


    }






</script>
{% endblock filmDetail %}