{% extends 'base.html' %} 
{% load static %}

{% block slider %} 
    <!-- <link rel="stylesheet" href="/static/css/home.css"> -->
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet" />
    <div>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
                <!-- Nội dung các slide sẽ được tạo động bằng JavaScript -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <script>
        

        // Hiển thị danh sách phim lên carousel
        function renderSlideFilm(films) {
            const carouselInner = document.querySelector('.carousel-inner');
            carouselInner.innerHTML = ''; // Xóa nội dung cũ

            films.forEach((film, index) => {

                const date = new Date(film.release);
                const currentDate = new Date();
                const timeDifference = date - currentDate;
                const daysRemaining = Math.ceil(timeDifference / (1000 * 3600 * 24));

                const carouselItem = document.createElement('div');
                carouselItem.classList.add('carousel-item');
                if (index === 0) {
                    carouselItem.classList.add('active');
                }
                carouselItem.innerHTML = `
                    <img src="${film.banner}" style="width: 100%; height: 420px; cursor: pointer;" alt="${film.name}">
                    

                `;

                if (daysRemaining === 0) {
                    updateFilmStatus(film.id, 'Now');
                   
                   
                }
    
                if (daysRemaining === -14){
                    updateFilmStatus(film.id, 'Stop');
                    updateStatusScheduleFilm(film.id, 'Hết hạn');
                    getSlideFilm();
                }
    
                if (daysRemaining > 0){
                    updateFilmStatus(film.id, 'Coming');
                    
                }



                carouselItem.addEventListener('click', () => {
                    window.location.href = `/film/${film.id}/`;
                });
                carouselInner.appendChild(carouselItem);
            });
        }

        function getSlideFilm() {
            fetch('/api/films/?status__iexact=Now&ordering=-view')
                .then(response => response.json())
                .then(data => {
                    renderSlideFilm(data.results.slice(0, 5));
                })
                .catch(error => {
                    console.error('Error fetching film data:', error);
                });
        }

        getSlideFilm();
        




        // Tự động dừng carousel khi di chuột vào, chạy lại khi di chuột ra
        const carousel = document.getElementById('carouselExampleInterval');
        carousel.addEventListener('mouseenter', () => {
            carousel.pause();
        });
        carousel.addEventListener('mouseleave', () => {
            carousel.cycle();
        });
    </script>

{% endblock slider %}

{% block content %}
   
    <div class="container-film-list">

        <div class="box-search-film">
            <span id="search-button-film" class="btn-search-film"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" id="name-film-input" class="input-search-film" placeholder="Nhập tên phim">
        </div>

        <div class="box-btn-show">
            <span class="btn-now" id="btn-now">Phim đang chiếu</span>
            <span class="btn-comming" id="btn-coming">Phim sắp chiếu</span>
        </div>

        

        <div class="box-film-list">
            <div class="film-list" id="film-list">
                <!-- Nội dung các phim sẽ được tạo động bằng JavaScript -->
            </div>
        </div>
        
        <div class="box-pagination">
            <button class="prev-page" disabled><i class="fa-solid fa-chevron-left"></i></button>
            <button class="next-page"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>

    <script>


    const filmList = document.getElementById('film-list');
    const prevPageBtn = document.querySelector('.prev-page');
    const nextPageBtn = document.querySelector('.next-page');
    let currentPage = 1;
    let totalPages;
    let status = null;
    

    function renderFilms(films) {
        filmList.innerHTML = '';
        films.slice(0,8).forEach(film => {
            const filmItem = document.createElement('div');
            filmItem.classList.add('film-item');

            const date = new Date(film.release);
            const day = String(date.getDate()).padStart(2, '0'); // Lấy ngày và thêm số 0 nếu cần
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Lấy tháng (tháng bắt đầu từ 0)
            const year = date.getFullYear(); // Lấy năm
            const formattedDate = `${day}/${month}/${year}`; // Định dạng ngày  
            

             // Tính số ngày còn lại
            const currentDate = new Date();
            const timeDifference = date - currentDate; // Tính chênh lệch thời gian
            const daysRemaining = Math.ceil(timeDifference / (1000 * 3600 * 24)); // Chuyển đổi sang ngày

            

            filmItem.innerHTML = `

                        <span class="box-film-item-content-imdb">
                            <span  class="film-home-content-imdb"> <span class="film-home-detail-content-imdb">IMDb</span> ${film.imdb}</span>
                        </span>


                        <div class="box-film-item-img-content">
                        

                            <div class="box-film-item-img">
                                <img src="${film.poster}" class="film-item-img" alt="${film.name}">
                                <div class="box-film-item-operation">
                                    <span class="btn-booking" data-film-id="${film.id}">Đặt vé</span>
                                    <span class="btn-film-details" data-film-id="${film.id}">Chi tiết</span>
                                </div>
                                
                                <div class="box-film-item-time-coming">
                                    ${daysRemaining === -14 ? 'Ngừng chiếu' : (daysRemaining > 0 ? daysRemaining + ' - ngày nữa' : 'Đang chiếu')}
                                </div>
                            </div>

                            <div class="film-item-content">
                                <div class="box-film-item-info">
                                    <span class="film-item-age">T${film.age}</span>
                                    <span class="film-item-name">${film.name}</span>
                                </div>

                                <div class="box-film-time">
                                    <span class="film-item-duration">${film.duration} Phút</span>
                                    <span class="film-item-release">${formattedDate}</span>
                                </div>
                                
                            </div>

                        </div>
                    


                
            `;

            // Gọi hàm cập nhật trạng thái nếu daysRemaining bằng 0
            if (daysRemaining === 0) {
                updateFilmStatus(film.id, 'Now');
                
               
            }

            if (daysRemaining === -14){
                updateFilmStatus(film.id, 'Stop');
                updateStatusScheduleFilm(film.id, 'Hết hạn');
                getFilms();
            }

            //if (daysRemaining > 0){
            //    updateFilmStatus(film.id, 'Coming');
                
            //}

            

            filmItem.querySelector('.btn-film-details').addEventListener('click', () => {
                window.location.href = `/film/${film.id}/`;
            });
            filmItem.querySelector('.btn-booking').addEventListener('click', () => {
                window.location.href = `/bookfilm/${film.id}/`;
            });
            filmList.appendChild(filmItem);
        });
        // Thêm nút "Xem thêm" nếu có nhiều hơn 4 phim
        if (films.length > 8) {

            const boxSeeMore = document.createElement('div');
            boxSeeMore.classList.add('box-see-more-all');

            const seeMoreButton = document.createElement('div');
            seeMoreButton.classList.add('box-see-more-button');


            const seeMoreSpan = document.createElement('span');
            seeMoreSpan.classList.add('text-see-more-button')
            seeMoreSpan.textContent = 'Xem thêm';

            
            const seeMoreIcon = document.createElement('i');
            seeMoreIcon.classList.add('fa-solid', 'fa-caret-down', 'icon-see-more');
            

            seeMoreButton.addEventListener('click', () => {
                renderAllFilms(films); // Gọi hàm để render tất cả phim
            });

            seeMoreButton.appendChild(seeMoreSpan);

            boxSeeMore.appendChild(seeMoreButton);
            boxSeeMore.appendChild(seeMoreIcon);

            

            filmList.appendChild(boxSeeMore);
            
        }
    }


    function renderAllFilms(films) {
        filmList.innerHTML = '';
        films.forEach(film => {
            const filmItem = document.createElement('div');
            filmItem.classList.add('film-item');

            const date = new Date(film.release);
            const day = String(date.getDate()).padStart(2, '0'); // Lấy ngày và thêm số 0 nếu cần
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Lấy tháng (tháng bắt đầu từ 0)
            const year = date.getFullYear(); // Lấy năm
            const formattedDate = `${day}/${month}/${year}`; // Định dạng ngày  
            

             // Tính số ngày còn lại
            const currentDate = new Date();
            const timeDifference = date - currentDate; // Tính chênh lệch thời gian
            const daysRemaining = Math.ceil(timeDifference / (1000 * 3600 * 24)); // Chuyển đổi sang ngày

            

            filmItem.innerHTML = `

                        <span class="box-film-item-content-imdb">
                            <span  class="film-home-content-imdb"> <span class="film-home-detail-content-imdb">IMDb</span> ${film.imdb}</span>
                        </span>


                        <div class="box-film-item-img-content">
                        

                            <div class="box-film-item-img">
                                <img src="${film.poster}" class="film-item-img" alt="${film.name}">
                                <div class="box-film-item-operation">
                                    <span class="btn-booking" data-film-id="${film.id}">Đặt vé</span>
                                    <span class="btn-film-details" data-film-id="${film.id}">Chi tiết</span>
                                </div>
                                
                                <div class="box-film-item-time-coming">
                                    ${daysRemaining === -14 ? 'Ngừng chiếu' : (daysRemaining > 0 ? daysRemaining + ' - ngày nữa' : 'Đang chiếu')}
                                </div>
                            </div>

                            <div class="film-item-content">
                                <div class="box-film-item-info">
                                    <span class="film-item-age">T${film.age}</span>
                                    <span class="film-item-name">${film.name}</span>
                                </div>

                                <div class="box-film-time">
                                    <span class="film-item-duration">${film.duration} Phút</span>
                                    <span class="film-item-release">${formattedDate}</span>
                                </div>
                                
                            </div>

                        </div>
                    


                
            `;

            // Gọi hàm cập nhật trạng thái nếu daysRemaining bằng 0
            if (daysRemaining === 0) {
                updateFilmStatus(film.id, 'Now');
                
               
            }

            if (daysRemaining === -14){
                updateFilmStatus(film.id, 'Stop');
                updateStatusScheduleFilm(film.id, 'Hết hạn');
                getFilms();
            }

            //if (daysRemaining > 0){
            //    updateFilmStatus(film.id, 'Coming');
                
            //}

            

            filmItem.querySelector('.btn-film-details').addEventListener('click', () => {
                window.location.href = `/film/${film.id}/`;
            });
            filmItem.querySelector('.btn-booking').addEventListener('click', () => {
                window.location.href = `/bookfilm/${film.id}/`;
            });
            filmList.appendChild(filmItem);
        });
        
    }



    function updateFilmStatus(filmId, status) {
        const data = { status: status };
        const accessToken = localStorage.getItem('access_token');
    
        fetch(`/api/films/${filmId}/`, {
            method: 'PATCH',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (response.ok) {
                console.log(`Film ${filmId} updated to ${status}.`);
                // Có thể gọi lại getFilms() để làm mới danh sách phim
                
                
            } else {
                console.error('Failed to update film status:', response.statusText);
            }
        })
        .catch(error => {
            console.error('Error updating film status:', error);
        });
    }

    function updateStatusScheduleFilm(filmId, status) {
        const data = { status: status };
        const accessToken = localStorage.getItem('access_token');
    
        fetch(`/api/schedules/update-by-film/?film=${filmId}`, {
            method: 'PATCH',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (response.ok) {
                console.log(`Film ${filmId} updated to ${status}.`);
                // Có thể gọi lại getFilms() để làm mới danh sách phim
                
                
            } else {
                console.error('Failed to update film status:', response.statusText);
            }
        })
        .catch(error => {
            console.error('Error updating film status:', error);
        });
    }


    

    function updatePaginationButtons() {
        prevPageBtn.disabled = currentPage === 1;
        nextPageBtn.disabled = !totalPages || currentPage === totalPages;
    }

    function getFilms( page = 1) {

        const nameInput = document.getElementById('name-film-input').value.trim();

        let url = `/api/films/?page=${page}&ordering=release&status__in=Now,Coming`;
        if (status) {
            url += `&status__iexact=${status}`;
        }

        if (nameInput) {
            url += `&name__icontains=${nameInput}`;
        }

        fetch(url)
        .then(response => response.json())
        .then(data => {
            renderFilms(data.results);
            totalPages = Math.ceil(data.count / data.results.length);
            currentPage = page;
            updatePaginationButtons();

            // Nếu không có next, ẩn nút next
            nextPageBtn.disabled = !data.next;
        })
        .catch(error => {
            console.error('Error fetching film data:', error);
        });
    }

    
    
    prevPageBtn.addEventListener('click', () => {
        getFilms( currentPage - 1);
    });
    
    nextPageBtn.addEventListener('click', () => {
        getFilms( currentPage + 1);
    });
    

    document.getElementById('btn-now').addEventListener('click', () => {
        const btnNow = document.getElementById('btn-now');
        const btnComing = document.getElementById('btn-coming');

        if (btnNow.style.opacity === '0.5') {
            // Nếu đang được chọn, bỏ chọn
            btnNow.style.opacity = '1';
            btnNow.style.color = '#d5a12c';
            btnNow.style.borderColor = '#d5a12c';
            btnNow.style.boxShadow = '0px 0px 0px 3px #cdc197';
             
            status = ''; // Reset status
            getFilms();
        } else {
            // Nếu không được chọn, chọn nó
            btnNow.style.opacity = '0.5';
            btnNow.style.color = '#cdc197';
            btnNow.style.borderColor = '#cdc197';
            btnNow.style.boxShadow = '0px 0px 0px 3px #d5a12c';
            status = 'Now';
            getFilms();
            // Nếu btn-coming đang được chọn, bỏ chọn nó
            if (btnComing.style.opacity === '0.5') {
                btnComing.style.opacity = '1';
                btnComing.style.color = '#d5a12c';
                btnComing.style.borderColor = '#d5a12c';
                btnComing.style.boxShadow = '0px 0px 0px 3px #cdc197';
                status = 'Now'; // Reset status cho btn-coming
            }
    
        }
    });

    document.getElementById('btn-coming').addEventListener('click', () => {
        const btnComing = document.getElementById('btn-coming');
        const btnNow = document.getElementById('btn-now');

        if (btnComing.style.opacity === '0.5') {
            // Nếu đang được chọn, bỏ chọn
            btnComing.style.opacity = '1';
            btnComing.style.color = '#d5a12c';
            btnComing.style.borderColor = '#d5a12c';
            btnComing.style.boxShadow = '0px 0px 0px 3px #cdc197';

            status = ''; // Reset status
            getFilms();
        } else {
            // Nếu không được chọn, chọn nó
            btnComing.style.opacity = '0.5';
            btnComing.style.color = '#cdc197';
            btnComing.style.borderColor = '#cdc197';
            btnComing.style.boxShadow = '0px 0px 0px 3px #d5a12c';
            status = 'Coming';
            getFilms();
            // Nếu btn-now đang được chọn, bỏ chọn nó
            if (btnNow.style.opacity === '0.5') {
                btnNow.style.opacity = '1';
                btnNow.style.color = '#d5a12c';
                btnNow.style.borderColor = '#d5a12c';
                btnNow.style.boxShadow = '0px 0px 0px 3px #cdc197';
                status = 'Coming'; // Reset status cho btn-now
            }

        }
    });


    document.getElementById('search-button-film').addEventListener('click', () => {
        currentPage = 1; // Đặt lại trang về 1 khi tìm kiếm
        getFilms(); // Gọi hàm getFilms để tìm kiếm
    });

    document.getElementById('name-film-input').addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
            currentPage = 1; 
            getFilms(); 
        }
    });

    getFilms();


    </script>

{% endblock content %}















