{% extends 'base.html' %} 
{% load static %}

{% block listTicket %} 

<style>

    .container-ticket{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .box-ticket-all{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .box-ticket-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
    }

    .ticket-item{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px ;
        
        border-right: 1px solid #d5a12c;
        border-left: 1px solid #d5a12c;
        margin-bottom: 30px;
    }

    .ticket-item-place{


    }
    .ticket-item-name{
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;

    }
    .box-ticket-list-seat-all{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0px 20px 0px;

    }
    .ticket-label-seat{
        margin-right: 5px;

    }
    .box-ticket-list-seat{
        display: flex;
        align-items: center;

    }
    .box-ticket-bottom{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        border-top: 1px dashed #d5a12c;
        border-bottom: 1px dashed #d5a12c;

    }
    .box-ticket-time{
        display: flex;
        align-items: center;

    }
    .ticket-label-day{

    }
    .ticket-day{
        font-weight: bold;
        margin: 0px 10px;

    }
    .ticket-valid{
        min-height: 30px; 
        min-width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #d5a12c;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0px 0px 2px 1px #d5a12c;


    }
    .btn-ticket-detail{
        cursor: pointer;
        font-weight: bold;
        transition: all 0.2s linear;
    }

    .btn-ticket-detail:hover{
        color: #cdc197; /* Màu sắc khi được chọn */
        text-shadow: 1px 1px 1px #d2a02f;
    }
    
   

</style>

<div class="container-ticket">
   
    <div class="box-ticket-all">
        <div id="ticket-list" class="box-ticket-list">

        </div>
    </div>

    <div class="box-pagination">
        <button class="prev-page" disabled><i class="fa-solid fa-chevron-left"></i></button>
        <button class="next-page"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    
</div>

<script>

    
    // Hàm kiểm tra access token
    function checkAccessToken() {
        const accessToken = localStorage.getItem('access_token');
        
        if (!accessToken) {
            // Nếu không có token, chuyển hướng về trang đăng nhập
            window.location.href = '/login/';
        } else {
            const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
            const currentTime = Math.floor(Date.now() / 1000);

            // Kiểm tra xem token đã hết hạn chưa
            if (tokenPayload.exp < currentTime) {
                // Nếu token hết hạn, chuyển hướng về trang đăng nhập
                alert('token het han vui long login');
                localStorage.removeItem('access_token');
                
                window.location.href = '/login/';
            } 
        }
    }

    checkAccessToken();

    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }


    const url = new URL(window.location.href);
    const sessionIdUser = url.pathname.split('/')[2];


    const ticketList = document.getElementById('ticket-list');
    const prevPageBtn = document.querySelector('.prev-page');
    const nextPageBtn = document.querySelector('.next-page');
    let currentPage = 1;
    let totalPages;
    

    function renderTickets(tickets) {
        ticketList.innerHTML = '';
        tickets.forEach(ticket => {
            const date = new Date(ticket.pay.schedule.dayshow.day);
            const day = String(date.getDate()).padStart(2, '0'); // Lấy ngày và thêm số 0 nếu cần
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Lấy tháng (tháng bắt đầu từ 0)
            const year = date.getFullYear(); // Lấy năm
            const formattedDate = `${day}/${month}/${year}`; // Định dạng ngày

            const ticketItem = document.createElement('div');
            ticketItem.classList.add('ticket-item');

            ticketItem.innerHTML = `
                    <span class="ticket-item-place">${ticket.pay.schedule.place.name} </span>

                    <span class="ticket-item-name">${ticket.pay.schedule.film.name} </span>
                    <div class="box-ticket-list-seat-all">
                        <span class="ticket-label-seat">Ghế</span>
                        <div id="ticket-list-seat-${ticket.pay.booking.id}" class="box-ticket-list-seat">

                        </div>

                        
                    </div>

                    <div class="box-ticket-bottom">
                        <div class="box-ticket-time">
                            <span class="ticket-label-day">Suất chiếu:</span>
                            <span class="ticket-day">${formattedDate}</span>
                            <span class="ticket-valid">${ticket.status}</span>

                        </div>

                    
                        <span class="btn-ticket-detail" data-ticket-id="${ticket.id}" >Xem chi tiết ></span>
                        
                    </div>

            `;

            ticketItem.querySelector('.btn-ticket-detail').addEventListener('click', () => {
                window.location.href = `/ticketissued/${ticket.id}/`;
            });
                
            getSeatList(ticket.pay.booking.id, `ticket-list-seat-${ticket.pay.booking.id}`);
            
            ticketList.appendChild(ticketItem);
            
        });
    }


    function updatePaginationButtons() {
        prevPageBtn.disabled = currentPage === 1;
        nextPageBtn.disabled = !totalPages || currentPage === totalPages;
    }

    getTickets(page = 1, sessionIdUser);
    function getTickets(page = 1,sessionIdUser) {
        let url = `/api/bills/?page=${page}&ordering=-created_at&user=${sessionIdUser}`;
        
        fetch(url)
        .then(response => response.json())
        .then(data => {
            renderTickets(data.results);
            totalPages = Math.ceil(data.count / data.results.length);
            currentPage = page;
            updatePaginationButtons();

            // Nếu không có next, ẩn nút next
            nextPageBtn.disabled = !data.next;
        })
        .catch(error => {
            console.error('Error fetching ticketlist data:', error);
        });
    }

    
    prevPageBtn.addEventListener('click', () => {
        getTickets(currentPage - 1,sessionIdUser);
    });
    
    nextPageBtn.addEventListener('click', () => {
        getTickets( currentPage + 1,sessionIdUser);
    });

   

    function getSeatList(bookingId, ticketListSeat) {
        fetch(`/api/bookingdetails/?booking=${bookingId}`)
        .then(response => response.json())
        .then(data => {
            const bookingDetailList = document.getElementById(ticketListSeat);
            bookingDetailList.innerHTML = ''; 

            data.results.forEach(bookingDetail => {
                const bookingDetailItem = document.createElement('div');
                bookingDetailItem.classList.add('seat-item');

                bookingDetailItem.innerHTML = `
                    
                        <span class="seat-item-name">${bookingDetail.seat.name}, </span>
            
                `;
                 
                
                
                bookingDetailList.appendChild(bookingDetailItem);
            });

            
        })
        .catch(error => {
            console.error('Error fetching area details:', error);
        });
    }


    


</script>



{% endblock listTicket %} 
