{% extends 'base.html' %}
{% load static %}

{% block logIn %}

    <div class="container-login">

        <div class="box-login-cinema">
            <form id="login-form" class="box-login">
                <span class="login-title">Đăng Nhập</span>
                <div>
                    <label for="username">Tên người dùng:</label>
                    <input type="email" class="input-text-login" id="username" name="username" placeholder="Nhập email" required>
                </div>
                <div>
                    <label for="password">Mật khẩu:</label>
                    <input type="password" class="input-text-login" id="password" name="password" placeholder="Nhập mật khẩu" required>
                </div>
                <div class="box-btn-login">
                    <button type="submit" class="btn-login-main">Đăng Nhập</button>
                </div>
                
                <div id="message"></div>
                

                <div class="box-btn-register">
                    <span id="btn-register" class="btn-register" >Đăng Ký</span>
                </div>
                
            </form>

            <img src="../static/images/login.jpg" alt="" class="img-login-cinema">
        </div>
    </div>

    <style>
        .container-login{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 70px 0px; 
        }

        .box-login-cinema{
            width: 49%;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
          
            box-shadow: 5px 5px 5px 3px #cdc197;
            
        }

        .img-login-cinema{
            width: 45%;
            height: 100%;
           
        }

        .box-login{
            width: 55%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            padding: 0px 60px;
            
           


        }

        .login-title{
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        

        .input-text-login{
            width: 100%;
            margin: 10px 0;
            padding: 7px 10px;
            color: #d5a12c;
            background-color: transparent;
            text-shadow: 1px 1px 1px #000;
            outline-color: #cdc197;
            box-shadow: 0px 0px 0px 2px #cdc197;
            border: 2px solid #d5a12c;
            transition: all 0.2s linear;

        }

        .input-text-login:hover {
            border-color: #cdc197;
            box-shadow: 0px 0px 0px 2px #d5a12c;

        }

        .input-text-login::placeholder{
            color: #cdc197;
            opacity: 0.6;
        }

        

        .box-btn-login{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 30px;
            
        }
        .box-btn-register{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            

        }

        .btn-login-main{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px ;
            min-width: 170px;

            font-weight: bold;
            border: 2px solid #d5a12c;
            box-shadow: 0px 0px 0px 3px #cdc197;
            cursor: pointer;
            background-color: transparent;
            color: #d5a12c;
            text-shadow: 1px 1px 1px #000;
            transition: all 0.2s linear;
            


        }

        .btn-login-main:hover{
            color: #cdc197;
            border-color: #cdc197;
            box-shadow: 0px 0px 0px 3px #d5a12c;


        }

        .btn-register{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px ;
            min-width: 170px;
            font-weight: bold;
            border: 2px solid #d5a12c;
            box-shadow: 0px 0px 0px 3px #cdc197;
            cursor: pointer;
            margin-top: 15px;
            transition: all 0.2s linear;

        }

        .btn-register:hover{
            color: #cdc197;
            border-color: #cdc197;
            box-shadow: 0px 0px 0px 3px #d5a12c;


        }
        
    </style>

    <script>
        document.getElementById('btn-register').addEventListener('click', function() {
            window.location.href = '/register/';
        })

        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            fetch('/api/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 200) {
                    // Lưu token vào localStorage
                    localStorage.setItem('access_token', data.access);
                    localStorage.setItem('refresh_token', data.refresh);
                    localStorage.setItem('session_name', data.name);
                    localStorage.setItem('session_id', data.id);
                    localStorage.setItem('is_admin', data.is_admin);
                    
                    document.getElementById('message').innerText = data.message;

                    // Chuyển hướng đến trang tương ứng
                    if (data.is_admin) {
                        // Nếu người dùng là admin, chuyển hướng đến trang admin
                        window.location.href = '/statisticalmanage/';
                    } else {
                        // Nếu người dùng là user thông thường, chuyển hướng đến trang người dùng
                        window.location.href = '/home/';
                    }


                } else {
                    document.getElementById('message').innerText = data.message || 'Đăng nhập không thành công';
                }
            })
            .catch(error => {
                document.getElementById('message').innerText = 'Đăng nhập không thành công. Vui lòng thử lại.';
            });
        });
    </script>
{% endblock logIn %}