{% extends 'adminmanager.html' %} 
{% load static %}

{% block logoInsert %} 

<div class="container my-5">
    <h2>Thêm logo Mới</h2>
    <form id="form-manage" method="post" action="/api/logos/">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="name">Tên</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="image">Ảnh</label>
            <img id="image-preview" src="" alt="Ảnh logo" class="img-fluid">
            <input type="file" class="form-control-file" id="image" name="image" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>


<script>

    // Hàm kiểm tra access token
    function checkAccessToken() {
        const accessToken = localStorage.getItem('access_token');
        const isAdmin = localStorage.getItem('is_admin');

        if (!accessToken && isAdmin === 'false') {
            // Nếu không có token, chuyển hướng về trang đăng nhập
            window.location.href = '/login/';
        } else {
            const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
            const currentTime = Math.floor(Date.now() / 1000);

            // Kiểm tra xem token đã hết hạn chưa
            if (tokenPayload.exp < currentTime) {
                // Nếu token hết hạn, chuyển hướng về trang đăng nhập
                alert('token het han vui long login');
                localStorage.removeItem('access_token');
                localStorage.removeItem('refresh_token');
                localStorage.removeItem('session_name');
                localStorage.removeItem('is_admin');

                window.location.href = '/login/';
            } 
        }
    }

    checkAccessToken();

    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }


    const imageInput = document.getElementById('image');
    const imagePreview = document.getElementById('image-preview');

    imageInput.addEventListener('change', function() {
        if (this.files && this.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
            }
            reader.readAsDataURL(this.files[0]);
        }
    });


   

    document.getElementById('form-manage').addEventListener('submit', function(event) {
        event.preventDefault();


        const accessToken = localStorage.getItem('access_token');

        const name = document.getElementById('name').value;
        const imageFile = document.getElementById('image');

        
        const formData = new FormData();
        
        formData.append('name', name);
        if (imageFile.files.length > 0) {
            formData.append('image', imageFile.files[0]);
        }
        
        
        fetch('/api/logos/', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
            },
            body: formData,
        })
        .then(response => {
            if (response.ok) {
                alert('Thêm logo mới thành công!');
                this.reset();
                window.location.href = '/logomanage/';
            } else {
                alert('Lỗi khi thêm logo mới. Vui lòng thử lại.');
            }
        })
        .catch(error => {
            alert('Lỗi khi thêm logo mới: ' + error);
        });
    }); 

</script>

{% endblock logoInsert %} 
