{% extends 'base.html' %}
{% load static %}

{% block promotionDetail %}

<style>
    .box-promotion-detail{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5px 0px;
    }
    .promotion-detail-item{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        

    }
    .box-promotion-banner{
        width: 100%;
        height: 620px;
        display: flex;
        
        
    }
    .promotion-banner{
        width: 100%;
        height: 100%;
    }


    .box-promotion-bottom-info{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .promotion-name{
        font-size: 24px;
        display: flex;
        width: 80%;
        align-items: center;
        
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 10px;
        border-top: 1px dashed #cdc197;
        border-bottom: 1px dashed #cdc197;
        margin: 30px 0px;
        
        



    }
    .box-promotion-image{
        width: 80%;
        
        

    }
    .promotion-image{
        width: 100%;
        object-fit: contain;

    }
    .box-promotion-info{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 10px;
        border-top: 1px dashed #cdc197;
        border-bottom: 1px dashed #cdc197;

        margin-top: 30px;
        margin-bottom: 30px;
        
    }

    .box-title-promotion-info{
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 17px;
        margin-bottom: 5px;
    }
    .title-promotion-description{
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 15px;
        border-right: 3px solid #d5a12c;
       
        

    }


    .promotion-start-date{
        font-weight: bold;
        margin: 0px 3px 0px 10px;

    }

    .promotion-end-date{
        font-weight: bold;
        margin-left: 3px;
        padding-right: 10px;
        border-right: 3px solid #d5a12c;
    }

    .promotion-description{
        margin: 0px;
        

    }
    
    
    
    

</style>

<div class="box-promotion-detail">
    <div id="promotion-detail" class="promotion-detail-item">

    </div>

</div>



<script>
    // Get the promotion ID from the URL
    const url = new URL(window.location.href);
    const promotionId = url.pathname.split('/')[2];

    // Fetch the promotion details
    fetch(`/api/promotions/${promotionId}/`)
    .then(response => response.json())
    .then(data => {
        const promotionDetailContainer = document.getElementById('promotion-detail');

        function formatDate(dateString) {
            const date = new Date(dateString);
            const day = String(date.getDate()).padStart(2, '0');
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const year = date.getFullYear();
            return `${day}/${month}/${year}`;
        }

        promotionDetailContainer.innerHTML = `

                <div class="box-promotion-banner">
                    <img class="promotion-banner" src="${data.banner}" alt="Promotion banner">
                </div>


                <div class="box-promotion-bottom-info">
                    <span id="promotion-name" class="promotion-name">${data.name}</span>

                    <div class="box-promotion-image">
                        <img class="promotion-image" src="${data.image}" alt="Promotion Image">
                    </div>
                    
                        
                    <div class="box-promotion-info">
                        <div class="box-title-promotion-info">
                            <span class="title-promotion-description">Khuyến mãi</span>
                            
                            <span class="promotion-start-date">${formatDate(data.start_date)}</span> 
                            ~ 
                            <span class="promotion-end-date">${formatDate(data.end_date)}</span>
                        
                        </div>
                        
                        
                        
                        
                        <p id="promotion-description" class="promotion-description" >${data.description}</p>
                    </div>

                </div>

                
                
                
            
        `;
    })
    .catch(error => {
        console.error('Error fetching promotion details:', error);
    });
</script>
{% endblock promotionDetail %}