{% extends 'adminmanager.html' %}
{% load static %}

{% block roomManage %}

<style>
    .box-btn-manage {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .box-add-delete {
        display: flex;
    }

    .box-search-choose {
        display: flex;
        align-items: center;
        min-width: 425px;
        justify-content: space-between;
        margin-right: 20px;
    }

    .box-search-name-film {
        border: 2px solid #cdc197;
        border-radius: 3px;
        transition: all 0.2s linear;
        padding: 2px 0px;

    }

    .icon-search-name {
        color: #cdc197;
        transition: all 0.2s linear;
        margin-left: 7px;
    }

    .input-search-name-film {

        background-color: transparent;
        text-shadow: 1px 1px 1px #000;
        outline: none;
        border: none;
        transition: all 0.2s linear;
        color: #d5a12c;
        padding-left: 5px;
    }

    .input-search-name-film::placeholder {
        color: #cdc197;
        transition: all 0.2s linear;
        opacity: 0.7;
    }

    .box-search-name-film:hover {
        border-color: #d5a12c;

    }

    .box-search-name-film:hover .icon-search-name {
        color: #d5a12c;
    }

    .box-search-name-film:hover .input-search-name-film::placeholder {
        color: #d5a12c;
    }

    .box-search-name-film:hover .input-choose-status-film {
        color: #d5a12c;
    }



    .input-choose-status-film {
        background-color: transparent;
        text-shadow: 1px 1px 1px #000;
        outline: none;
        border: none;
        transition: all 0.2s linear;
        color: #cdc197;
        padding-left: 2px;
    }




    .manage-list {
        width: 100%;
        display: flex;
        font-size: 14px;
        margin-top: 20px;


    }

    .manage-list .table {}

    .manage-list .table tr {
        border-bottom: 1px solid #cdc197;


    }

    .manage-list .table tr th {
        min-width: 200px;
        text-align: center;
        border-left: 1px solid #cdc197;
    }

    .manage-list .table tr td {
        min-width: 200px;
        text-align: center;
        border-left: 1px solid #cdc197;
        padding: 10px;



    }


    .btn-update-manage {
        border: 2px solid #d5a12c !important;
        box-shadow: 0px 0px 0px 3px #cdc197 !important;

        font-size: 14px;
        font-weight: 1000;
        margin-right: 5px;
        cursor: pointer;
        color: #d5a12c !important;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 2px 10px !important;
        background-color: transparent !important;


    }

    .btn-delete-manage {

        border: 2px solid #d5a12c !important;
        box-shadow: 0px 0px 0px 3px #cdc197 !important;

        font-size: 14px;
        font-weight: 1000;

        cursor: pointer;
        color: #d5a12c !important;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 2px 10px !important;
        background-color: transparent !important;
        margin: 10px 0px;

    }
</style>


<span class="title-manage">Quản lý phòng</span>

<div class="box-btn-manage">
    <div class="box-add-delete">
        <span id="insert-manage" class="insert-manage">Thêm</span>
        <button id="delete-multi-manage" class="btn-delete-multi-manage">Xóa nhiều</button>
    </div>

    <div class="box-search-choose">

        <div class="box-search-name-film">

            <input type="text" class="input-search-name-film" id="place" place="place" placeholder="Chọn địa điểm"
                readonly>
            <input type="hidden" id="place-id" value="">
            <div id="place-list" class="dropdown-menu">

            </div>

        </div>



        <div class="box-search-name-film">
            <i class="fa-solid fa-magnifying-glass icon-search-name"></i>
            <input type="text" id="name-film-input" class="input-search-name-film" placeholder="Nhập tên phòng">
        </div>

    </div>

</div>

<div id="manage-list" class="manage-list">

</div>

<div class="box-pagination">
    <button class="prev-page" disabled><i class="fa-solid fa-chevron-left"></i></button>
    <button class="next-page"><i class="fa-solid fa-chevron-right"></i></button>
</div>


<script>

    // Hàm kiểm tra access token
    function checkAccessToken() {
        const accessToken = localStorage.getItem('access_token');
        const isAdmin = localStorage.getItem('is_admin');

        if (!accessToken && isAdmin === 'false') {
            // Nếu không có token, chuyển hướng về trang đăng nhập
            window.location.href = '/login/';
        } else {
            const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
            const currentTime = Math.floor(Date.now() / 1000);

            // Kiểm tra xem token đã hết hạn chưa
            if (tokenPayload.exp < currentTime) {
                // Nếu token hết hạn, chuyển hướng về trang đăng nhập
                alert('token het han vui long login');
                localStorage.removeItem('access_token');
                localStorage.removeItem('refresh_token');
                localStorage.removeItem('session_name');
                localStorage.removeItem('is_admin');

                window.location.href = '/login/';
            }
        }
    }

    checkAccessToken();

    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }

    fetch('/api/places/')
        .then(response => response.json())
        .then(data => {
            const placeList = document.getElementById('place-list');
            data.results.forEach(place => {
                const option = document.createElement('a');
                option.classList.add('dropdown-item');
                option.href = '#';
                option.textContent = place.name;
                option.dataset.placeId = place.id;
                option.addEventListener('click', () => {
                    document.getElementById('place').value = place.name;
                    document.getElementById('place-id').value = place.id;

                    idPlace = document.getElementById('place-id').value;
                    nameRoom = document.getElementById('name-film-input').value;

                    if (idPlace) {
                        currentPage = 1; // Đặt lại trang hiện tại về 1
                        getRoomManage(currentPage);
                    } else if (nameRoom && idPlace) {
                        currentPage = 1; // Đặt lại trang hiện tại về 1
                        getRoomManage(currentPage);

                    } else {
                        getRoomManage(currentPage);
                    }

                });
                placeList.appendChild(option);
            });
        })
        .catch(error => console.error(error));

    // Thêm sự kiện click vào ô "place" để hiển thị danh sách place
    document.getElementById('place').addEventListener('click', () => {
        document.getElementById('place-list').classList.toggle('show');
    });

    // Đóng danh sách place khi nhấn ra ngoài
    window.addEventListener('click', event => {
        if (!event.target.matches('#place, #place-list a')) {
            document.getElementById('place-list').classList.remove('show');
        }
    });

    const selectedIds = new Set();
    // Thêm nút "Xóa nhiều"

    const deleteMultiBtn = document.getElementById('delete-multi-manage');
    deleteMultiBtn.style.textShadow = '1px 1px 1px #000';
    deleteMultiBtn.style.display = 'none';


    const roomManageList = document.getElementById('manage-list');
    const prevPageBtn = document.querySelector('.prev-page');
    const nextPageBtn = document.querySelector('.next-page');
    let currentPage = 1;
    let totalPages;

    let idPlace = '';
    let nameRoom = '';

    document.getElementById('insert-manage').addEventListener('click', function () {
        window.location.href = '/roominsert/';
    });

    function renderRoomManage(roomManages) {
        const roomManageTable = document.createElement('table');
        roomManageTable.classList.add('table');

        // Tạo hàng tiêu đề
        const headerRow = document.createElement('tr');
        headerRow.innerHTML = `
            <th>Địa điểm</th>
            <th>Tên</th>
            <th>Thao tác</th>

        `;
        roomManageTable.appendChild(headerRow);

        // Tạo các hàng dữ liệu
        roomManages.forEach(roomManage => {
            const dataRow = document.createElement('tr');
            dataRow.innerHTML = `
                <td>${roomManage.place ? roomManage.place.name : ''}</td>
                <td>${roomManage.name}</td>
                
                <td>
                    <span id="room-update" class="btn-update-manage"><i class="fa-regular fa-pen-to-square"></i></span>
                    <span id="room-delete" class="btn-delete-manage"><i class="fa-solid fa-trash-can"></i></span>
                </td>
            `;

            // Sự kiện toggle chọn
            dataRow.addEventListener('click', function () {
                const id = roomManage.id;
                if (selectedIds.has(id)) {
                    selectedIds.delete(id); // Nếu đã chọn, bỏ chọn
                    console.log("delete id:", selectedIds.delete(id))
                    dataRow.classList.remove('selected');
                } else {
                    selectedIds.add(id); // Nếu chưa chọn, thêm vào
                    console.log("add id:", selectedIds.add(id))
                    dataRow.classList.add('selected');
                }

                if (selectedIds.size > 0) {
                    deleteMultiBtn.style.display = 'flex';
                }
                else {
                    deleteMultiBtn.style.display = 'none';
                }

            });

            dataRow.querySelector('#room-delete').addEventListener('click', function () {
                if (confirm('Bạn có chắc chắn muốn xóa room này?')) {
                    getDeleteRoom(roomManage.id);
                }
            });

            dataRow.querySelector('#room-update').addEventListener('click', function () {
                window.location.href = `/roomupdate/?roomId=${roomManage.id}`;
            });

            roomManageTable.appendChild(dataRow);
        });

        // Thêm bảng vào DOM
        const roomManageList = document.getElementById('manage-list');
        roomManageList.innerHTML = '';
        roomManageList.appendChild(roomManageTable);
    }


    function updatePaginationButtons() {
        prevPageBtn.disabled = currentPage === 1;
        nextPageBtn.disabled = !totalPages || currentPage === totalPages;
    }


    function getRoomManage(page = 1) {

        const queryParamsPlace = idPlace ? { place: idPlace } : {};
        const queryStringPlace = new URLSearchParams(queryParamsPlace).toString();

        const queryParams = nameRoom ? { name__icontains: nameRoom } : {};
        const queryString = new URLSearchParams(queryParams).toString();

        let url = `/api/rooms/?page=${page}&ordering=-updated_at&${queryStringPlace}&${queryString}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                renderRoomManage(data.results);
                totalPages = Math.ceil(data.count / data.results.length);
                currentPage = page;
                updatePaginationButtons();

                // Nếu không có next, ẩn nút next
                nextPageBtn.disabled = !data.next;
            })
            .catch(error => {
                console.error('Error fetching room data:', error);
            });
    }


    prevPageBtn.addEventListener('click', () => {
        getRoomManage(currentPage - 1);
    });

    nextPageBtn.addEventListener('click', () => {
        getRoomManage(currentPage + 1);
    });

    getRoomManage();


    document.getElementById('name-film-input').addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
            nameRoom = document.getElementById('name-film-input').value;
            idPlace = document.getElementById('place-id').value;
            if (nameRoom) {
                currentPage = 1; // Đặt lại trang hiện tại về 1
                getRoomManage(currentPage);
            } else if (nameRoom && idPlace) {
                currentPage = 1; // Đặt lại trang hiện tại về 1
                getRoomManage(currentPage);
            } else {
                getRoomManage(currentPage);
            }
        }

    });



    function getDeleteRoom(roomId) {
        const accessToken = localStorage.getItem('access_token');
        fetch(`/api/rooms/${roomId}/`, {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json',
            }
        })
            .then(response => {
                if (response.ok) {
                    console.log(`Đã xóa room có ID ${roomId} thành công!`);
                    // Có thể thêm code để cập nhật lại giao diện, ví dụ như xóa dòng tương ứng trong bảng
                    getRoomManage();
                    selectedIds.clear(); // Xóa danh sách đã chọn
                    deleteMultiBtn.style.display = 'none';
                } else {
                    console.error(`Lỗi khi xóa room có ID ${roomId}: ${response.status} - ${response.statusText}`);
                }
            })
            .catch(error => {
                console.error(`Lỗi khi xóa room có ID ${roomId}: ${error}`);
            });
    }

    // Sự kiện cho nút "Xóa nhiều"

    deleteMultiBtn.addEventListener('click', () => {

        const accessToken = localStorage.getItem('access_token');

        if (confirm('Bạn có chắc chắn muốn xóa các room này?')) {
            if (selectedIds.size > 0) {
                const objects = Array.from(selectedIds); // Chuyển Set thành mảng
                const body = {
                    objects: objects,
                    object_type: "rooms",
                    operation: "delete"
                };

                fetch('/api/bulk_edit_objects/', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${accessToken}`,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(body)
                })
                    .then(response => {
                        if (response.ok) {
                            console.log(`Đã xóa các room thành công!`);
                            getRoomManage(); // Tải lại danh sách
                            selectedIds.clear(); // Xóa danh sách đã chọn
                            deleteMultiBtn.style.display = 'none';
                        } else {
                            alert('Có lỗi xảy ra!');
                        }
                    })
                    .catch(error => {
                        console.error('Error deleting rooms:', error);
                    });
            }
        }
    });

</script>

{% endblock roomManage %}