{% extends 'base.html' %}
{% load static %}

{% block roomDetail %}

<style>
    .seat-selected {
        background-color: black !important; /* Đổi màu ghế khi được chọn */
        color: white; /* Đổi màu chữ cho dễ nhìn */
    }

    .background-gray{
        background-color: #cde0ff;
    }
    .background-purple{
        background-color: #6355e5;
    }

    .box-room-all{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .box-room-cinema{
        width: 60%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        padding: 40px 0px 30px 0px;

    }
    .schedule-room-detail{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        padding: 15px 25px; 
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 0px 0px 2px #cdc197;
        

    }

    @keyframes age-move {
        from{
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }
    
    .room-film-age{
        width: 60px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 3px 2px #cdc197;
        margin-right: 7px;
        font-size: 24px;
        font-weight: bold;
        
        
        
    }

    .box-room-info{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;

    }

    .box-room-info-top{
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 24px;

    }
    
    .room-film-name{
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 7px;

    }
    .room-place-name{
        margin: 0px 7px;
    }

    .box-room-info-bottom{
        width: 100%;
        font-size: 17px;
        display: flex;
        align-items: center;

    }
    
    .room-start{
        font-weight: bold;
        margin-right: 3px;

    }
    .room-end{
        font-weight: bold;
        margin-left: 3px;
        margin-right: 7px;

    }
    .room-day{
        margin-left: 7px;
        margin-right: 7px;

    }
    .room-name{
        margin-left: 7px;
        font-weight: bold;


    }

    .box-screen-cinema-all{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    @keyframes boxshadow-animation {
        from {
            box-shadow: 0px 0px 0px 0px #d5a12c;
        }
        to {
            box-shadow: 0px 7px 10px 6px #d5a12c;
        }
    }

    .box-screen-room-cinema{
        width: 88%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 14px;
        
        

    }

    .screen-room-cinema-left{
        width: 50%;
        height: 30px;
        text-align: end;
        background-color: gray;
        border-bottom: 1px solid #cdc197;
        border-top-left-radius: 90%;
        padding-right: 1px;
        
    }

    .screen-room-cinema-right{
        width: 50%;
        height: 30px;
        background-color: gray;
        border-bottom: 1px solid #cdc197;
        border-top-right-radius: 90%;
        padding-left: 1px;
    }

    .box-monitor-room-cinema{
        width: 88%;
        display: flex;
        align-items: center;
        box-shadow: 0px 7px 10px 6px #d5a12c;
    }

    .box-scop-seat-room{
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 40px 0px;
        overflow: hidden;
        transition: all 0.2s linear;
        
        
    }

    .box-list-seat-room{
        width: 63.5%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        
        cursor: grab;
        transition: transform 0.2s linear;
        transform-origin: center;
        
        
    }

    .box-list-seat-regural{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }

    .seat-regural-item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 0px;
        min-width: 42px;
        font-size: 15px;
        border: 1px solid #d5a12c;
        margin: 3px;
        border-radius: 3px;
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
        cursor: pointer;
        transition: all 0.2s linear;
        


    }
    .seat-regural-item:hover{
        border-color: #cdc197;
        box-shadow: 0px 0px 2px 2px #d5a12c;
        background-color: #000;
    }
    .seat-regural-name{

    }

    

    .box-list-seat-vip{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }

    .seat-vip-item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 0px;
        min-width: 42px;
        font-size: 15px;
        border: 1px solid #d5a12c;
        margin: 3px;
        border-radius: 3px;
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
        cursor: pointer;
        transition: all 0.2s linear;
        
    }

    .seat-vip-item:hover{
        border-color: #cdc197;
        box-shadow: 0px 0px 2px 2px #d5a12c;
        background-color: #000;
    }
    .seat-vip-name{
        
    }


    .box-content-film-room{
        padding: 20px 25px; 
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 0px 2px #cdc197;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .box-type-seat{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 14px;
        padding-bottom: 20px;
       
        border-bottom: 1px dashed #cdc197;
    
    }
    .box-type-seat-regural{
        display: flex;
        align-items: center;
    }
    .type-seat-regural{
        border: 1px solid #d5a12c;
        padding: 9px;
        border-radius: 3px;
        background-color: #cde0ff;
        margin-right: 5px;

    }
    .box-type-seat-vip{
        display: flex;
        align-items: center;

    }
    .type-seat-vip{
        border: 1px solid #d5a12c;
        padding: 9px;
        border-radius: 3px;
        background-color: #6355e5;
        margin-right: 5px;

    }
    .box-type-seat-choosing{
        display: flex;
        align-items: center;
    }
    .type-seat-choosing{
        border: 1px solid #d5a12c;
        padding: 9px;
        border-radius: 3px;
        background-color: #000;
        margin-right: 5px;

    }
    .box-type-seat-choosed{
        display: flex;
        align-items: center;
    }
    .type-seat-choosed{
        border: 1px solid #d5a12c;
        padding: 9px;
        border-radius: 3px;
        background-color: rgb(0,0,0,0.1);
        opacity: 0.5;
        margin-right: 5px;
    }

    .box-ticket-all{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0px;
        border-bottom: 1px dashed #cdc197;
    }

    .ticket-title{
        font-weight: bold;
        width: 15%;
        font-size: 20px;

    }

    .box-ticket-list{
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .tiket-item{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;



    }
    .tiket-price{
        font-weight: bold;
        margin: 0px 3px 0px 5px;
    }
    .tiket-name{
        margin-right: 3px;

    }

    .box-total-price{
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 20px;
        padding-top: 17px;
       


    }
    .total-amount{
        font-weight: bold;
        margin: 0px 3px 0px 5px;

    }
    .box-book-ticket{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px; 
        

    }
    .btn-book-ticket{
        padding: 5px 10px; 
        min-width: 300px;
        font-weight: bold;
        font-size: 18px;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 3px #cdc197;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all 0.2s linear;

    }

    .btn-book-ticket:hover{
        border-color: #cdc197;
        box-shadow: 0px 0px 0px 3px #d5a12c;
        color: #cdc197;

    }



</style>



<div class="box-room-all">
    <div class="box-room-cinema">
        <div id="schedule-detail" class="schedule-room-detail">
    
        </div>

        <div class="box-screen-cinema-all">
            <div class="box-screen-room-cinema">
                <div class="screen-room-cinema-left">MÀN</div>
                <div class="screen-room-cinema-right">HÌNH</div>
            </div>
            <div class="box-monitor-room-cinema"></div>

        </div>
        
        
        <div class="box-scop-seat-room" id="box-scop-seat-room">
            <div class="box-list-seat-room" id="box-list-seat-room">
        
                <div id="seat-list-regural" class="box-list-seat-regural">
              
                </div>
              
                <div id="seat-list-vip" class="box-list-seat-vip">
                
                </div>
              
            </div>
        </div>

        <div class="box-content-film-room">
            <div class="box-type-seat">
                <div class="box-type-seat-regural">
                    <div class="type-seat-regural"></div>
                    <span>Thường</span>
                </div>
                <div class="box-type-seat-vip">
                    <div class="type-seat-vip"></div>
                    <span>VIP</span>
                </div>
                <div class="box-type-seat-choosing">
                    <div class="type-seat-choosing"></div>
                    <span>Đang chọn</span>
    
                </div>
                <div class="box-type-seat-choosed">
                    <div class="type-seat-choosed"></div>
                    <span>Đã đặt</span>
                </div>
            </div>
            
            <div class="box-ticket-all">
                <div class="ticket-title">Giá vé</div>
                <div id="ticket-list" class="box-ticket-list">
            
                </div>
            </div>
            
            <div id="total-price" class="box-total-price">
                Tổng tiền:<span id="total-amount" class="total-amount" >0</span>
            </div>
        </div>
    
        <div class="box-book-ticket">
            <span id="book-tickets" class="btn-book-ticket">Tiếp tục</span>
        </div>
    
    </div>
</div>



<script>

    // Hàm kiểm tra access token
    function checkAccessToken() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            // Nếu không có token, chuyển hướng về trang đăng nhập
            window.location.href = '/login/';
        } else {
            const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
            const currentTime = Math.floor(Date.now() / 1000);

            // Kiểm tra xem token đã hết hạn chưa
            if (tokenPayload.exp < currentTime) {
                // Nếu token hết hạn, chuyển hướng về trang đăng nhập
                alert('token het han vui long login');
                localStorage.removeItem('access_token');
                window.location.href = '/login/';
            } 
        }
    }

    checkAccessToken();


    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }

    let filmId;

    // Get the room ID from the URL
    const url = new URL(window.location.href);
    const scheduleId = url.pathname.split('/')[2];

    // Fetch the schedule details
    fetch(`/api/schedules/${scheduleId}/`)
    .then(response => response.json())
    .then(data => {
        const scheduleDetailContainer = document.getElementById('schedule-detail');

        const date = new Date(data.dayshow.day);
        const options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' };
        const formattedDate = date.toLocaleDateString('vi-VN', options);

        const startTime = new Date(data.start_time);
        const endTime = new Date(data.end_time);
        
        const formattedStartTime = startTime.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });
        const formattedEndTime = endTime.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });
        

        scheduleDetailContainer.innerHTML = `
                <span class="room-film-age">T${data.film.age}</span>

                <div class="box-room-info">
                    
                    <div class="box-room-info-top">
                        <span class="room-film-name">${data.film.name}</span>
                        -
                        <span class="room-place-name">${data.place.name}</span>
                    </div>
                    
                    <div class="box-room-info-bottom">
                        <span class="room-start">${formattedStartTime}</span>
                        ~
                        <span class="room-end">${formattedEndTime}</span>
                        -
                        <span class="room-day">${formattedDate}</span>
                        -
                        <span class="room-name">${data.room.name}</span>
                    </div>

                </div>

                
        `;
        
        const idRoom = data.room.id
        getSeatsRegural(idRoom);
        getSeatsVip(idRoom);

        filmId = data.film.id;  
        

    })
    .catch(error => {
        console.error('Error fetching schedule details:', error);
    });

    
    getTicketList(`/api/tickets/?schedule=${scheduleId}`);
    let ticketData = null;
    let totalPrice = 0; // Biến để lưu tổng giá vé
    let selectedSeats = [];
    function getTicketList(url){
      fetch(url)
        .then(response => response.json())
        .then(data => {
          ticketData = data;
          const ticketList = document.getElementById('ticket-list');

          function formatCurrency(value) {
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
          }   

          // Tạo các phần tử phim
          data.results.forEach(ticket => {
              const ticketItem = document.createElement('div');
              ticketItem.classList.add('tiket-item');
              ticketItem.innerHTML = `
                  <span class="tiket-name">${ticket.type}</span>
                  :
                  <span class="tiket-price">${formatCurrency(ticket.price)}</span>đ

              `;
              
              ticketList.appendChild(ticketItem);
          });
        })
      .catch(error => {
      console.error('Error fetching ticket data:', error);
      });
    }

    function getSeatsRegural(idRoom) {
        fetch(`/api/seats/?room=${idRoom}&type__iexact=Regural&kind__in=A,B,C,D&ordering=created_at`)
        .then(response => response.json())
        .then(data => {
            const seatList = document.getElementById('seat-list-regural');
            seatList.innerHTML = ''; // Xóa nội dung cũ
            
            // Gọi API để lấy thông tin đặt ghế
            fetch('/api/bookingdetails/')
            .then(response => response.json())
            .then(bookingData => {
                const existingBookings = bookingData.results;
    
                data.results.forEach(seat => {
                    const seatItem = document.createElement('div');
                    seatItem.classList.add('seat-regural-item');
                    seatItem.classList.add('background-gray');
                    seatItem.innerHTML = `
                    
                        <span class="seat-regural-name">${seat.name}</span>
                        
                    `;
    
                    // Định nghĩa hàm handleSeatRegularClick
                    function handleSeatRegularClick(seatItem, seat, ticketData, selectedSeats) {
                        const regularTicket = ticketData.results.find(ticket => ticket.type === 'Regural');
                        const regulartTicketId = regularTicket ? regularTicket.id : null;

                        if (seatItem.classList.contains('seat-selected')) {
                            seatItem.classList.remove('seat-selected');
                            const index = selectedSeats.findIndex(item => item.seatId === seat.id);
                            if (index > -1) {
                                selectedSeats.splice(index, 1); // Xóa ghế khỏi mảng
                            }
                            getSeatReguralClick(seat.id, regularTicket.price, regulartTicketId, false);
                        } else {
                            seatItem.classList.add('seat-selected');
                            selectedSeats.push({ seatId: seat.id, ticketId: regulartTicketId });
                            getSeatReguralClick(seat.id, regularTicket.price, regulartTicketId, true);
                        }
                    }

                    // Kiểm tra xem ghế đã được đặt chưa
                    const isBooked = existingBookings.some(booking =>
                        booking.seat.id === seat.id && booking.ticket.schedule.id === parseInt(scheduleId, 10)
                    );

                    if (isBooked) {
                        seatItem.style.opacity = 0.5; // Làm mờ ghế đã đặt
                        seatItem.style.cursor = 'not-allowed'; // Thay đổi con trỏ
                    } else {
                        seatItem.addEventListener('click', () => handleSeatRegularClick(seatItem, seat, ticketData, selectedSeats));
                    }

                    seatList.appendChild(seatItem);
                });
            })
            .catch(error => {
                console.error('Error fetching booking details:', error);
            });
        })
        .catch(error => {
            console.error('Error fetching seat regural:', error);
        });
    }

    function getSeatReguralClick(seatId, ticketReguralPrice, regulartTicketId, isAdding= true ) {
      
      if (isAdding) {
        totalPrice += parseInt(ticketReguralPrice); // Cộng dồn giá vé
      } else {
        totalPrice -= parseInt(ticketReguralPrice); // Trừ giá vé
      }

      updateTotalPriceDisplay(); // Cập nhật hiển thị tổng giá
      console.log('Seat ID:', seatId);
      console.log('ReguralTicketId ID:', regulartTicketId);
      console.log('Ticket Price:', ticketReguralPrice);
      console.log('Total Price:', totalPrice);
    
    }

    function getSeatsVip(idRoom) {
        fetch(`/api/seats/?room=${idRoom}&type__iexact=Vip&kind__in=E,F,G,H,I,K,L`)
        .then(response => response.json())
        .then(data => {
            const seatList = document.getElementById('seat-list-vip');
            seatList.innerHTML = ''; // Xóa nội dung cũ
            
            // Gọi API để lấy thông tin đặt ghế
            fetch('/api/bookingdetails/')
            .then(response => response.json())
            .then(bookingData => {
                const existingBookings = bookingData.results;
    
                data.results.forEach(seat => {
                    const seatItem = document.createElement('div');
                    seatItem.classList.add('seat-vip-item');
                    seatItem.classList.add('background-purple');

                    seatItem.innerHTML = `
                    
                        <span class="seat-vip-name">${seat.name}</span>
                        
                    `;
    
                    function handleSeatClick(seatItem, seat, ticketData, selectedSeats) {
                        const vipTicket = ticketData.results.find(ticket => ticket.type === 'Vip');
                        const vipTicketId = vipTicket ? vipTicket.id : null;
                    
                        if (seatItem.classList.contains('seat-selected')) {
                            seatItem.classList.remove('seat-selected');
                            const index = selectedSeats.findIndex(item => item.seatId === seat.id);
                            if (index > -1) {
                                selectedSeats.splice(index, 1); // Xóa ghế khỏi mảng
                            }
                            getSeatVipClick(seat.id, vipTicket.price, vipTicketId, false);
                        } else {
                            seatItem.classList.add('seat-selected');
                            selectedSeats.push({ seatId: seat.id, ticketId: vipTicketId });
                            getSeatVipClick(seat.id, vipTicket.price, vipTicketId, true);
                        }
                    }
                    
                    // Kiểm tra xem ghế đã được đặt chưa
                    const isBooked = existingBookings.some(booking =>
                        booking.seat.id === seat.id && booking.ticket.schedule.id === parseInt(scheduleId, 10)
                    );
                    
                    if (isBooked) {
                        seatItem.style.opacity = 0.5; // Làm mờ ghế đã đặt
                        seatItem.style.cursor = 'not-allowed'; // Thay đổi con trỏ
                    } else {
                        seatItem.addEventListener('click', () => handleSeatClick(seatItem, seat, ticketData, selectedSeats));
                    }
                    
                    seatList.appendChild(seatItem);
                });
            })
            .catch(error => {
                console.error('Error fetching booking details:', error);
            });
        })
        .catch(error => {
            console.error('Error fetching seat vip:', error);
        });
    }


    function getSeatVipClick(seatId,ticketVipPrice, vipTicketId, isAdding = true) {

      if (isAdding) {
        totalPrice += parseInt(ticketVipPrice); // Cộng dồn giá vé
      } else {
        totalPrice -= parseInt(ticketVipPrice); // Trừ giá vé
      }
      
      updateTotalPriceDisplay(); // Cập nhật hiển thị tổng giá
      console.log('Seat ID:', seatId);
      console.log('VipTicket ID:', vipTicketId);
      console.log('Ticket Price:', ticketVipPrice);
      console.log('Total Price:', totalPrice);
    }

    function updateTotalPriceDisplay() {  
      const totalAmountElement = document.getElementById('total-amount');
      const formatter = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
      });
      totalAmountElement.textContent = formatter.format(totalPrice); // Cập nhật số tiền vào thẻ
    }


    document.getElementById('book-tickets').addEventListener('click', () => {

        const accessToken = localStorage.getItem('access_token');

        if (!isAccessTokenValid()) {
            alert('Token đã hết hạn. Vui lòng đăng nhập.');
            localStorage.removeItem('access_token');
            window.location.href = '/login/';
            return; // Dừng hàm nếu token không hợp lệ
        }

        // Kiểm tra xem đã chọn ghế chưa
        if (selectedSeats.length === 0) {
            alert('Vui lòng chọn ghế của bạn.');
            return; // Dừng hàm nếu chưa chọn ghế
        }



        fetch('/api/bookingdetails/')
            .then(response => response.json())
            .then(data => {
                const existingBookings = data.results;
                const scheduleIdInt = parseInt(scheduleId, 10);
                
                const hasConflict = selectedSeats.some(seat => {
                    return existingBookings.some(booking => {
                      console.log("booking.seat.id:", booking.seat.id, " === ", "seat.seatId: ", seat.seatId);
                      console.log("booking.ticket.schedule.id:", booking.ticket.schedule.id, " === ", "scheduleId:", scheduleIdInt);
                        return booking.seat.id === seat.seatId && booking.ticket.schedule.id === scheduleIdInt;
                              
                    });
                });
    
                if (hasConflict) {
                    alert('Ghế đã được đặt. Vui lòng chọn ghế khác.');
                    return; // Không thực hiện bước tiếp theo
                }
    
                
                fetch('/api/bookings/', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${accessToken}`,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        
                    }),
                })
                .then(response => {
                    if (!response.ok) throw new Error('Failed to create booking');
                    return response.json();
                })
                .then(bookingData => {
                    const bookingId = bookingData.id; // Lấy ID của Booking vừa tạo
    
                    // Tạo BookingDetail cho từng ghế
                    const bookingDetailsPromises = selectedSeats.map(seat => {
                        const data = {
                            booking: bookingId,
                            seat: seat.seatId,
                            ticket: seat.ticketId
                        };
                        return fetch('/api/bookingdetails/', {
                            method: 'POST',
                            headers: {
                                'Authorization': `Bearer ${accessToken}`,
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                        });
                    });
    
                    return Promise.all(bookingDetailsPromises).then(() => bookingId);
                })
                .then(bookingId => {
                    console.log('Tất cả vé đã được đặt thành công');

                    window.location.href = `/bookcombo/${bookingId}/?scheduleId=${scheduleIdInt}`;
                    selectedSeats = [];
                    updateTotalPriceDisplay();
                        
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
    });

    
</script>

<script>
    const boxListSeatRoom = document.getElementById('box-list-seat-room');
    const boxScopSeatRoom = document.getElementById('box-scop-seat-room');
    let scale = 1;
    let isDragging = false;
    let startX, startY, initialX, initialY;

    // Tính toán vị trí trung tâm
    function resetPosition() {
        boxListSeatRoom.style.left = `${(boxScopSeatRoom.clientWidth - boxListSeatRoom.clientWidth) / 2}px`;
        boxListSeatRoom.style.top = `${(boxScopSeatRoom.clientHeight - boxListSeatRoom.clientHeight) / 2}px`;
        scale = 1; // Reset zoom về kích thước ban đầu
        boxListSeatRoom.style.transform = `scale(${scale})`; // Cập nhật kích thước
    }

    // Thiết lập vị trí ban đầu
    resetPosition();

    boxListSeatRoom.addEventListener('wheel', (e) => {
        e.preventDefault();
        const zoomIntensity = 0.1;
        const mouseX = e.clientX - boxListSeatRoom.getBoundingClientRect().left;
        const mouseY = e.clientY - boxListSeatRoom.getBoundingClientRect().top;

        const zoom = e.deltaY < 0 ? 1 + zoomIntensity : 1 - zoomIntensity;
        scale *= zoom;

        // Giới hạn tỉ lệ zoom
        scale = Math.min(Math.max(0.5, scale), 3);

        boxListSeatRoom.style.transform = `scale(${scale})`;
        boxListSeatRoom.style.transformOrigin = `${mouseX}px ${mouseY}px`;
    });

    boxListSeatRoom.addEventListener('mousedown', (e) => {
        isDragging = true;
        startX = e.clientX;
        startY = e.clientY;
        initialX = boxListSeatRoom.offsetLeft;
        initialY = boxListSeatRoom.offsetTop;
        boxListSeatRoom.style.cursor = 'grabbing';
    });

    document.addEventListener('mousemove', (e) => {
        if (isDragging) {
            const dx = e.clientX - startX;
            const dy = e.clientY - startY;
            const newLeft = initialX + dx;
            const newTop = initialY + dy;

            // Kiểm tra biên cho vị trí
            if (
                newLeft < 0 ||
                newLeft + boxListSeatRoom.offsetWidth * scale > boxScopSeatRoom.clientWidth ||
                newTop < 0 ||
                newTop + boxListSeatRoom.offsetHeight * scale > boxScopSeatRoom.clientHeight
            ) {
                // Nếu chạm biên, thiết lập lại vị trí
                resetPosition();
                return;
            }

            boxListSeatRoom.style.left = `${newLeft}px`;
            boxListSeatRoom.style.top = `${newTop}px`;
        }
    });

    document.addEventListener('mouseup', () => {
        isDragging = false;
        boxListSeatRoom.style.cursor = 'grab';
    });

    // Kiểm tra kích thước khi zoom
    setInterval(() => {
        const boxListRect = boxListSeatRoom.getBoundingClientRect();
        const boxScopRect = boxScopSeatRoom.getBoundingClientRect();

        // Nếu phần tử bị phóng to đến mức chạm biên, thiết lập lại kích thước
        if (
            boxListRect.left < boxScopRect.left ||
            boxListRect.right > boxScopRect.right ||
            boxListRect.top < boxScopRect.top ||
            boxListRect.bottom > boxScopRect.bottom
        ) {
            resetPosition();
        }
    }, 100); // Kiểm tra định kỳ mỗi 100ms
</script>

<!-- <script>
    const boxListSeatRoom = document.getElementById('box-list-seat-room');
    let scale = 1;
    let isDragging = false;
    let startX, startY, initialX, initialY;

    boxListSeatRoom.addEventListener('wheel', (e) => {
        e.preventDefault();
        const zoomIntensity = 0.1;
        const mouseX = e.clientX - boxListSeatRoom.getBoundingClientRect().left;
        const mouseY = e.clientY - boxListSeatRoom.getBoundingClientRect().top;

        const zoom = e.deltaY < 0 ? 1 + zoomIntensity : 1 - zoomIntensity;
        scale *= zoom;

        // Limit the scale
        scale = Math.min(Math.max(0.5, scale), 3);

        boxListSeatRoom.style.transform = `scale(${scale})`;
        boxListSeatRoom.style.transformOrigin = `${mouseX}px ${mouseY}px`;
    });

    boxListSeatRoom.addEventListener('mousedown', (e) => {
        isDragging = true;
        startX = e.clientX;
        startY = e.clientY;
        initialX = boxListSeatRoom.offsetLeft;
        initialY = boxListSeatRoom.offsetTop;
        boxListSeatRoom.style.cursor = 'grabbing';
    });

    document.addEventListener('mousemove', (e) => {
        if (isDragging) {
            const dx = e.clientX - startX;
            const dy = e.clientY - startY;
            boxListSeatRoom.style.left = `${initialX + dx}px`;
            boxListSeatRoom.style.top = `${initialY + dy}px`;
        }
    });

    document.addEventListener('mouseup', () => {
        isDragging = false;
        boxListSeatRoom.style.cursor = 'grab';
    });
</script> -->


<!-- <script>
    const boxListSeatRoom = document.getElementById('box-list-seat-room');
    const boxScopSeatRoom = document.querySelector('.box-scop-seat-room');

    let isDragging = false;
    let offsetX, offsetY;

    boxListSeatRoom.addEventListener('mousedown', (e) => {
        isDragging = true;
        offsetX = e.clientX - boxListSeatRoom.getBoundingClientRect().left;
        offsetY = e.clientY - boxListSeatRoom.getBoundingClientRect().top;
        boxListSeatRoom.style.cursor = 'grabbing';
    });

    document.addEventListener('mousemove', (e) => {
        if (isDragging) {
            const boxScopRect = boxScopSeatRoom.getBoundingClientRect();
            const boxListRect = boxListSeatRoom.getBoundingClientRect();

            let newX = e.clientX - boxScopRect.left - offsetX;
            let newY = e.clientY - boxScopRect.top - offsetY;

            // Tính toán tâm điểm của box-list-seat-room
            const centerX = boxListRect.width / 2;
            const centerY = boxListRect.height / 2;

            // Giới hạn di chuyển: cho phép kéo ra ngoài cho đến khi tâm điểm chạm biên
            newX = Math.max(-centerX, Math.min(newX, boxScopRect.width - centerX));
            newY = Math.max(-centerY, Math.min(newY, boxScopRect.height - centerY));

            boxListSeatRoom.style.left = `${newX}px`;
            boxListSeatRoom.style.top = `${newY}px`;
        }
    });

    document.addEventListener('mouseup', () => {
        isDragging = false;
        boxListSeatRoom.style.cursor = 'grab';
    });

    // Xóa sự kiện nếu chuột ra ngoài box-scop-seat-room
    document.addEventListener('mouseleave', () => {
        isDragging = false;
        boxListSeatRoom.style.cursor = 'grab';
    });
</script> -->







{% endblock roomDetail %}