{% extends 'adminmanager.html' %}
{% load static %}

{% block scheduleManage %}


<style>
    .box-btn-manage {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .box-add-delete {
        display: flex;
    }

    .box-search-choose {
        display: flex;
        align-items: center;
        min-width: 935px;
        justify-content: space-between;
        margin-right: 20px;
    }

    .box-search-name-film {
        border: 2px solid #cdc197;
        border-radius: 3px;
        transition: all 0.2s linear;
        padding: 2px 0px;

    }

    .icon-search-name {
        color: #cdc197;
        transition: all 0.2s linear;
        margin-left: 7px;
    }

    .input-search-name-film {

        background-color: transparent;
        text-shadow: 1px 1px 1px #000;
        outline: none;
        border: none;
        transition: all 0.2s linear;
        color: #d5a12c;
        padding-left: 5px;
    }

    .input-search-name-film::placeholder {
        color: #cdc197;
        transition: all 0.2s linear;
        opacity: 0.7;
    }

    .box-search-name-film:hover {
        border-color: #d5a12c;

    }

    .box-search-name-film:hover .icon-search-name {
        color: #d5a12c;
    }

    .box-search-name-film:hover .input-search-name-film::placeholder {
        color: #d5a12c;
    }

    .box-search-name-film:hover .input-choose-status-film {
        color: #d5a12c;
    }



    .input-choose-status-film {
        background-color: transparent;
        text-shadow: 1px 1px 1px #000;
        outline: none;
        border: none;
        transition: all 0.2s linear;
        color: #cdc197;
        padding-left: 2px;
    }



    .manage-list {
        max-width: 100%;
        display: flex;
        font-size: 14px;
        margin-top: 20px;
        overflow: hidden;
        transition: all 0.2s linear;

    }

    .manage-list:hover {
        overflow-x: auto;
    }

    .manage-list::-webkit-scrollbar {
        height: 7px;
        /* Set the width of the scrollbar */
    }

    .manage-list::-webkit-scrollbar-track {
        background-color: #cdc197;
        /* Set the color of the scrollbar track */
        border-radius: 3px;

    }

    .manage-list::-webkit-scrollbar-thumb {
        background-color: #d5a12c;
        /* Set the color of the scrollbar thumb */
        border-radius: 3px;
    }

    .manage-list::-webkit-scrollbar-thumb:hover {
        background-color: #f0aa08;
        /* Set the color of the scrollbar thumb on hover */
    }

    .manage-list .table {
        width: 100%;
        margin-bottom: 5px;

    }

    .manage-list .table tr {
        border-bottom: 1px solid #cdc197;


    }

    .manage-list .table tr th {
        min-width: 200px;
        text-align: center;
        border-left: 1px solid #cdc197;
    }

    .manage-list .table tr td {
        min-width: 200px;
        text-align: center;
        border-left: 1px solid #cdc197;
        padding: 10px;



    }


    .btn-update-manage {
        border: 2px solid #d5a12c !important;
        box-shadow: 0px 0px 0px 3px #cdc197 !important;

        font-size: 14px;
        font-weight: 1000;
        margin-right: 5px;
        cursor: pointer;
        color: #d5a12c !important;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 2px 10px !important;
        background-color: transparent !important;


    }

    .btn-delete-manage {

        border: 2px solid #d5a12c !important;
        box-shadow: 0px 0px 0px 3px #cdc197 !important;

        font-size: 14px;
        font-weight: 1000;

        cursor: pointer;
        color: #d5a12c !important;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 2px 10px !important;
        background-color: transparent !important;
        margin: 10px 0px;

    }
</style>

<span class="title-manage">Quản lý lịch trình</span>

<div class="box-btn-manage">
    <div class="box-add-delete">
        <span id="insert-manage" class="insert-manage">Thêm</span>
        <button id="delete-multi-manage" class="btn-delete-multi-manage">Xóa nhiều</button>
    </div>

    <div class="box-search-choose">

        <div class="box-search-name-film">
            <input type="text" class="input-search-name-film" id="place" place="place" placeholder="Chọn địa điểm"
                readonly>
            <input type="hidden" id="place-id" value="">
            <div id="place-list" class="dropdown-menu">

            </div>
        </div>

        <div class="box-search-name-film">
            <input type="text" class="input-search-name-film" id="dayshow" dayshow="dayshow"
                placeholder="Chọn ngay chieu" readonly>
            <input type="hidden" id="dayshow-id" value="">
            <div id="dayshow-list" class="dropdown-menu">

            </div>

        </div>

        <div class="box-search-name-film">
            <input type="text" class="input-search-name-film" id="film" film="film" placeholder="Chọn Film" readonly>
            <input type="hidden" id="film-id" value="">
            <div id="film-list" class="dropdown-menu">

            </div>

        </div>

        <div class="box-search-name-film">
            <input type="text" class="input-search-name-film" id="room" room="room" placeholder="Chọn phòng" readonly>
            <input type="hidden" id="room-id" value="">
            <div id="room-list" class="dropdown-menu">

            </div>
        </div>



        <div class="box-search-name-film">
            <i class="fa-solid fa-filter icon-search-name"></i>
            <select id="status-film-select" class="input-choose-status-film">
                <option value="Có hiệu lực">Có hiệu lực</option>
                <option value="Hết hạn">Hết hạn</option>

            </select>
        </div>



    </div>
</div>

<div id="manage-list" class="manage-list">

</div>

<div class="box-pagination">
    <button class="prev-page" disabled><i class="fa-solid fa-chevron-left"></i></button>
    <button class="next-page"><i class="fa-solid fa-chevron-right"></i></button>
</div>


<script>

    // Hàm kiểm tra access token
    function checkAccessToken() {
        const accessToken = localStorage.getItem('access_token');
        const isAdmin = localStorage.getItem('is_admin');

        if (!accessToken && isAdmin === 'false') {
            // Nếu không có token, chuyển hướng về trang đăng nhập
            window.location.href = '/login/';
        } else {
            const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
            const currentTime = Math.floor(Date.now() / 1000);

            // Kiểm tra xem token đã hết hạn chưa
            if (tokenPayload.exp < currentTime) {
                // Nếu token hết hạn, chuyển hướng về trang đăng nhập
                alert('token het han vui long login');
                localStorage.removeItem('access_token');
                localStorage.removeItem('refresh_token');
                localStorage.removeItem('session_name');
                localStorage.removeItem('is_admin');

                window.location.href = '/login/';
            }
        }
    }

    checkAccessToken();

    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }

    fetch('/api/places/')
        .then(response => response.json())
        .then(data => {
            const placeList = document.getElementById('place-list');
            data.results.forEach(place => {
                const option = document.createElement('a');
                option.classList.add('dropdown-item');
                option.href = '#';
                option.textContent = place.name;
                option.dataset.placeId = place.id;
                option.addEventListener('click', () => {

                    document.getElementById('dayshow').value = '';
                    document.getElementById('dayshow-id').value = '';

                    document.getElementById('film').value = '';
                    document.getElementById('film-id').value = '';

                    document.getElementById('room').value = '';
                    document.getElementById('room-id').value = '';

                    document.getElementById('place').value = place.name;
                    document.getElementById('place-id').value = place.id;

                    idPlace = document.getElementById('place-id').value;
                    idDayShow = document.getElementById('dayshow-id').value;
                    idFilm = document.getElementById('film-id').value;
                    idRoom = document.getElementById('room-id').value;
                    statusSchedule = document.getElementById('status-film-select').value;


                    if (idPlace) {
                        currentPage = 1; // Đặt lại trang hiện tại về 1
                        getScheduleManage(currentPage);
                    } else if (idPlace && idDayShow && idFilm && idRoom && statusSchedule) {
                        currentPage = 1; // Đặt lại trang hiện tại về 1
                        getScheduleManage(currentPage);

                    } else {
                        getScheduleManage(currentPage);
                    }

                    getDayShows(place.id);
                    getRooms(place.id);
                });
                placeList.appendChild(option);
            });
        })
        .catch(error => console.error(error));

    // Thêm sự kiện click vào ô "place" để hiển thị danh sách place
    document.getElementById('place').addEventListener('click', () => {
        document.getElementById('place-list').classList.toggle('show');
    });

    // Đóng danh sách place khi nhấn ra ngoài
    window.addEventListener('click', event => {
        if (!event.target.matches('#place, #place-list a')) {
            document.getElementById('place-list').classList.remove('show');
        }
    });

    function getDayShows(placeId) {
        fetch(`/api/dayshows/?place=${placeId}`)
            .then(response => response.json())
            .then(data => {
                const dayshowList = document.getElementById('dayshow-list');

                dayshowList.innerHTML = '';
                data.results.forEach(dayshow => {
                    const option = document.createElement('a');
                    option.classList.add('dropdown-item');
                    option.href = '#';
                    const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                    const dateString = new Date(dayshow.day).toLocaleDateString('vi-VN', dateOptions);
                    option.textContent = dateString;
                    option.dataset.dayshowId = dayshow.id; // Lưu ID của dịch vụ vào thuộc tính data-dayshow-id
                    option.addEventListener('click', () => {
                        document.getElementById('film').value = '';
                        document.getElementById('film-id').value = '';

                        document.getElementById('room').value = '';
                        document.getElementById('room-id').value = '';

                        document.getElementById('dayshow').value = dateString;
                        document.getElementById('dayshow-id').value = dayshow.id;

                        idPlace = document.getElementById('place-id').value;
                        idDayShow = document.getElementById('dayshow-id').value;
                        idFilm = document.getElementById('film-id').value;
                        idRoom = document.getElementById('room-id').value;
                        statusSchedule = document.getElementById('status-film-select').value;


                        if (idDayShow) {
                            currentPage = 1; // Đặt lại trang hiện tại về 1
                            getScheduleManage(currentPage);
                        } else if (idPlace && idDayShow && idFilm && idRoom && statusSchedule) {
                            currentPage = 1; // Đặt lại trang hiện tại về 1
                            getScheduleManage(currentPage);

                        } else {
                            getScheduleManage(currentPage);
                        }

                        getFilms(placeId, dayshow.id);
                    });
                    dayshowList.appendChild(option);
                });
            })
            .catch(error => console.error(error));

    }

    // Thêm sự kiện click vào ô "dayshow" để hiển thị danh sách dayshow
    document.getElementById('dayshow').addEventListener('click', () => {
        document.getElementById('dayshow-list').classList.toggle('show');
    });

    // Đóng danh sách dayshow khi nhấn ra ngoài
    window.addEventListener('click', event => {
        if (!event.target.matches('#dayshow, #dayshow-list a')) {
            document.getElementById('dayshow-list').classList.remove('show');
        }
    });

    function getFilms(placeId, dayShowId) {
        fetch(`/api/films/?place=${placeId}&dayshow=${dayShowId}`)
            .then(response => response.json())
            .then(data => {
                const filmList = document.getElementById('film-list');

                filmList.innerHTML = '';
                data.results.forEach(film => {
                    const option = document.createElement('a');
                    option.classList.add('dropdown-item');
                    option.href = '#';
                    option.textContent = film.name;
                    option.dataset.filmId = film.id;
                    option.addEventListener('click', () => {
                        document.getElementById('room').value = '';
                        document.getElementById('room-id').value = '';

                        document.getElementById('film').value = film.name;
                        document.getElementById('film-id').value = film.id;

                        idPlace = document.getElementById('place-id').value;
                        idDayShow = document.getElementById('dayshow-id').value;
                        idFilm = document.getElementById('film-id').value;
                        idRoom = document.getElementById('room-id').value;
                        statusSchedule = document.getElementById('status-film-select').value;


                        if (idFilm) {
                            currentPage = 1; // Đặt lại trang hiện tại về 1
                            getScheduleManage(currentPage);
                        } else if (idPlace && idDayShow && idFilm && idRoom && statusSchedule) {
                            currentPage = 1; // Đặt lại trang hiện tại về 1
                            getScheduleManage(currentPage);

                        } else {
                            getScheduleManage(currentPage);
                        }
                    });
                    filmList.appendChild(option);
                });
            })
            .catch(error => console.error(error));

    }

    // Thêm sự kiện click vào ô "film" để hiển thị danh sách film
    document.getElementById('film').addEventListener('click', () => {
        document.getElementById('film-list').classList.toggle('show');
    });

    // Đóng danh sách film khi nhấn ra ngoài
    window.addEventListener('click', event => {
        if (!event.target.matches('#film, #film-list a')) {
            document.getElementById('film-list').classList.remove('show');
        }
    });


    function getRooms(placeId) {
        fetch(`/api/rooms/?place=${placeId}`)
            .then(response => response.json())
            .then(data => {
                const roomList = document.getElementById('room-list');

                roomList.innerHTML = '';
                data.results.forEach(room => {
                    const option = document.createElement('a');
                    option.classList.add('dropdown-item');
                    option.href = '#';
                    option.textContent = room.name;
                    option.dataset.roomId = room.id;
                    option.addEventListener('click', () => {
                        document.getElementById('room').value = room.name;
                        document.getElementById('room-id').value = room.id;

                        idPlace = document.getElementById('place-id').value;
                        idDayShow = document.getElementById('dayshow-id').value;
                        idFilm = document.getElementById('film-id').value;
                        idRoom = document.getElementById('room-id').value;
                        statusSchedule = document.getElementById('status-film-select').value;


                        if (idRoom) {
                            currentPage = 1; // Đặt lại trang hiện tại về 1
                            getScheduleManage(currentPage);
                        } else if (idPlace && idDayShow && idFilm && idRoom && statusSchedule) {
                            currentPage = 1; // Đặt lại trang hiện tại về 1
                            getScheduleManage(currentPage);

                        } else {
                            getScheduleManage(currentPage);
                        }
                    });
                    roomList.appendChild(option);
                });
            })
            .catch(error => console.error(error));

    }

    // Thêm sự kiện click vào ô "room" để hiển thị danh sách room
    document.getElementById('room').addEventListener('click', () => {
        document.getElementById('room-list').classList.toggle('show');
    });

    // Đóng danh sách room khi nhấn ra ngoài
    window.addEventListener('click', event => {
        if (!event.target.matches('#room, #room-list a')) {
            document.getElementById('room-list').classList.remove('show');
        }
    });


    const selectedIds = new Set();
    // Thêm nút "Xóa nhiều"

    const deleteMultiBtn = document.getElementById('delete-multi-manage');
    deleteMultiBtn.style.textShadow = '1px 1px 1px #000';
    deleteMultiBtn.style.display = 'none';


    const scheduleManageList = document.getElementById('manage-list');
    const prevPageBtn = document.querySelector('.prev-page');
    const nextPageBtn = document.querySelector('.next-page');
    let currentPage = 1;
    let totalPages;

    let idPlace = '';
    let idDayShow = '';
    let idFilm = '';
    let idRoom = '';
    let statusSchedule = '';

    document.getElementById('insert-manage').addEventListener('click', function () {
        window.location.href = '/scheduleinsert/';
    });

    function renderScheduleManage(scheduleManages) {
        const scheduleManageTable = document.createElement('table');
        scheduleManageTable.classList.add('table');

        // Tạo hàng tiêu đề
        const headerRow = document.createElement('tr');
        headerRow.innerHTML = `
            <th>Địa điểm</th>
            <th>Ngày chiếu</th>
            <th>Phim</th>
            <th>Phòng</th>
            <th>thời gian bắt đầu</th>
            <th>thời gian kết thúc</th>
            <th>hiệu lực</th>
            <th>Thao tac</th>

        `;
        scheduleManageTable.appendChild(headerRow);

        // Tạo các hàng dữ liệu
        scheduleManages.forEach(scheduleManage => {
            const dataRow = document.createElement('tr');



            const date = new Date(scheduleManage.dayshow ? scheduleManage.dayshow.day : '');
            const day = String(date.getDate()).padStart(2, '0'); // Lấy ngày và thêm số 0 nếu cần
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Lấy tháng (tháng bắt đầu từ 0)
            const year = date.getFullYear(); // Lấy năm
            const formattedDate = `${day}/${month}/${year}`; // Định dạng ngày


            function formatTime(timeString) {
                const timeCustom = new Date(timeString);
                return timeCustom.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });
            }


            dataRow.innerHTML = `
                <td>${scheduleManage.place ? scheduleManage.place.name : ''}</td>
                <td>${formattedDate}</td>
                <td>${scheduleManage.film ? scheduleManage.film.name : ''}</td>
                <td>${scheduleManage.room ? scheduleManage.room.name : ''}</td>

                <td>${formatTime(scheduleManage.start_time)}</td>
                <td>${formatTime(scheduleManage.end_time)}</td>
                <td>${scheduleManage.status}</td>

               
                <td>
                    <span id="schedule-update" class="btn-update-manage"><i class="fa-regular fa-pen-to-square"></i></span>
                    <span id="schedule-delete" class="btn-delete-manage"><i class="fa-solid fa-trash-can"></i></span>
                </td>
            `;

            // Sự kiện toggle chọn
            dataRow.addEventListener('click', function () {
                const id = scheduleManage.id;
                if (selectedIds.has(id)) {
                    selectedIds.delete(id); // Nếu đã chọn, bỏ chọn
                    console.log("delete id:", selectedIds.delete(id))
                    dataRow.classList.remove('selected');
                } else {
                    selectedIds.add(id); // Nếu chưa chọn, thêm vào
                    console.log("add id:", selectedIds.add(id))
                    dataRow.classList.add('selected');
                }


                if (selectedIds.size > 0) {
                    deleteMultiBtn.style.display = 'flex';
                }
                else {
                    deleteMultiBtn.style.display = 'none';
                }

            });

            dataRow.querySelector('#schedule-delete').addEventListener('click', function () {
                if (confirm('Bạn có chắc chắn muốn xóa schedule này?')) {
                    getDeleteSchedule(scheduleManage.id);
                }
            });

            dataRow.querySelector('#schedule-update').addEventListener('click', function () {
                window.location.href = `/scheduleupdate/?scheduleId=${scheduleManage.id}`;
            });

            scheduleManageTable.appendChild(dataRow);
        });

        // Thêm bảng vào DOM
        const scheduleManageList = document.getElementById('manage-list');
        scheduleManageList.innerHTML = '';
        scheduleManageList.appendChild(scheduleManageTable);
    }


    function updatePaginationButtons() {
        prevPageBtn.disabled = currentPage === 1;
        nextPageBtn.disabled = !totalPages || currentPage === totalPages;
    }


    function getScheduleManage(page = 1) {

        const queryParamsPlace = idPlace ? { place: idPlace } : {};
        const queryStringPlace = new URLSearchParams(queryParamsPlace).toString();

        const queryParamsDayShow = idDayShow ? { dayshow: idDayShow } : {};
        const queryStringDayShow = new URLSearchParams(queryParamsDayShow).toString();

        const queryParamsFilm = idFilm ? { film: idFilm } : {};
        const queryStringFilm = new URLSearchParams(queryParamsFilm).toString();

        const queryParamsRoom = idRoom ? { room: idRoom } : {};
        const queryStringRoom = new URLSearchParams(queryParamsRoom).toString();

        const queryParamsStatus = statusSchedule ? { status__iexact: statusSchedule } : {};
        const queryStringStatus = new URLSearchParams(queryParamsStatus).toString();


        let url = `/api/schedules/?page=${page}&ordering=-updated_at&${queryStringPlace}&${queryStringDayShow}&${queryStringFilm}&${queryStringRoom}&${queryStringStatus}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                renderScheduleManage(data.results);
                totalPages = Math.ceil(data.count / data.results.length);
                currentPage = page;
                updatePaginationButtons();

                // Nếu không có next, ẩn nút next
                nextPageBtn.disabled = !data.next;
            })
            .catch(error => {
                console.error('Error fetching schedule data:', error);
            });
    }


    prevPageBtn.addEventListener('click', () => {
        getScheduleManage(currentPage - 1);
    });

    nextPageBtn.addEventListener('click', () => {
        getScheduleManage(currentPage + 1);
    });

    getScheduleManage();

    document.getElementById('status-film-select').addEventListener('change', (event) => {

        idPlace = document.getElementById('place-id').value;
        idDayShow = document.getElementById('dayshow-id').value;
        idFilm = document.getElementById('film-id').value;
        idRoom = document.getElementById('room-id').value;
        statusSchedule = document.getElementById('status-film-select').value;


        if (statusSchedule) {
            currentPage = 1; // Đặt lại trang hiện tại về 1
            getScheduleManage(currentPage);
        } else if (idPlace && idDayShow && idFilm && idRoom && statusSchedule) {
            currentPage = 1; // Đặt lại trang hiện tại về 1
            getScheduleManage(currentPage);

        } else {
            getScheduleManage(currentPage);
        }


    });



    function getDeleteSchedule(scheduleId) {
        const accessToken = localStorage.getItem('access_token');
        fetch(`/api/schedules/${scheduleId}/`, {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json',
            }
        })
            .then(response => {
                if (response.ok) {
                    console.log(`Đã xóa schedule có ID ${scheduleId} thành công!`);
                    // Có thể thêm code để cập nhật lại giao diện, ví dụ như xóa dòng tương ứng trong bảng
                    getScheduleManage();
                    selectedIds.clear(); // Xóa danh sách đã chọn
                    deleteMultiBtn.style.display = 'none';
                } else {
                    console.error(`Lỗi khi xóa schedule có ID ${scheduleId}: ${response.status} - ${response.statusText}`);
                }
            })
            .catch(error => {
                console.error(`Lỗi khi xóa schedule có ID ${scheduleId}: ${error}`);
            });
    }

    // Sự kiện cho nút "Xóa nhiều"

    deleteMultiBtn.addEventListener('click', () => {

        const accessToken = localStorage.getItem('access_token');

        if (confirm('Bạn có chắc chắn muốn xóa các schedule này?')) {
            if (selectedIds.size > 0) {
                const objects = Array.from(selectedIds); // Chuyển Set thành mảng
                const body = {
                    objects: objects,
                    object_type: "schedules",
                    operation: "delete"
                };

                fetch('/api/bulk_edit_objects/', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${accessToken}`,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(body)
                })
                    .then(response => {
                        if (response.ok) {
                            console.log(`Đã xóa các schedule thành công!`);
                            getScheduleManage(); // Tải lại danh sách
                            selectedIds.clear(); // Xóa danh sách đã chọn
                            deleteMultiBtn.style.display = 'none';
                        } else {
                            alert('Có lỗi xảy ra!');
                        }
                    })
                    .catch(error => {
                        console.error('Error deleting schedules:', error);
                    });
            }
        }
    });

</script>

{% endblock scheduleManage %}