{% extends 'adminmanager.html' %} 
{% load static %}

{% block serviceManage %} 

<style>
    

    .box-btn-manage{
        width: 100%;
        display: flex;
    
    }

    


    .manage-list{
        width: 100%;
        display: flex;
        font-size: 14px;
        margin-top: 20px;
        

    }

    .manage-list .table{

    }
    .manage-list .table tr{
        border-bottom: 1px solid #cdc197;
        

    }
    .manage-list .table tr th{
        min-width: 200px;
        text-align: center;
        border-left: 1px solid #cdc197;
    }

    .manage-list .table tr td{
        min-width: 200px;
        text-align: center;
        border-left: 1px solid #cdc197;
        padding: 10px;

        
        
    }

    .img-manage-service{
        width: 50%;
        object-fit: contain;
        padding: 0px !important;
        background: transparent !important;
    }
 

    .btn-update-manage{
        border: 2px solid #d5a12c !important;
        box-shadow: 0px 0px 0px 3px #cdc197 !important;
        
        font-size: 14px;
        font-weight: 1000;
        margin-right: 5px;
        cursor: pointer;
        color: #d5a12c !important;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 2px 10px !important;
        background-color: transparent !important;
        

    }
    .btn-delete-manage{
       
        border: 2px solid #d5a12c !important;
        box-shadow: 0px 0px 0px 3px #cdc197 !important;
        
        font-size: 14px;
        font-weight: 1000;

        cursor: pointer;
        color: #d5a12c !important;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 2px 10px !important;
        background-color: transparent !important;
        margin: 10px 0px;

    }

    


</style>

<span class="title-manage">Quản lý dịch vụ</span>

<div class="box-btn-manage">
<span id="insert-manage" class="insert-manage">Thêm</span>
<button id="delete-multi-manage" class="btn-delete-multi-manage" >Xóa nhiều</button>
</div>

<div id="manage-list" class="manage-list">

</div>

<div class="box-pagination">
    <button class="prev-page" disabled><i class="fa-solid fa-chevron-left"></i></button>
    <button class="next-page"><i class="fa-solid fa-chevron-right"></i></button>
</div>


<script>

    // Hàm kiểm tra access token
    function checkAccessToken() {
        const accessToken = localStorage.getItem('access_token');
        const isAdmin = localStorage.getItem('is_admin');

        if (!accessToken && isAdmin === 'false') {
            // Nếu không có token, chuyển hướng về trang đăng nhập
            window.location.href = '/login/';
        } else {
            const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
            const currentTime = Math.floor(Date.now() / 1000);

            // Kiểm tra xem token đã hết hạn chưa
            if (tokenPayload.exp < currentTime) {
                // Nếu token hết hạn, chuyển hướng về trang đăng nhập
                alert('token het han vui long login');
                localStorage.removeItem('access_token');
                localStorage.removeItem('refresh_token');
                localStorage.removeItem('session_name');
                localStorage.removeItem('is_admin');

                window.location.href = '/login/';
            } 
        }
    }

    checkAccessToken();

    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }

    const selectedIds = new Set();
    // Thêm nút "Xóa nhiều"
    
    const deleteMultiBtn = document.getElementById('delete-multi-manage');
    deleteMultiBtn.style.textShadow = '1px 1px 1px #000';
    deleteMultiBtn.style.display = 'none';


    const serviceManageList = document.getElementById('manage-list');
    const prevPageBtn = document.querySelector('.prev-page');
    const nextPageBtn = document.querySelector('.next-page');
    let currentPage = 1;
    let totalPages;
    
    document.getElementById('insert-manage').addEventListener('click', function() {
        window.location.href = '/serviceinsert/';
    });

    function renderServiceManage(serviceManages) {
        const serviceManageTable = document.createElement('table');
        serviceManageTable.classList.add('table');

        // Tạo hàng tiêu đề
        const headerRow = document.createElement('tr');
        headerRow.innerHTML = `
            <th>name</th>
            <th>title</th>
            <th>image</th>
            <th>description</th>
            <th>Thao tác</th>

        `;
        serviceManageTable.appendChild(headerRow);

        // Tạo các hàng dữ liệu
        serviceManages.forEach(serviceManage => {
            const dataRow = document.createElement('tr');
            dataRow.innerHTML = `
                <td>${serviceManage.name}</td>
                <td>${serviceManage.title}</td>
                <td><img id="service-manage-image" class="img-fluid img-manage-service" src="${serviceManage.image}" alt="${serviceManage.name}"></td>
                <td>${serviceManage.description }</td>
                <td>
                    <span id="service-update" class="btn-update-manage"><i class="fa-regular fa-pen-to-square"></i></span>
                    <span id="service-delete" class="btn-delete-manage"><i class="fa-solid fa-trash-can"></i></span>
                </td>
            `;

            // Sự kiện toggle chọn
            dataRow.addEventListener('click', function() {
                const id = serviceManage.id;
                if (selectedIds.has(id)) {
                    selectedIds.delete(id); // Nếu đã chọn, bỏ chọn
                    console.log("delete id:",selectedIds.delete(id))
                    dataRow.classList.remove('selected');
                } else {
                    selectedIds.add(id); // Nếu chưa chọn, thêm vào
                    console.log("add id:",selectedIds.add(id))
                    dataRow.classList.add('selected');
                }

                if(selectedIds.size > 0){
                    deleteMultiBtn.style.display = 'flex';
                }
                else {
                    deleteMultiBtn.style.display = 'none';
                }

            });

            dataRow.querySelector('#service-delete').addEventListener('click', function() {
                if (confirm('Bạn có chắc chắn muốn xóa service này?')) {
                    getDeleteService(serviceManage.id);
                }
            });
            
            dataRow.querySelector('#service-update').addEventListener('click', function() {
                window.location.href = `/serviceupdate/?serviceId=${serviceManage.id}`;
            });

            serviceManageTable.appendChild(dataRow);
        });

        // Thêm bảng vào DOM
        const serviceManageList = document.getElementById('manage-list');
        serviceManageList.innerHTML = '';
        serviceManageList.appendChild(serviceManageTable);
    }


    function updatePaginationButtons() {
        prevPageBtn.disabled = currentPage === 1;
        nextPageBtn.disabled = !totalPages || currentPage === totalPages;
    }

    
    function getServiceManage( page = 1) {
        let url = `/api/services/?page=${page}`;
        
        fetch(url)
        .then(response => response.json())
        .then(data => {
            renderServiceManage(data.results);
            totalPages = Math.ceil(data.count / data.results.length);
            currentPage = page;
            updatePaginationButtons();

            // Nếu không có next, ẩn nút next
            nextPageBtn.disabled = !data.next;
        })
        .catch(error => {
            console.error('Error fetching service data:', error);
        });
    }

    
    prevPageBtn.addEventListener('click', () => {
        getServiceManage( currentPage - 1);
    });
    
    nextPageBtn.addEventListener('click', () => {
        getServiceManage( currentPage + 1);
    });

    getServiceManage();



    function getDeleteService(serviceId) {
        const accessToken = localStorage.getItem('access_token');
        fetch(`/api/services/${serviceId}/`, {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (response.ok) {
                console.log(`Đã xóa service có ID ${serviceId} thành công!`);
                // Có thể thêm code để cập nhật lại giao diện, ví dụ như xóa dòng tương ứng trong bảng
                getServiceManage();
                selectedIds.clear(); // Xóa danh sách đã chọn
                deleteMultiBtn.style.display = 'none';
            } else {
                console.error(`Lỗi khi xóa service có ID ${serviceId}: ${response.status} - ${response.statusText}`);
            }
        })
        .catch(error => {
            console.error(`Lỗi khi xóa service có ID ${serviceId}: ${error}`);
        });
    }


    // Sự kiện cho nút "Xóa nhiều"
    
    deleteMultiBtn.addEventListener('click', () => {

        const accessToken = localStorage.getItem('access_token');

        if (confirm('Bạn có chắc chắn muốn xóa các service này?')) {
            if (selectedIds.size > 0) {
                const objects = Array.from(selectedIds); // Chuyển Set thành mảng
                const body = {
                    objects: objects,
                    object_type: "services",
                    operation: "delete"
                };
                
                fetch('/api/bulk_edit_objects/', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${accessToken}`,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(body)
                })
                .then(response => {
                    if (response.ok) {
                        console.log(`Đã xóa các service thành công!`);
                        getServiceManage(); // Tải lại danh sách
                        selectedIds.clear(); // Xóa danh sách đã chọn
                        deleteMultiBtn.style.display = 'none';
                    } else {
                        alert('Có lỗi xảy ra!');
                    }
                })
                .catch(error => {
                    console.error('Error deleting service:', error);
                });
            }
        }
    });

</script>

{% endblock serviceManage %} 
