{% extends 'base.html' %} 
{% load static %}

{% block ticketIssued %} 

<style>
    .container-bill{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;

    }
    .box-pay-detail{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .pay-detail{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .box-pay-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .pay-title{
        font-size: 24px;
        font-weight: 1000;
        padding-bottom: 20px;
        border-bottom: 1px solid #d5a12c;
        text-transform: uppercase;
    }

    .ticket-success{
        padding: 2px 0px 4px 0px;
        width: 24%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(42, 202, 69);
        border-radius: 5px;
        font-weight: 1000;
        margin-top: 20px;
        box-shadow: 0px 0px 2px 1px #d5a12c;

    }

    .pay-name-film{
        font-size: 24px;
        font-weight: 1000;
        text-transform: uppercase;
        padding: 7px 0px;

    }
    .box-pay-title{
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 30px;

    }
    .pay-age-film{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #cdc197;
        box-shadow: 0px 0px 3px 2px #d5a12c;
        font-size: 20px;
        font-weight: 1000;

    }
    .pay-imdb-film{
        font-weight: 1000;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;

    }
    .pay-imdb-built{
        background-color: #f5c518;
        font-weight: 1000;
        color: #000;
        padding: 0px 5px 3px 5px;
        border-radius: 3px;
        text-shadow: none;
        letter-spacing: -1px;
        font-size: 17px;

    }
    .pay-duration-film{
        font-weight: bold;
        font-size: 18px;
        margin-left: 10px;

    }
    .box-pay-info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .box-pay-day{
        display: flex;
        flex-direction: column;
        justify-content: center;


    }
    .pay-label{
        margin-bottom: 5px;

    }
    .pay-day-dayshow{
        font-weight: 1000;
        font-size: 18px;

    }
    .box-pay-hour{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .pay-start{
        font-weight: 1000;
        font-size: 18px;

    }
    .box-pay-room{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .pay-name-room{
        font-weight: 1000;
        font-size: 18px;

    }
    .box-pay-seat-combo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;

    }
    .box-pay-seat{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .box-list-seat{
        display: flex;
        align-items: center;
        font-weight: 1000;
        font-size: 18px;

    }

    .seat-item{

    }

    .seat-item-name{

    }

    .box-pay-combo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .box-list-combo{
        display: flex;
        align-items: center;
        font-weight: 1000;
        font-size: 18px;

    }
    .combo-item-name-unique{

    }
    .combo-name-unique{

    }

    .box-pay-adress{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
        border-bottom: 1px dashed #d5a12c;

    }
    .pay-label-place{

    }
    .pay-label-address{
        font-weight: 1000;
        font-size: 18px;
        margin: 0px;

    }

    .label-number-transaction{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 1000;

    }
    .box-number-transaction{
        border: 1px solid #d5a12c;
        padding: 5px 0px;
        margin: 10px 273px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0px 0px 3px 2px #d5a12c;

    }
    .number-transaction{
        margin-right: 10px;
    }

    .box-qr-code-ticket{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
    }
    .qr-code-ticket{
        width: 25%;
        box-shadow: 0px 0px 3px 10px #fff;
        border-radius: 3px;


    }
    .label-qr-code-ticket{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;

    }
    .label-code-ticket{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 1000;

    }
    .box-code-ticket{
        border: 1px solid #d5a12c;
        padding: 5px 0px;
        margin: 10px 230px 30px 230px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0px 0px 3px 2px #d5a12c;

    }
    .code-ticket{
        margin-right: 10px;

    }
    .fa-copy{
        font-size: 20px;

    }

    .box-pay-total-amount{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px;
        border-top: 1px solid #d5a12c;

    }
    .pay-label-total{
        font-size: 20px;

    }
    .pay-total-amount{
        font-size: 24px;
        font-weight: 1000;
    }

    .box-extract-ticket{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        border-top: 1px solid #d5a12c;
        

    }
    .btn-extract-ticket{
        padding: 5px 10px; 
        min-width: 300px;
        font-weight: bold;
        font-size: 18px;
        border: 2px solid #d5a12c;
        box-shadow: 0px 0px 0px 3px #cdc197;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
   

</style>

<div class="container-bill">
   
    <div class="box-pay-detail">
        <div id="pay-detail" class="pay-detail">
     
        </div>
    </div>

    
    
</div>

<script>
    
    // Hàm kiểm tra access token
    function checkAccessToken() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            // Nếu không có token, chuyển hướng về trang đăng nhập
            window.location.href = '/login/';
        } else {
            const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
            const currentTime = Math.floor(Date.now() / 1000);

            // Kiểm tra xem token đã hết hạn chưa
            if (tokenPayload.exp < currentTime) {
                // Nếu token hết hạn, chuyển hướng về trang đăng nhập
                alert('token het han vui long login');
                localStorage.removeItem('access_token');
                
                window.location.href = '/login/';
            } 
        }
    }

    checkAccessToken();

    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }


    const url = new URL(window.location.href);
    const ticketId = url.pathname.split('/')[2];

    
    console.log('ticket ID:', ticketId);


    fetch(`/api/bills/${ticketId}/`)
    .then(response => response.json())
    .then(data => {
        const payDetailContainer = document.getElementById('pay-detail');
        
        const date = new Date(data.pay.schedule.dayshow.day);
        const day = String(date.getDate()).padStart(2, '0'); // Lấy ngày và thêm số 0 nếu cần
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Lấy tháng (tháng bắt đầu từ 0)
        const year = date.getFullYear(); // Lấy năm
        const formattedDate = `${day}/${month}/${year}`; // Định dạng ngày

        const startTime = new Date(data.pay.schedule.start_time);
        const formattedStartTime = startTime.toLocaleTimeString('vi-VN', { hour: '2-digit', minute: '2-digit' });
       
        function formatCurrency(value) {
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
        } 


        payDetailContainer.innerHTML = `
            
            

            <div class="box-pay-content">
                <span class="pay-title">Chi tiết vé</span>
                <span class="ticket-success">Xuất vé thành công</span>


                <span class="pay-name-film">${data.pay.schedule.film.name}</span>
                <div class="box-pay-title">
                    <span class="pay-age-film">${data.pay.schedule.film.age}</span>
                    <span class="pay-imdb-film"> <span class="pay-imdb-built">IMDb</span> ${data.pay.schedule.film.imdb}</span>
                    <span class="">-</span>
                    <span class="pay-duration-film">${data.pay.schedule.film.duration} phút</span>
                    
                </div>
                

                

                
                
                
                <div class="box-pay-info">
                    <div class="box-pay-day">
                        <span class="pay-label">Ngày</span>
                        <span class="pay-day-dayshow">${formattedDate}</span>
                    </div>

                    <div class="box-pay-hour">
                        <span class="pay-label">Giờ</span>
                        <span class="pay-start">${formattedStartTime}</span>

                    </div>

                    <div class="box-pay-room">
                        <span class="pay-label">Rạp</span>
                        <span class="pay-name-room">${data.pay.schedule.room.name}</span>
                    </div>

                </div>

                <div class="box-pay-seat-combo">
                    <div class="box-pay-seat">
                        <span class="pay-label">Vị trí ghế</span>
                        <div id="pay-list-seat" class="box-list-seat">
    
                        </div>
                    </div>

                    <div class="box-pay-combo">
                        <span class="pay-label">Combo</span>
                        <div id="pay-list-combo" class="box-list-combo">
    
                        </div>
                    </div>


                </div>

                <div class="box-pay-adress">
                    <span class="pay-label">Rạp ${data.pay.schedule.place.name}</span>
                    <p class="pay-label-address">${data.pay.schedule.place.address}</p>
                
                </div>
                

                <span class="label-number-transaction">Số giao dịch</span>
                <div class="box-number-transaction">
                    <span class="number-transaction">${data.number_transaction}</span>
                    <i class="fa-regular fa-copy"></i>
                </div>

                <div class="box-qr-code-ticket">
                    <img src="${data.qr_code}" alt="QR code" class="qr-code-ticket">
                </div>

                <span class="label-qr-code-ticket">Đưa mã QR cho nhân viên soát vé</span>
                <span class="label-code-ticket">Mã vé</span>
                <div class="box-code-ticket">
                    <span class="code-ticket">${data.ticket_code}</span>
                    <i class="fa-regular fa-copy"></i>

                </div>




                <div class="box-pay-total-amount">
                    <span class="pay-label-total">Tổng tiền thanh toán</span>
                    <span class="pay-total-amount">${formatCurrency(data.pay.total_amount)}đ</span>
                </div>

            </div>
        `;

        const boxCodeTicketElement = document.querySelector('.box-code-ticket');
        const ticketCodeElement = document.querySelector('.code-ticket');

        boxCodeTicketElement.addEventListener('click', () => {
            const ticketCode = ticketCodeElement.textContent;
            
            navigator.clipboard.writeText(ticketCode)
                .then(() => {
                    alert('Đã sao chép mã vé: ' + ticketCode);
                })
                .catch(err => {
                    console.error('Không thể sao chép mã vé:', err);
                });
        });



        const boxNumberTransactionElement = document.querySelector('.box-number-transaction');
        const numberTransactionElement = document.querySelector('.number-transaction');

        boxNumberTransactionElement.addEventListener('click', () => {
            const numberTransaction = numberTransactionElement.textContent;
            
            navigator.clipboard.writeText(numberTransaction)
                .then(() => {
                    alert('Đã sao chép số giao dịch: ' + numberTransaction);
                })
                .catch(err => {
                    console.error('Không thể sao chép số giao dịch:', err);
                });
        });



        getComboNameUnique(data.pay.booking.id);
        getSeatList(data.pay.booking.id);
        

    })
    .catch(error => {
        console.error('Error fetching pay details:', error);
    });


    function getComboNameUnique(bookingId) {
        fetch(`/api/combodetails/?booking=${bookingId}`)
        .then(response => response.json())
        .then(data => {
            const comboNameUniqueList = document.getElementById('pay-list-combo');
            comboNameUniqueList.innerHTML = ''; 
    
            // Tập hợp để lưu các tên combo đã gặp
            const comboNames = new Set();
    
            data.results.forEach(comboNameUnique => {
                const comboName = comboNameUnique.combo.name;
    
                // Kiểm tra xem tên combo đã xuất hiện chưa
                if (!comboNames.has(comboName)) {
                    comboNames.add(comboName); // Thêm tên combo vào tập hợp
    
                    const comboNameUniqueItem = document.createElement('div');
                    comboNameUniqueItem.classList.add('combo-item-name-unique');
    
                    comboNameUniqueItem.innerHTML = `
                        <span class="combo-name-unique">${comboName}, </span>
                    `;
                    
                    comboNameUniqueList.appendChild(comboNameUniqueItem);
                    
                }
            });
    
           
        })
        .catch(error => {
            console.error('Error fetching combo name unique:', error);
        });
    }
    




    function getSeatList(bookingId) {
        fetch(`/api/bookingdetails/?booking=${bookingId}`)
        .then(response => response.json())
        .then(data => {
            const bookingDetailList = document.getElementById('pay-list-seat');
            bookingDetailList.innerHTML = ''; 

            data.results.forEach(bookingDetail => {
                const bookingDetailItem = document.createElement('div');
                bookingDetailItem.classList.add('seat-item');

                bookingDetailItem.innerHTML = `
                    
                        <span class="seat-item-name">${bookingDetail.seat.name}, </span>
            
                `;
                 
                
                
                bookingDetailList.appendChild(bookingDetailItem);
            });

            
        })
        .catch(error => {
            console.error('Error fetching area details:', error);
        });
    }


    


</script>



{% endblock ticketIssued %} 
