{% extends 'adminmanager.html' %} 
{% load static %}

{% block ticketManage %} 

<button id="insert-manage">Thêm</button>
<button id="delete-multi-manage">Xóa nhiều</button>
<div id="manage-list">

</div>
<div class="pagination">
    <button class="btn btn-primary prev-page" disabled>Trang trước</button>
    <button class="btn btn-primary next-page">Trang sau</button>
</div>


<script>

    // Hàm kiểm tra access token
    function checkAccessToken() {
        const accessToken = localStorage.getItem('access_token');
        const isAdmin = localStorage.getItem('is_admin');

        if (!accessToken && isAdmin === 'false') {
            // Nếu không có token, chuyển hướng về trang đăng nhập
            window.location.href = '/login/';
        } else {
            const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
            const currentTime = Math.floor(Date.now() / 1000);

            // Kiểm tra xem token đã hết hạn chưa
            if (tokenPayload.exp < currentTime) {
                // Nếu token hết hạn, chuyển hướng về trang đăng nhập
                alert('token het han vui long login');
                localStorage.removeItem('access_token');
                localStorage.removeItem('refresh_token');
                localStorage.removeItem('session_name');
                localStorage.removeItem('is_admin');

                window.location.href = '/login/';
            } 
        }
    }

    checkAccessToken();

    // Hàm kiểm tra access token trước khi gửi yêu cầu API
    function isAccessTokenValid() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            return false;
        }
        const tokenPayload = JSON.parse(atob(accessToken.split('.')[1]));
        const currentTime = Math.floor(Date.now() / 1000);
        return tokenPayload.exp >= currentTime;
    }

    const selectedIds = new Set();
    // Thêm nút "Xóa nhiều"
    
    const deleteMultiBtn = document.getElementById('delete-multi-manage');
    deleteMultiBtn.classList.add('btn', 'btn-danger');
    deleteMultiBtn.disabled = true; // Bắt đầu là vô hiệu hóa


    const ticketManageList = document.getElementById('manage-list');
    const prevPageBtn = document.querySelector('.prev-page');
    const nextPageBtn = document.querySelector('.next-page');
    let currentPage = 1;
    let totalPages;
    
    document.getElementById('insert-manage').addEventListener('click', function() {
        window.location.href = '/ticketinsert/';
    });

    function renderTicketManage(ticketManages) {
        const ticketManageTable = document.createElement('table');
        ticketManageTable.classList.add('table');

        // Tạo hàng tiêu đề
        const headerRow = document.createElement('tr');
        headerRow.innerHTML = `
            <th>Price</th>
            <th>Schedule</th>
            <th>Type</th>

        `;
        ticketManageTable.appendChild(headerRow);

        // Tạo các hàng dữ liệu
        ticketManages.forEach(ticketManage => {
            const dataRow = document.createElement('tr');
            dataRow.innerHTML = `
        
                <td>${ticketManage.price}</td>
                <td>${ticketManage.schedule ? ticketManage.schedule.start_time : ''} - ${ticketManage.schedule ? ticketManage.schedule.end_time : ''} </td>
                <td>${ticketManage.type}</td>
            
                <td>
                    <button id="ticket-update" class="btn btn-primary btn-sm">Chỉnh sửa</button>
                    <button id="ticket-delete" class="btn btn-danger btn-sm">Xóa</button>
                </td>
            `;

            // Sự kiện toggle chọn
            dataRow.addEventListener('click', function() {
                const id = ticketManage.id;
                if (selectedIds.has(id)) {
                    selectedIds.delete(id); // Nếu đã chọn, bỏ chọn
                    console.log("delete id:",selectedIds.delete(id))
                    dataRow.classList.remove('selected');
                } else {
                    selectedIds.add(id); // Nếu chưa chọn, thêm vào
                    console.log("add id:",selectedIds.add(id))
                    dataRow.classList.add('selected');
                }
                deleteMultiBtn.disabled = selectedIds.size === 0; // Bật/tắt nút xóa nhiều
            });

            dataRow.querySelector('#ticket-delete').addEventListener('click', function() {
                if (confirm('Bạn có chắc chắn muốn xóa ticket này?')) {
                    getDeleteTicket(ticketManage.id);
                }
            });
            
            dataRow.querySelector('#ticket-update').addEventListener('click', function() {
                window.location.href = `/ticketupdate/?ticketId=${ticketManage.id}`;
            });

            ticketManageTable.appendChild(dataRow);
        });

        // Thêm bảng vào DOM
        const ticketManageList = document.getElementById('manage-list');
        ticketManageList.innerHTML = '';
        ticketManageList.appendChild(ticketManageTable);
    }


    function updatePaginationButtons() {
        prevPageBtn.disabled = currentPage === 1;
        nextPageBtn.disabled = !totalPages || currentPage === totalPages;
    }

    
    function getTicketManage( page = 1) {
        let url = `/api/tickets/?page=${page}`;
        
        fetch(url)
        .then(response => response.json())
        .then(data => {
            renderTicketManage(data.results);
            totalPages = Math.ceil(data.count / data.results.length);
            currentPage = page;
            updatePaginationButtons();

            // Nếu không có next, ẩn nút next
            nextPageBtn.disabled = !data.next;
        })
        .catch(error => {
            console.error('Error fetching ticket data:', error);
        });
    }

    
    prevPageBtn.addEventListener('click', () => {
        getTicketManage( currentPage - 1);
    });
    
    nextPageBtn.addEventListener('click', () => {
        getTicketManage( currentPage + 1);
    });

    getTicketManage();



    function getDeleteTicket(ticketId) {
        const accessToken = localStorage.getItem('access_token');
        fetch(`/api/tickets/${ticketId}/`, {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${accessToken}`,
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (response.ok) {
                console.log(`Đã xóa ticket có ID ${ticketId} thành công!`);
                // Có thể thêm code để cập nhật lại giao diện, ví dụ như xóa dòng tương ứng trong bảng
                getTicketManage();
                selectedIds.clear(); // Xóa danh sách đã chọn
                deleteMultiBtn.disabled = true; // Tắt nút xóa nhiều
            } else {
                console.error(`Lỗi khi xóa ticket có ID ${ticketId}: ${response.status} - ${response.statusText}`);
            }
        })
        .catch(error => {
            console.error(`Lỗi khi xóa ticket có ID ${ticketId}: ${error}`);
        });
    }

    // Sự kiện cho nút "Xóa nhiều"
    
    deleteMultiBtn.addEventListener('click', () => {

        const accessToken = localStorage.getItem('access_token');

        if (confirm('Bạn có chắc chắn muốn xóa các ticket này?')) {
            if (selectedIds.size > 0) {
                const objects = Array.from(selectedIds); // Chuyển Set thành mảng
                const body = {
                    objects: objects,
                    object_type: "tickets",
                    operation: "delete"
                };
                
                fetch('/api/bulk_edit_objects/', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${accessToken}`,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(body)
                })
                .then(response => {
                    if (response.ok) {
                        console.log(`Đã xóa các ticket thành công!`);
                        getTicketManage(); // Tải lại danh sách
                        selectedIds.clear(); // Xóa danh sách đã chọn
                        deleteMultiBtn.disabled = true; // Tắt nút xóa nhiều
                    } else {
                        alert('Có lỗi xảy ra!');
                    }
                })
                .catch(error => {
                    console.error('Error deleting tickets:', error);
                });
            }
        }
    });

</script>

{% endblock ticketManage %} 
