body {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.selected{
    opacity: 0.5;
}
.background-base {
    
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;

}


@keyframes loadingturn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.box-loading{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
    
}

.item-loading1{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #eee;
    border-top: 3px solid #d5a12c;
    border-radius: 50%;
    animation: loadingturn 1s infinite linear;
    
    
    
}
.item-loading2{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #eee;
    border-right: 3px solid #d5a12c;
    border-radius: 50%;
    animation: loadingturn 1s infinite linear;
}
.item-loading3{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #eee;
    border-bottom: 3px solid #d5a12c;
    border-radius: 50%;
    animation: loadingturn 1s infinite linear;
}
.item-loading4{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #eee;
    border-top: 3px solid #d5a12c;
    border-radius: 50%;
    animation: loadingturn 1s infinite linear;
}

.item-loading5{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #eee;
    border-right: 3px solid #d5a12c;
    border-radius: 50%;
    animation: loadingturn 1s infinite linear;
}

.icon-back-base{
    position: fixed;
    top: 620px; 
    right: 30px;
    padding: 5px 10px;
    box-shadow: 0px 0px 3px 2px #cdc197;
    border: 2px solid #d5a12c;
    cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    color: #d5a12c;
    z-index: 10000;
    transition: all 0.2s linear;
    border-radius: 5px;

}
.icon-back-base:hover{
    border-color: #cdc197;
    box-shadow: 0px 0px 3px 2px #d5a12c;
    color: #cdc197;
    
}



.button-toggle {
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: #000;
    border: none;
    cursor: pointer;
    padding: 0px 5px;
    border-radius: 5px;
    
    transition: background-color 0.3s, color 0.3s;
}

.header-base{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.header-base-top{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    padding: 3px 10px;
    background-color: #efebdb;

}

.btn-logout{
    font-size: 12px;
    max-width: 73px;
    padding:5px;
    cursor: pointer;

}
.btn-login{
    font-size: 12px;
    max-width: 73px;
    padding:5px;
    cursor: pointer;
}
.header-base-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid #cdc197;
  
}
.header-box-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo-item{
    width: 21%; 
    height: 100px;
    margin-top: 25px;
    cursor: pointer;

}
.logo-img{
    width: 100%;
    height: 100%;
}

.header-box-info{
    width: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2%;

}
.header-content-info{
    padding: 5px 15px;
    background-color: #cdc197;
}


.box-container-admin{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.container-tab-bar{
    padding: 0px 0px 2px 15px;
    display: flex;
    font-size: 14px;
    border-right: 1px solid #cdc197;
    background-color: #efebdb;

}

.box-tab-bar-left{
    display: flex;
    padding: 0px 15px 0px 0px;
    
    


}
.container-tab-bar-left{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    list-style: none;

}
.item-tab-barleft{
    padding: 7px 0px;
    border-bottom: 1px solid #cdc197;
    cursor: pointer;
    transition: all 0.2s linear;


}

.item-tab-barleft:hover{
    color: #cdc197; /* Màu sắc khi được chọn */
    text-shadow: 1px 1px 1px #d2a02f;
}

.item-tab-barleft-top:hover{
    color: #cdc197; /* Màu sắc khi được chọn */
    text-shadow: 1px 1px 1px #d2a02f;
}

.item-tab-barleft-top{
    font-size: 20px;
    padding: 10.5px 0px;
    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #cdc197;
    transition: all 0.2s linear;
}
.item-tab-bar-right-top{
    font-size: 25px;
    padding: 8px 0px;
    min-width: 108px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #cdc197;
    transition: all 0.2s linear;
}
.box-tab-bar-right{
    display: flex;
    padding: 0px 15px 0px 15px;
    border-left: 1px solid #cdc197;
    
    

}

.container-tab-bar-right{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    list-style: none;

}
.item-tab-bar-right{
    padding: 7px 0px;
    min-width: 108px;
    font-weight: bold;
    border-bottom: 1px solid #cdc197;
    cursor: pointer;
    transition: all 0.2s linear;

}

.item-tab-bar-right-top:hover{
    color: #cdc197; /* Màu sắc khi được chọn */
    text-shadow: 1px 1px 1px #d2a02f;
}

.item-tab-bar-right:hover{
    color: #cdc197; /* Màu sắc khi được chọn */
    text-shadow: 1px 1px 1px #d2a02f;
}

.container-base{
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.title-manage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 0px 13px ;
    margin-bottom: 15px;
    border-bottom: 1px solid #cdc197;

}

.insert-manage{
    min-width: 100px;
    height: 25px;
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 3px;

}
.btn-delete-multi-manage{
    min-width: 100px;
    height: 25px;
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #d5a12c;
    border-radius: 3px;
    background-color: transparent;

}


.manage-list{
 background-color: #efebdb;
}

.manage-list .table{
    margin-bottom: 0px !important;
}

.manage-list .table th{
    padding: 7px 0px;
}





.box-pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.prev-page{
    padding: 5px 10px; 
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    margin: 7px ;
    color: #d5a12c;
    text-shadow: 1px 1px 1px #000;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    cursor: pointer;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}
.next-page{
    padding: 5px 10px; 
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    margin: 7px ;
    color: #d5a12c;
    text-shadow: 1px 1px 1px #000;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}


.footer-base{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    box-shadow: 0px 0px 3px 2px #d5a12c;
    font-size: 13px;
}
.box-footer-base{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer-box-logo{
    cursor: pointer;
    width: 20%;
    margin-bottom: 20px;

}
.footer-logo-item{
    width: 100%;


}
.footer-logo-img{
    width: 100%;

}
.img-logo-footer{
    
}
.text-footer{

}

.text-color {
    color: #cdc197; /* Màu sắc khi được chọn */
    text-shadow: 1px 1px 1px #d2a02f;
    
}



/* table */

td{
    max-width: 200px;
}