.container-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.image-contact-logo{
    width: 20%;
    margin: 50px 0px 15px;
}
.box-contact-conten-all{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;

}
.box-service-all{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1.5px 1.5px 1.5px #000;
    font-size: 22px;
    font-weight: bold;

}
.box-service-list-auto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-list-auto-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.service-image-item{
    width: 100%;
    height: 100%;
}
.box-service-info{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.service-name{
    
    color: brown;

}
.service-title{
    color: white;

}

.box-contact-content-all{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.box-service-detail{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    text-shadow: 1px 1px 1px #000;
    

}

.service-image-detail{
    width: 100%;
    height: 100%;
}
.box-service-detail-info{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 12% 17%;
}
.service-detail-name{
    font-size: 22px;
    color: brown;
    font-weight: bold;
}
.service-detail-title{
    font-size: 22px;
    color: white;
    font-weight: bold;


}
.service-detail-description{
    
    width: 100%; 
    height: 100px;
    font-size: 14px;
    margin: 0px;
    overflow: hidden;
    transition: all 0.2s linear;
    

}


.service-detail-description:hover{
    overflow-y: auto;
}

.service-detail-description::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

.service-detail-description::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.2); /* Set the color of the scrollbar track */
    border-radius: 3px;
}

.service-detail-description::-webkit-scrollbar-thumb {
    background-color: #d5a12c; /* Set the color of the scrollbar thumb */
    border-radius: 3px;
}

.service-detail-description::-webkit-scrollbar-thumb:hover {
    background-color: #f0aa08; /* Set the color of the scrollbar thumb on hover */
}


.box-contact-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 0px;
}

.box-input-contact-detail{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.box-input-contact-info{
    margin: 7px 10px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    

}

.box-input-contact-info-detail{
    width: 100%;
    margin: 7px 10px;
    
}

.form-control {
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    outline-color: #cdc197 !important;
    color: #d5a12c !important;
    text-shadow: 1px 1px 1px #000;
    box-shadow: 0px 0px 0px 2px #cdc197;
    border: 2px solid #d5a12c !important;
    border-radius: 3px;
    transition: all 0.2s linear;
}

.form-control::placeholder{
    color: #cdc197;
    opacity: 0.6;
}

.form-control:hover{
    border-color: #cdc197 !important;
    box-shadow: 0px 0px 0px 2px #d5a12c;

}

.btn-create{
    padding: 5px 0px;
    min-width: 200px;
    display: flex;
    color: #d5a12c;
    text-shadow: 1px 1px 1px #000;
    justify-content: center;
    align-items: center;
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.2s linear;
}

.btn-create:hover{
    color: #cdc197;
    border-color: #cdc197;
    box-shadow: 0px 0px 0px 3px #d5a12c;
}