.container-film-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.box-btn-show{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

}
.btn-now{
    padding: 5px 10px; 
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    margin: 7px ;
    cursor: pointer;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: all 0.2s linear;
    min-width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-now:hover{
    color: #cdc197;
    border-color: #cdc197;
    box-shadow: 0px 0px 0px 3px #d5a12c;
}


.btn-comming{
    padding: 5px 10px; 
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    margin: 7px ;
    cursor: pointer;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.2s linear;
    min-width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-comming:hover{
    color: #cdc197;
    border-color: #cdc197;
    box-shadow: 0px 0px 0px 3px #d5a12c;
}

.box-search-film{
    width: 69%;
    border: 2px solid #cdc197;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 10px;
    margin: 30px 0px 10px;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.05);
    transition: all 0.2s linear;
    

}

.box-search-film:hover {
    border: 2px solid #d5a12c;

}

.box-search-film:hover .btn-search-film{
    color: #d5a12c;
}

.box-search-film:hover .input-search-film::placeholder{
    color: #d5a12c;
}


.btn-search-film{
    margin: 0px 5px 0px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 1000;
    color: #cdc197;
    transition: all 0.2s linear;

}




.input-search-film{
    color: #d5a12c;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px;
    
    
    transition: all 0.2s linear;
    

}

.input-search-film::placeholder {
    transition: all 0.2s linear;
    color: #cdc197; 
    opacity: 0.8;
}









.box-film-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.film-list{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.8px;
    
    
}


.film-item{
    width: 24%;
    height: 348px;
    display: flex;
    justify-content: end;
    
    margin: 5px;
    transition: all 0.2s linear;
    overflow: hidden;
    
}

.film-item:hover .box-film-item-content-imdb{
    transform: translateX(95px);
}

.film-item:hover .box-film-item-time-coming{
    display: none;
}

.box-film-item-content-imdb{
    display: flex;
    min-width: 95px;
    height: 43px;
    z-index: 500;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    padding: 0px 7px;
    box-shadow: 0px 0px 2px 2px #cdc197;
    transition: all 0.3s linear;
    border-bottom-right-radius: 7px;
    transform: translateX(-3px);
    
}

.film-home-content-imdb{
    width: 100%;
    font-weight: 17px;
    font-weight: bold;
    display: flex;


}
.film-home-detail-content-imdb{
    background-color: #f5c518;
    font-weight: 1000;
    color: #000;
    padding: 0px 5px 2px 5px;
    border-radius: 3px;
    text-shadow: none;
    letter-spacing: -1px;
    margin-right: 5px;

}

.box-film-item-img-content{
    width: 100%;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    transition: all 0.2s linear;
    

}

.film-item:hover{
    box-shadow: 0px 0px 3px 2px #cdc197 ;
}
.film-item:hover .box-film-item-operation{
    display: flex;
    
}

.film-item:hover .film-item-content{
    transform: translateY(-74px);
}



.box-film-item-img{
    width: 255px;
    min-height:348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.film-item-img{
    width: 100%;
    height: 100%;
    
    
}
.box-film-item-operation{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13.5px;
}

.box-film-item-time-coming{
    position:absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0px 7px 0px 7px;
    border-radius: 10px;
    bottom: 10px;
    
    color: #fff; 
   
    background-color: rgb(0,0,0,0.6);
    
    
}

.box-film-item-operation
.btn-booking{
    padding: 5px 10px; 
    min-width: 100px;
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s linear;
    
    
}

.btn-booking:hover{
    background-color: rgb(0,0,0,0.7);
    border-color: #cdc197;
    box-shadow: 0px 0px 7px 7px #d5a12c;
    
}

.btn-film-details{
    padding: 5px 10px; 
    min-width: 100px;
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s linear;
    
}

.btn-film-details:hover{
    background-color: rgb(0,0,0,0.7);
    border-color: #cdc197;
    box-shadow: 0px 0px 7px 7px #d5a12c;
}

.film-item-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.3s linear;
}
.box-film-item-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 7px;
    border-bottom: 1px solid #cdc197;
    border-top: 1px solid #cdc197;
    font-size: 14px;
    font-weight: bold;
    

}
.film-item-age{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 2px #cdc197;
    

}
.film-item-name{
    text-transform: uppercase;
    margin-left: 7px;
    letter-spacing: 1px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box-film-time{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    font-size: 13px;
    

}
.film-item-duration{
    border-right: 1px solid #cdc197;
    padding-right: 7px;
}
.film-item-release{
    border-left: 1px solid #cdc197;
    padding-left: 7px;
}


.box-see-more-all{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px 0px 0px;
    transition: all 0.2s linear;
    z-index: 100;
}

.box-see-more-all:hover .box-see-more-button{
    color: #cdc197;
    border-color: #cdc197;
    box-shadow: 0px 0px 0px 3px #d5a12c;
}

.box-see-more-all:hover .icon-see-more{
    transform: translateY(1px);
    color: #d5a12c;
}

.box-see-more-button{
    width: 100%;
    padding-bottom: 1px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    border: 2px solid #d5a12c;
    box-shadow: 0px 0px 0px 3px #cdc197;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.2s linear;
    cursor: pointer;
    z-index: 100;
    background-color: #ffffff;
    
    
}



.text-see-more-button{
   
    text-transform: uppercase;
    font-size: 16px;
    
    
}

.icon-see-more{
    
    font-size: 30px;
    line-height: 15px;
    color:#cdc197;
    transition: all 0.2s linear;
    transform: translateY(-14px);
    
}