.container-promotion-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 3px 2px #d5a12c;

}

.promotion-image-container{
    width: 12%;
}

.box-search-time{
    width: 20%;
    border: 2px solid #cdc197;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 10px;
    margin: 0px 0px 30px;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.05);
    transition: all 0.2s linear;
}

.box-search-time:hover {
    border: 2px solid #d5a12c;

}

.box-search-time:hover .btn-search{
    color: #d5a12c;
}



.btn-search{
    margin: 0px 5px 0px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 1000;
    color: #cdc197;
    transition: all 0.2s linear;

}




.input-search-time{
    color: #d5a12c;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px;
    transition: all 0.2s linear;

}




.promotion-list{
    width: 70%;
    display: flex;
    flex-wrap: wrap;

}

.promotion-item-box{
    width: 24%;
    display: flex;
    height: 240px;
    flex-direction: column;
    align-items: center;
    
    border: 1px solid #d5a12c;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s linear;
    overflow: hidden;

}
.promotion-item-box:hover{
    box-shadow: 0px 0px 3px 2px#d5a12c ;
}

.promotion-item-box:hover .box-promotion-time{
    transform: translateY(-35px);
}

.box-promotion-item-cover{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    
    

}
.box-promotion-item-img{
    width: 100%;
    min-height: 240px;
    display: flex;
    
    

}
.promotion-item-img{
    width: 100%;
    height: 100%;

}
.box-promotion-time{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-top: 1px solid #d5a12c;
    font-size: 13.5px;
    transition: all 0.2s linear;
    background-color: rgba(0,0,0,0.7);
    font-weight: bold;

}
.promotion-item-start-date{
    margin-right: 4px;
}
.promotion-item-end-date{
    margin-left: 4px;
}